.banner{
	text-align: center;
	margin: 10px auto;
}
.table-style1 th{
	width: 60%;
	padding:10px;	
}

.img-smaller{
float:left;margin-right:10px;
}
.behuzlist{list-style:disc;padding-left:10px;margin-left:15px;}
.caltd{width:24px;float:left;text-alig:center;}
.caltdb{width:24px;float:left;text-alig:center;background-color:#bfbce2;}
.caltdred{width:24px;float:left;text-alig:center;background-color:#d21e5a;color:#fff;}
.caltdszurke{width:24px;float:left;text-alig:center;background-color:#555;color:#fff;}
.caltdsarga{width:24px;float:left;text-alig:center;background-color:#EAAB06;}
.caltr{height:15px;text-align:center;}
.caltrd{height:15px;text-align:center;background-color:#ccc;}
.caltrm{height:15px;text-align:center;background-color:#686987;color:#fff;font-size:10px;line-height:15px;}
.calbox{width:170px;height:135px;float:left;margin-right:5px;border:1px solid #ccc;line-height:15px;margin-bottom:10px;font-size:10px;}

.jurnalistpic{height:50px;}
.fullnewslistpannon1{clear: both; width: 100%; padding: 20px, 0, 0, 5px; background-image: url(/images/banner/kalkulator-pannon1-bg.gif); background-repeat: repeat-all; background-position: 0 0;}
.ui-datepicker-year{color:#000000;}
.page-break	{ display: block; page-break-before: always; }
.ui-datepicker-month{color:#000;}
.ui-datepicker-title select {
    font-size: 1em;
    color: #000;
}
.ui-icon { width: 16px; height: 16px; background-image: url(img/ui-icons_777777_256x240.png); }
/* flyer */
#scarab_flyer{
	position: fixed;
	right: -400px; bottom: 60px;
	width: 330px;
	background: #f8f8f8;
	border: solid 1px #dbdbdb;
	box-shadow: -2px 2px 5px #999;
	z-index: 2100;
	font-size:13px;
}
#scarab_flyer h3{
	position: relative;
	padding: 5px 10px;
	width: 320px;
	font-weight: bold;
	font-size: 12px;
	color: #4a4a4a;
	text-transform: uppercase;
}
#scarab_flyer h3 a{
	position: absolute;
	right: 10px; top: 5px;
	display: block;
	padding: 5px 0 0 10px;
	width: 50px;
	height: 19px;
	/*background: #fff url(/frame/ezmilyen/close.gif) no-repeat 45px 8px;*/
	font-weight: normal;
	font-size: 11px;
	color: #4a4a4a;
	text-decoration: none;
	text-transform: none;
}
#scarab_flyer h3 a:hover{
	color: #745587;
}
#scarab_flyer .cont{
	padding: 0 10px 5px 10px;
	width: 320px;
}
#scarab_flyer .cont a.pic{
	display: block;
	float: left;
	margin: 0 10px 0 0;
	width: 80px;
	text-decoration: none;
}
#scarab_flyer .cont h4{
	margin: 0 0 5px;
	font-size: 15px;
}
#scarab_flyer .cont h4 a{
	color: #745587;
	text-decoration: none;
}
#scarab_flyer .cont h4 a:hover{
	text-decoration: underline;
}
#scarab_flyer .comment{
	float: left;
	margin: 0 10px 0 0;
}
#scarab_flyer .comment img{
	vertical-align: middle;
}
#scarab_flyer .fb{
	float: left;
	margin: 0 10px 0 0;
}

#hrpremium_flyer{
	position: fixed;
	left: -400px; bottom: 60px;
	width: 380px;
	min-height:130px;
	background: #f8f8f8;
	border: solid 1px #dbdbdb;
	box-shadow: -2px 2px 5px #999;
	z-index: 2100;
}
#hrpremium_flyer h3{
	position: relative;
	padding: 5px 10px;
	width: 360px;
	font-weight: bold;
	font-size: 12px;
	color: #4a4a4a;
	text-transform: uppercase;
}
#hrpremium_flyer h3 a{
	position: absolute;
	right: 10px; top: 5px;
	display: block;
	padding: 5px 0 0 10px;
	width: 50px;
	height: 19px;
	/*background: #fff url(/frame/ezmilyen/close.gif) no-repeat 45px 8px;*/
	font-weight: normal;
	font-size: 11px;
	color: #4a4a4a;
	text-decoration: none;
	text-transform: none;
}
#hrpremium_flyer h3 a:hover{
	color: #745587;
}
#hrpremium_flyer .cont{
	padding: 0 10px 5px 10px;
	width: 360px;
}
#hrpremium_flyer .cont a.pic{
	display: block;
	float: left;
	margin: 0 10px 0 0;
	width: 80px;
	text-decoration: none;
}
#hrpremium_flyer .cont h4{
	margin: 0 0 5px;
	font-size: 15px;
}
#hrpremium_flyer .cont h4 a{
	color: #745587;
	text-decoration: none;
}
#hrpremium_flyer .cont h4 a:hover{
	text-decoration: underline;
}
#hrpremium_flyer .comment{
	float: left;
	margin: 0 10px 0 0;
}
#hrpremium_flyer .comment img{
	vertical-align: middle;
}
#hrpremium_flyer .fb{
	float: left;
	margin: 0 10px 0 0;
}

.scarabbutton{float:left;width:15px;margin-left:10px;cursor:pointer;text-align:center;}
.scarabbutton:hover{color:#fff;background-color:#745587;}
.scarabact{color:#fff;background-color:#745587;}

.boximg{width:100%;max-width:320px;}
.boximg-100{width:100%;max-width:100px;}
.gsc-results-wrapper-overlay, .gsc-results-wrapper-visible, .gsc-search-button, .gsc-search-button-v2 {
        box-sizing: content-box;
    }
    
.gsc-input{border:none;}
.gsc-input-box {border:1px solid #ccc;height:20px;margin:5px;background:none;}
.gstl_50 {padding:5px;border:0;}


#wrapper{margin-top:280px;}

#hir-nav .nav-tabs > li > a{
    padding-left: 4px;
    padding-right: 4px;
}

.bbox-outer-50{border: #a9a9a9 1px solid; padding: 2px; margin: 5px; float: left; width: 50%; height: auto; background-color: #fff;margin-right:30px;}
.bbox-grey{width:100%;PADDING: 6px; VERTICAL-ALIGN: top; height: 100%; background-color: #d3d3d3;}
.bbox-blue{PADDING: 6px; VERTICAL-ALIGN: top;  height: 100%; background-color: #d5d3e9;overflow:hidden;}
.bbox-green{padding: 6px; height: 100%; background-color: #c8e497;overflow:hidden;}
.bbox-outer-100{border: #a9a9a9 1px solid; padding: 2px;  margin: 5px;  height: 100%; background-color: #fff;}

.bbox-outer-50 img{width:100%;}
blockquote{
    font-size: 16px;
    background-color:#eee;
}

.fixedbox
 {
  position: fixed;
  bottom: 0px;
  left: 0px;
  
  margin-bottom:-2px;
  z-index:2200;
  
  }
.fixedbox-close{border:0;position:relative;left:1120px;bottom:10px;z-index:10000;cursor:pointer;}
.bmaxi {
	  background-attachment:fixed;
	  background-image:url('/images/banner/renault/REN-Kadjar-Captur_SKIN_HR_2016-OKT_1600x800_v2_LEADOS.JPG');
	  background-size: auto auto;
	  background-repeat:no-repeat;
	  background-position:center top;
	  cursor:pointer;
}
