@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic&subset=latin,latin-ext);
body {
    font: 14px/1.5em 'Open Sans', Arial, sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eee;
}
.container {
    position: relative;
}
#wrapper {
    width: 100%;
    background-color: #fff;
    padding: 50px 15px 0 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    position: relative;
}

#wrapper.boxed {
    width: 970px;
    margin: 30px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

::selection {
    background-color: #61ae24;
    color: #fff;
}

::-moz-selection {
    background-color: #61ae24;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    color: #444645;
    margin-top: 0;
    font-weight: 700;
    line-height: 1.4em
}

h1 {
    font-size: 30px;
    line-height: 1.3em
}
h1 span {
	color: #D21E57;
}

h2 {
	font-size: 20px;
    line-height: 1.4em
}
h2.tags i {
	color: #D21E57;
}
h2 span {
	color: #D21E57;
}
h5 {
    font-size: 15px;
    line-height: 1.3em
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.list-disc {
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 20px;
}

ul li i,
a.link {
    color: #d21e5a;
}

a {
    -webkit-transition: color .24s ease-in-out;
    -moz-transition: color .24s ease-in-out;
    -o-transition: color .24s ease-in-out;
    -ms-transition: color .24s ease-in-out;
    transition: color .24s ease-in-out;
    color: #2f3753;
}

a:active,
a:hover,
a:focus, 
.secondary {
    text-decoration: none;
    color: #d21e5a;
}

a:active,
a:focus,
input,
select,
textarea {
    outline: none;
}

iframe {
    border: none;
}

label span,
.normal-label {
    font-weight: normal;
}
fieldset {
    background-color: #eee;
    padding: 10px 10px 0 10px ;
    margin-bottom: 20px;
}
blockquote p{
    font-size: 11px;
}



hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ebebeb;
}
hr.narrow {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ddd;
}
.btn-main {
    color: #fff;
    background-color: #d21e5a;
    border-color: #a71d4b;
}
.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active {
	color:#fff;
	background-color:#a71d4b;
	border-color: #a71d4b;
}



a.more-btn {
    color: #2f3753;
    display: inline-block;
    background-color: #eee;
    padding: 0 10px;
    margin: 0 10px 0 0;
    line-height: 1.5em
}

a.more-btn:hover {
    color: #d21e5a;
}

.time {
    color: #2f3753;
    display: inline-block;
    background-color: #eee;
    padding: 0 5px;
    margin: 0 10px 0 0;
    line-height: 1.5em;
    font-size: 11px;
}

.tipp {
    color: #d21e5a;
    display: inline-block;
    background-color: #fff;
    padding: 0 5px;
    margin: 0 10px 0 0;
    line-height: 1.5em;
    font-size: 10px;
    font-weight: 700;
}

.tag {
    color: #d21e5a;
    display: inline-block;
    background-color: #d5d3e9;
    padding: 0 5px;
    margin: 0 5px 0 0;
    line-height: 1.5em;
    font-size: 12px;
    font-weight: 700;
}

#tab-nav {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

#tab-nav .menu {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 25px;
}

#tab-nav li a i {
    color: #d21e5a;
}

#tab-nav .nav-tabs {
    border-bottom: 3px solid #2f3753;
}

#tab-nav .nav-tabs>li>a {
    background-color: #eee;
    margin-right: 2px;
    margin-bottom: 1px;
}

#tab-nav .nav>li>a {
    font-weight: 700
}

#tab-nav .nav-tabs>li.active>a,
#tab-nav .nav-tabs>li.active>a:hover,
#tab-nav .nav-tabs>li.active>a:focus {
    color: #fff;
    cursor: pointer;
    background-color: #2f3753;
    border-bottom-color: transparent;
}

#tab-nav .nav-tabs>li>a:hover {
    color: #2f3753;
    cursor: pointer;
    background-color: #ddd;
    border-bottom-color: transparent;
}


.tabs-left>li>a {
    padding: 5px 10px !important;
}
.tab-content span {
	display: inline-block;
    
}
.navbar {
    min-height: 42px;
    
}
.navbar-collapse {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.navbar-default {
    background-color: #fff;
}
.navbar-default .logo{
    position: absolute;
    z-index: 100;
    top: 7px;
    left: 24px;
    opacity: 0;
    float: left;
    display: block;
    height: 25px;
    overflow: hidden;
}

.sub-nav {
	padding: 0px;
	border-bottom: 1px solid #ddd;
}
.sub-nav a {
    padding: 10px 0px;
    display: inline-block;
    font-weight: 600;
}
.sub-nav a i {
    color: #d21e5a;
}


.site-nav {
	text-align: center;
	position: relative;
	
}
.site-nav ul {
	text-align: center;
}
.site-nav li {
	display: inline-block;
	
}

.site-nav li a {
	font-weight: bold;
	line-height: 30px;
	padding: 6px 15px;
}
.site-nav li a span {
    color: #d21e5a;
}

.site-nav li a:hover {
    background-color: transparent !important;
}

.site-nav li a.nav-img {
    padding: 0px !important;
}

.block-title {
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

.block-title a,
.block-title span {
    color: #000;
    background-color: #fff;
    padding: 5px 10px 5px 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
}

.block-title a {
    cursor: pointer;
}

.block-title a:hover {
    text-decoration: none;
    color: #d21e5a;
}

.img-left {
    margin: 0 20px 20px 0;
}
.img-border {
	border: 1px solid #ddd;
	padding: 3px;
   
}
.news-list li {
    margin-bottom: 10px;
}

.news-block {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

.lead {
    font-weight: 700;
    font-size: 14px
}

.fo-hir {
    float: left;
}

#hir-nav .nav-tabs>li>a {
    background-color: #eee;
    margin-right: 2px;
    margin-bottom: 1px;
    font-weight: bold;
    padding: 10px 6px;
    font-size: 12px;
}
#hir-nav .nav-tabs>li.active>a,
#hir-nav .nav-tabs>li.active>a:hover,
#hir-nav .nav-tabs>li.active>a:focus {
    color: #333;
    cursor: pointer;
    background-color: #fff;
}

#hir-nav  .nav-tabs>li {
    margin-bottom: -2px;
}



.hr-allasok {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.hr-allasok li {
    margin-bottom: 5px;
}
.hr-allasok .time {
    background-color: #fff;
}
.nepszeru-cikkek {
    padding: 10px;
    background-color: #eee;
}

.nepszeru-cikkek li {
    margin-bottom: 5px;
}

.right-sidebar h4 i {
	font-size: 24px;
    color: #2f3753;
    margin:0px 5px 0px 0px;
}

.heti-ajanlo {
    padding: 10px;
    background-color: #d5d3e9;
}

.heti-ajanlo li {
    margin-bottom: 5px;
    background-color: #f5f5f5;
    padding: 5px 5px 5px 10px;
    border-right: 4px solid #c1bfdb;
    border-bottom: 2px solid #c1bfdb;
}

.hr-blog {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}



.top-banner {
    padding: 30px;
}

.info-bar,
.cikk-info-bar
{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 5px;
    font-size: 12px;
    color: #666;
    margin-bottom: 20px;
}

.info-bar span {
    margin-right: 40px;
}

.cikk-info-bar {
    line-height: 50px;
}
.cikk-info-bar span
{
    margin-right: 0px;
}
.cikk-info-bar img,
.info-bar img {
    margin-right: 10px;
}
.tags {
    margin-bottom: 20px;
}

.helpers {
    margin-bottom: 40px;
}

.banner-box {
	width: 100%;
	background-color: #f5f5f5;
	padding: 10px 0;
    
}
.banner{
	text-align: center;
	margin: 0px auto;
}
.banner_300x250 img{
	max-width: 300px;
}
.banner_970x250 img{
	max-width: 970px;
		
}
.banner_640x100 img{
	max-width: 640px;
		
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
table{
	width: 100%;	
}
.table-style1 th{
	width: 60%;
		
}
.table-style1 th,
.table-style1 td {
	padding: 10px;	
}
.table-style1 .odd th,
.table-style1 .odd td {
	background: #fafafa;
	
}
.table-style1 .even th,
.table-style1 .even td {
	background: #eee;
	
}
.dictionary li a{
	padding: 5px 10px;
}

.panel-default>.panel-heading-title{
	background-color: #d5d3e9;
	color: #fff;
}
.panel-default>.panel-body a{
	color: #d21e5a;
}
.month{
	padding: 10px 10px 5px 10px;
	background: #f5f5f5;
	margin-bottom: 30px;
	
}
.month .month-name{
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	font-weight: 600;
	height: 30px;
	margin-bottom: 10px;
	
}
.month table{
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;	
	
}
.month thead td{
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	font-weight: 600;
	width: 14%;
	color: #2a6496;
	border-bottom: 1px solid #ddd;
	background: #e5e5e5;
	
	
}
.month tbody td{
	text-align: center;
	background: #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	height: 30px;
	width: 14%;
	font-size: 12px;
}
.month tbody tr td:last-child{
	border-right:none;
	
}
.month tbody td.empty{
	background: #f5f5f5;
	
}
.month .month-info{
	text-align: center;
	line-height: 30px;
	font-size: 13px;
	font-weight: 600;
	color: #d21e5a;	
}
.month-colors span{
	display: inline-block;
	width: 30px;
	height: 20px;
	border: 1px solid #ddd;
	margin-right: 10px;
	line-height: 20px;
	float: left;
}
.month-colors span.day1,
.month tbody td.day1{
	background: #d21e5a;
	color: #fff;
}
.month-colors span.day2,
.month tbody td.day2{
	background: #ffcb47;
}
.month-colors span.day3,
.month tbody td.day3{
	background: #2a6496;
	color: #fff;
}
.month-colors span.day4,
.month tbody td.day4{
	background: #fff;
}
.month-colors span.day5,
.month tbody td.day5{
	background: #eeedf9;
}




.fb-like-box,
.fb-like-box span,
.fb-like-box span iframe[style] {
    width: 100% !important;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
    min-width: 100% !important;
    width: 100% !important;
}

.footer-links {
    display: inline;
}

.footer-links li {
    padding: 0 3px;
    float: left
}
/* =============================================
----------------- Helper Classes -------------
==============================================*/

.sm-separator {
    margin-right: 5px;
}

.separator {
    margin-right: 10px;
}

.lg-separator {
    margin-right: 20px;
}

.top-10px {
    margin-top: -10px;
}

.top30px {
    padding-top: 30px;
}

.xss-margin,
.xs-margin,
.sm-margin,
.md-margin,
.lg-margin,
.xlg-margin,
.md-margin2x,
.lg-margin2x,
.xlg-margin2x {
    min-height: 1px;
}

.xss-margin {
    margin-bottom: 5px !important;
}

.xs-margin {
    margin-bottom: 10px !important;
}

.sm-margin {
    margin-bottom: 20px !important;
}

.md-margin {
    margin-bottom: 30px !important;
}

.mds-margin {
    margin-bottom: 35px !important;
}

.lg-margin {
    margin-bottom: 40px !important;
}

.xlg-margin {
    margin-bottom: 50px !important;
}

.md-margin2x {
    margin-bottom: 60px !important;
}

.lg-margin2x {
    margin-bottom: 80px !important;
}

.xlg-margin2x {
    margin-bottom: 100px !important;
}

.link-underline {
    text-decoration: underline !important;
}

.col-2 {
    width: 50%;
    padding-right: 20px;
    float: left;
}

.col-3 {
    width: 33.333333%;
    padding-right: 20px;
    float: left;
}

.col-4 {
    width: 25%;
    padding-right: 20px;
    float: left;
}

.col-5 {
    width: 20%;
    padding-right: 20px;
    float: left;
}

.col-5.first {
    padding-left: 20px;
}

.col-2.last .col-3.last,
.col-4.last,
.col-5.last {
    padding-right: 0;
}
/* addition for bootstrap img-responsive class */

.border-btm {
    border-bottom: 1px solid #ddd;
}

.border-right {
    border-right: 1px solid #ddd;
}

.border-top {
    border-top: 1px solid #ddd;
}

.pad-btm-s {
    padding-bottom: 20px;
}

.pad-btm-m {
    padding-bottom: 30px;
}

.img-responsive {
    width: 100%;
    display: inline-block;
}

.img-left{
	float: left;
	margin: 0 20px 20px 0;
	
	
}
.img-right{
	float: right;
	margin: 0 0	20px 20px;
	
	
}
.img-title{
	padding: 5px;
	background-color: #e6e6e6;
	text-align: center;
}
.img-title img{
	display: block;
	margin: 0 0 5px 0;
}
.img-title i{
	font-size: 12px;
}
/* for small devices show/hide classes */

.show-for-lg {
    display: inline;
}

.hide-for-lg {
    display: none;
}
/* =============================================
----------------- Responsive styles -------------
==============================================*/

@media (min-width: 768px) {
    .search {
        padding-top: 30px;
    }
    .banner-box .banner_728x90{
		display: none;

	}
	.navbar-default .logo {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default.navbar-shrink .logo {
        opacity: 1;
    }
    .form-horizontal .control-label {
       text-align: left;
	}

    /*
    .mm-menu.mm-offcanvas {
        display: block !important;
        position: relative !important;
        
    }
*/
}

@media (max-width: 1024px) {
    .nav-list i {
        display: none;
    }
    .nav-list a {
        display: block;
        font-size: 12px;
        background-color: #eee;
        text-align: center;
        margin-bottom: 2px;
        border-radius: 3px;
        padding: 5px;
        line-height: 16px;
    }
    .col-5.first {
        padding-left: 0px;
    }
    .site-nav li {
        padding: 5px 0px;
    }
   .banner_970x250 img{
		content:url("../img/banner_728x90.png");
	}
    .form-horizontal .control-label {
       margin-bottom: 5px;
	}

}

@media (max-width: 767px) {
    .nav-tabs > li {
        float: left;
        border: none;
        margin: 0;
        text-align: center;
    }
    .nav-tabs > li.active > a {}
    .nav > li > a:hover,
    .nav > li > a:focus,
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {}
    .col-5-xs {
        margin-bottom: 10px;
    }
   .col-5.first {
        padding-left: 0;
    }
    .logo {
        margin: 0 0 0 -30px;
    }
    .logo img {
        width: 200px;
    }
    .navbar-toggle {
        color: #fff;
        background-color: #2f3753 !important;
        margin-right: -10px !important;
        margin-top: 20px !important;
    }
    .navbar-toggle .icon-bar {
        color: #d21e5a;
        background-color: #ccc !important;
    }
   
    .site-nav {
    	display: none;
	}
	.navbar-collapse {
        max-height: 1000px !important;
    }
   
    h2,
    .h2 {
        font-size: 24px;
        line-height: 1.2em;
    }
    .media-links {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        
    }
    .banner-box .banner_970x250{
		display: none;

	}
	.banner_300x250 img{
		content:url("../img/banner_300x60.png");
	}
	.banner_970x250 img{
		content:url("../img/banner_300x60_02.png");
	}
	.navbar-default {
      background-color: #fff;
      display: none;
	}
	#wrapper {
		padding: 0px 15px;
	}
	.table-style1 th{
		width: 100%;	
	}
	.logo-bar{
		position: fixed;
		z-index: 100;
		background: #fff;
		top: 0px;
		width: 91%;	
		-webkit-transition: color 1s ease-in-out;
        -moz-transition: color 1s ease-in-out;
        -o-transition: color 1s ease-in-out;
        -ms-transition: color 1s ease-in-out;
        transition: color 1s ease-in-out;
		
	}
	#wrapper{
		padding-top: 100px;
	}	
	.tabs-left>li {
		max-height: 30px;
		overflow: hidden;
	    
	}
	.tabs-left>li>a {
   		 padding: 0px 5px;
	}
	.tab-content {
		font-size: 12px;
   		 
	}
	.img-left,
	.img-right {
		float: none;
		margin: 20px 0;
		display: block;
	
	}
	.img-left img,
	.img-right img{
		width: 100%;
	}


}
@media (max-width: 990px) {
    
    .media-links {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px;
        background-color: #eee;
        
    }
    .navbar-default.navbar-shrink .logo {
		max-height: 24px;
		max-width: 40px;
		overflow: hidden;
		top: 15px;
        
    }
}


@media (max-width: 420px) {
	
	#hir-nav .nav-tabs {
		border: none;
	}
	
	#hir-nav .nav-tabs>li {
		width: 100%;
        float: none;
        margin-bottom: 5px;
        
    }
    
   #hir-nav .nav-tabs>li a{
	    border-radius: 5px;
		        
    }
    
    .nav-tabs>li.active>a, 
    .nav-tabs>li.active>a:hover, 
    .nav-tabs>li.active>a:focus {
       border-bottom-color: #ddd;
	}
    


}

/* =============================================
----------------- Responsive menu  -------------
==============================================*/

.mm-list > li > a,
.mm-list > li > span {
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
}

.mm-menu .mm-list > li.menu-separator:after {
    border-color: #d21e5a;
}