@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic&subset=latin,latin-ext);
body {
    font: 14px/1.5em 'Open Sans', Arial, sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eee;
}

#wrapper {
    width: 100%;
    background-color: #fff;
    padding: 0 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#wrapper.boxed {
    width: 970px;
    margin: 30px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

::selection {
    background-color: #61ae24;
    color: #fff;
}

::-moz-selection {
    background-color: #61ae24;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    color: #444645;
    margin-top: 0;
    font-weight: 700;
    line-height: 1.4em
}

h1 {
    font-size: 40px;
    line-height: 1.3em
}

h2 {
    line-height: 1.4em
}

h5 {
    font-size: 15px;
    line-height: 1.3em
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.list-disc {
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 20px;
}

ul li i,
a.link {
    color: #d21e5a;
}

a {
    -webkit-transition: color .24s ease-in-out;
    -moz-transition: color .24s ease-in-out;
    -o-transition: color .24s ease-in-out;
    -ms-transition: color .24s ease-in-out;
    transition: color .24s ease-in-out;
    color: #2f3753;
}

a:active,
a:hover,
a:focus {
    text-decoration: none;
    color: #d21e5a;
}

a:active,
a:focus,
input,
select,
textarea {
    outline: none;
}

iframe {
    border: none;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ebebeb;
}

a.more-btn {
    color: #2f3753;
    display: inline-block;
    background-color: #eee;
    padding: 0 10px;
    margin: 0 10px 0 0;
    line-height: 1.5em
}

a.more-btn:hover {
    color: #d21e5a;
}

.time {
    color: #2f3753;
    display: inline-block;
    background-color: #eee;
    padding: 0 5px;
    margin: 0 10px 0 0;
    line-height: 1.5em;
    font-size: 11px;
}

.tipp {
    color: #d21e5a;
    display: inline-block;
    background-color: #fff;
    padding: 0 5px;
    margin: 0 10px 0 0;
    line-height: 1.5em;
    font-size: 10px;
    font-weight: 700;
}

.tag {
    color: #d21e5a;
    display: inline-block;
    background-color: #d5d3e9;
    padding: 0 5px;
    margin: 0 5px 0 0;
    line-height: 1.5em;
    font-size: 12px;
    font-weight: 700;
}

#tab-nav {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

#tab-nav .menu {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 25px;
}

#tab-nav li a i {
    color: #d21e5a;
}

.nav-tabs {
    border-bottom: 3px solid #2f3753;
}

.nav-tabs>li>a {
    background-color: #eee;
    margin-right: 2px;
    margin-bottom: 1px;
}

.nav>li>a {
    font-weight: 700
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #fff;
    cursor: pointer;
    background-color: #2f3753;
    border-bottom-color: transparent;
}

.nav-tabs>li>a:hover,
.nav-tabs>li.active>a:focus {
    color: #2f3753;
    cursor: pointer;
    background-color: #ddd;
    border-bottom-color: transparent;
}

.navbar-collapse {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.site-nav {
    border-bottom: 1px solid #ddd;
}

.site-nav li {
    float: left;
    padding: 5px 10px;
    border-right: 1px solid #ddd;
}

.site-nav li a span {
    color: #d21e5a;
}

.site-nav li a:hover {
    background-color: transparent !important;
}

.site-nav li a.nav-img {
    padding: 0px !important;
}

.block-title {
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

.block-title a,
.block-title span {
    color: #000;
    background-color: #fff;
    padding: 5px 10px 5px 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
}

.block-title a {
    cursor: pointer;
}

.block-title a:hover {
    text-decoration: none;
    color: #d21e5a;
}

.img-left {
    margin: 0 20px 20px 0;
}

.news-list li {
    margin-bottom: 10px;
}

.news-block {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

.lead {
    font-weight: 700;
    font-size: 14px
}

.fo-hir {
    float: left;
}

.left-sidebar .left-sidebar-menu li {
    margin-bottom: 1px;
}

.left-sidebar .left-sidebar-menu li a {
    font-weight: 700;
    display: block;
    padding: 3px 0 3px 10px;
}

.left-sidebar .left-sidebar-menu li.menu-1 a:hover,
.left-sidebar .left-sidebar-menu li.menu-2 a:hover,
.left-sidebar .left-sidebar-menu li.menu-3 a:hover,
.left-sidebar .left-sidebar-menu li.menu-4 a:hover {
    background-color: #eee;
    color: #4e4d6d;
}

.left-sidebar .left-sidebar-menu li.menu-1 a span {
    color: #d21e5a;
}

.left-sidebar .left-sidebar-menu li.menu-1 a {
    background-color: #d5d3e9;
    color: #2f3753;
}

.left-sidebar .left-sidebar-menu li.menu-2 a {
    background-color: #4e4d6d;
    color: #fff;
}

.left-sidebar .left-sidebar-menu li.menu-3 a {
    background-color: #d21e5a;
    color: #fff;
}

.left-sidebar .left-sidebar-menu li.menu-4 a {
    background-color: #8c8f73;
    color: #fff;
}

.hr-allasok {
    padding: 10px;
    background-color: #d5d3e9;
}

.hr-allasok li {
    margin-bottom: 5px;
}

.nepszeru-cikkek {
    padding: 10px;
    background-color: #eee;
}

.nepszeru-cikkek li {
    margin-bottom: 5px;
}

.heti-ajanlo {
    padding: 10px;
    background-color: #d5d3e9;
}

.heti-ajanlo li {
    margin-bottom: 5px;
    background-color: #f5f5f5;
    padding: 5px 5px 5px 10px;
    border-right: 4px solid #c1bfdb;
    border-bottom: 2px solid #c1bfdb;
}

.hr-blog {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.hr-allasok li {
    margin-bottom: 5px;
}

.top-banner {
    padding: 30px;
}

.info-bar,
.cikk-info-bar {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 5px;
    font-size: 12px;
    color: #666;
}

.info-bar span {
    margin-right: 40px;
}

.cikk-info-bar {
    margin-bottom: 20px;
}

.cikk-info-bar span {
    margin-right: 0px;
}

.tags {
    margin-bottom: 20px;
}

.helpers {
    margin-bottom: 40px;
}

.fb-like-box,
.fb-like-box span,
.fb-like-box span iframe[style] {
    width: 100% !important;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
    min-width: 100% !important;
    width: 100% !important;
}

.footer-links {
    display: inline;
}

.footer-links li {
    padding: 0 3px;
    float: left
}
/* =============================================
----------------- Helper Classes -------------
==============================================*/

.sm-separator {
    margin-right: 5px;
}

.separator {
    margin-right: 10px;
}

.lg-separator {
    margin-right: 20px;
}

.top-10px {
    margin-top: -10px;
}

.top30px {
    padding-top: 30px;
}

.xss-margin,
.xs-margin,
.sm-margin,
.md-margin,
.lg-margin,
.xlg-margin,
.md-margin2x,
.lg-margin2x,
.xlg-margin2x {
    min-height: 1px;
}

.xss-margin {
    margin-bottom: 5px !important;
}

.xs-margin {
    margin-bottom: 10px !important;
}

.sm-margin {
    margin-bottom: 20px !important;
}

.md-margin {
    margin-bottom: 30px !important;
}

.mds-margin {
    margin-bottom: 35px !important;
}

.lg-margin {
    margin-bottom: 40px !important;
}

.xlg-margin {
    margin-bottom: 50px !important;
}

.md-margin2x {
    margin-bottom: 60px !important;
}

.lg-margin2x {
    margin-bottom: 80px !important;
}

.xlg-margin2x {
    margin-bottom: 100px !important;
}

.link-underline {
    text-decoration: underline !important;
}

.col-2 {
    width: 50%;
    padding-right: 20px;
    float: left;
}

.col-3 {
    width: 33.333333%;
    padding-right: 20px;
    float: left;
}

.col-4 {
    width: 25%;
    padding-right: 20px;
    float: left;
}

.col-5 {
    width: 20%;
    padding-right: 20px;
    float: left;
}

.col-5.first {
    padding-left: 20px;
}

.col-2.last .col-3.last,
.col-4.last,
.col-5.last {
    padding-right: 0;
}
/* addition for bootstrap img-responsive class */

.border-btm {
    border-bottom: 1px solid #ddd;
}

.border-right {
    border-right: 1px solid #ddd;
}

.border-top {
    border-top: 1px solid #ddd;
}

.pad-btm-s {
    padding-bottom: 20px;
}

.pad-btm-m {
    padding-bottom: 30px;
}

.img-responsive {
    width: 100%;
}
/* for small devices show/hide classes */

.show-for-lg {
    display: inline;
}

.hide-for-lg {
    display: none;
}
/* =============================================
----------------- Responsive styles -------------
==============================================*/

@media (min-width: 768px) {
    .search {
        padding-top: 30px;
    }
    /*
    .mm-menu.mm-offcanvas {
        display: block !important;
        position: relative !important;
        
    }
*/
}

@media (max-width: 1024px) {
    .nav-list i {
        display: none;
    }
    .nav-list a {
        display: block;
        font-size: 12px;
        background-color: #eee;
        text-align: center;
        margin-bottom: 2px;
        border-radius: 3px;
        padding: 5px;
        line-height: 16px;
    }
    .col-5.first {
        padding-left: 0px;
    }
    .site-nav li {
        padding: 5px 0px;
    }
}

@media (max-width: 767px) {
    .nav-tabs > li {
        float: left;
        border: none;
        margin: 0;
        width: 50%;
        text-align: center;
    }
    .nav-tabs > li.active > a {}
    .nav > li > a:hover,
    .nav > li > a:focus,
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {}
    .col-5-xs {
        width: 50% !important;
        margin-bottom: 10px;
    }
    .col-5.first {
        padding-left: 0;
    }
    .logo {
        margin: 0 0 0 -30px;
    }
    .logo img {
        width: 200px;
    }
    .navbar-toggle {
        color: #fff;
        background-color: #2f3753 !important;
        margin-right: -10px !important;
        margin-top: 20px !important;
    }
    .navbar-toggle .icon-bar {
        color: #d21e5a;
        background-color: #ccc !important;
    }
    .navbar-collapse {
        max-height: 1000px !important;
    }
    .site-nav li {
        float: none;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid transparent;
    }
    h2,
    .h2 {
        font-size: 24px;
        line-height: 1.2em;
    }
    .media-links {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        
    }
}
@media (max-width: 990px) {
    
    .media-links {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px;
        background-color: #eee;
        
    }
}
/* =============================================
----------------- Responsive menu  -------------
==============================================*/

.mm-list > li > a,
.mm-list > li > span {
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
}

.mm-menu .mm-list > li.menu-separator:after {
    border-color: #d21e5a;
}