<?php
 session_start();
 
 //print_r($_SESSION);
 
 
 if (!isset($_SESSION['contentwriter_login']))
  {
   header("location: index.phtml");
   die();
  }

 require_once("../config.inc.php");
 require_once("../library.inc.php");
 
 $db=mysql_connect(DB_SERVER,DB_USER,DB_PASSWORD) or die(mysql_error());
 mysql_select_db(DB_NAME,$db) or die(mysql_error());
 $result = mysql_query("SET NAMES utf8");
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
    <title>HRP</title>
    <link rel="STYLESHEET" type="text/css" href="style.css">
    
    
<SCRIPT LANGUAGE="JavaScript">
<!--

var FormNumber          = 0;
var LastFocus           = "";
var LastDirection       = 1;
var InsertionCounter    = 0;
var MaxInsertionCounter = 0;
var InsertionHistory    = new Array();
var FocusHistory        = new Array();
var InitialState        = new Array();

function Undo() {
  if ( LastFocus != "" ) {
    if ( LastDirection == 1 ) SavePreviousTextInput();
    LastDirection = -1;
    if ( InsertionCounter > 0 ) {
      InsertionCounter = InsertionCounter - 2;
      
document.forms[FormNumber].elements[FocusHistory[InsertionCounter]].value

= InsertionHistory[InsertionCounter];
    }
  }
}
function Redo() {
  LastDirection = 1;
  if ( InsertionCounter < MaxInsertionCounter ) {
    InsertionCounter = InsertionCounter + 2;
    
document.forms[FormNumber].elements[FocusHistory[InsertionCounter-1]].value

= InsertionHistory[InsertionCounter-1];
  }
}
function SavePreviousTextInput() {
    lastSavedFocusIndex = -1;
    for ( I = 0; I < InsertionCounter; I++ ) {
    if ( FocusHistory[I] == LastFocus ) lastSavedFocusIndex = I;
    }
    if ( lastSavedFocusIndex == -1 ) {
    previousState = InitialState[LastFocus];
    } else {
    previousState = InsertionHistory[lastSavedFocusIndex];
    }
    if ( previousState != 
document.forms[FormNumber].elements[LastFocus].value ) {
    InsertionHistory[InsertionCounter] = previousState;
    FocusHistory[InsertionCounter] = LastFocus;
    InsertionCounter = InsertionCounter + 1;
    InsertionHistory[InsertionCounter] = 
document.forms[FormNumber].elements[LastFocus].value;
    FocusHistory[InsertionCounter] = LastFocus;
    InsertionCounter = InsertionCounter + 1;
    MaxInsertionCounter = InsertionCounter;
    }
}

function GetLastEntry(ObjectName) {
    if ( !InitialState[ObjectName] ) {
    // this field has never been focused before, save initial state
    InitialState[ObjectName] = 
document.forms[FormNumber].elements[ObjectName].value;
    }
    if ( LastFocus != "" ) SavePreviousTextInput();
    LastFocus = ObjectName;
}

function InsertHtml(TagNum) {
  var HtmTag1     = "";
  var HtmTag2     = "";

  if ( LastFocus != "" ) {
    SavePreviousTextInput();
    switch ( TagNum ) {
    case "1" :
      HtmTag1 = "<b>";
      HtmTag2 = "</b>";
      break;
    case "2" :
      HtmTag1 = "<i>";
      HtmTag2 = "</i>";
      break;
    case "3" :
      HtmTag1 = "<p>";
      HtmTag2 = "";
      break;
    case "4" :
      HtmTag1 = "<ul>\n<li>";
      HtmTag2 = "</li>\n</ul>";
      break;
    case "5" :
      HtmTag1 = "";
      HtmTag2 = "<br>";
      break;
    case "6" :
      HtmTag1 = "<div align='center'>";
      HtmTag2 = "</div>";
      break;
    case "7" :
      HtmTag1 = "<div align='justify'>";
      HtmTag2 = "</div>";
      break;
    case "8" :
      HtmTag1 = "<div align='right'>";
      HtmTag2 = "</div>";
      break;
    case "9" :
      HtmTag1 = "<a target='' class='td' href='http://";
      HtmTag2 = "'>";
      break;
    case "10" :
      HtmTag1 = "<a href='mailto:";
      HtmTag2 = "'>";
      break;
    default :
      HtmTag = "";
    }
   
    LastDirection = 1;
    InsertionHistory[InsertionCounter] = 
document.forms[FormNumber].elements[LastFocus].value;
    FocusHistory[InsertionCounter] = LastFocus;
    InsertionCounter = InsertionCounter + 1;

    
    if ( document.selection && document.selection.createRange )
{
      range = document.selection.createRange();
      if ( range.text != "" ) {
        if ( TagNum < 9 ) {
          if ( TagNum == 4 ) {
            SelText = range.text;
            var Ergebnis = SelText.match(/\n/);
            if ( Ergebnis != null ) {
              var NewSelText = SelText.replace(/\n/g,"\n<li>");
              HtmTag1 = "<ul>\n<li>";
              HtmTag2 = "\n</ul>\n";
              SelText = HtmTag1 + NewSelText + HtmTag2;
            }
          } else {
            SelText = HtmTag1 + range.text + HtmTag2;
          }
        } else {
      if (TagNum == 9) {
        SelText = HtmTag1 + range.text + HtmTag2 + "" + range.text + "</a>";
      }
      if (TagNum == 10) {
        SelText = HtmTag1 + range.text + HtmTag2 + "" + range.text + "</a>";
      }
        }
        range.text = SelText;
      } else {
        if ( TagNum < 9 ) {
          document.forms[FormNumber].elements[LastFocus].value = HtmTag1 + document.forms[FormNumber].elements[LastFocus].value + HtmTag2;
        } else {
          document.forms[FormNumber].elements[LastFocus].value = document.forms[FormNumber].elements[LastFocus].value + HtmTag1 + "http://www.hrportal.hu" + HtmTag2 + "<wwwdesc>példalink szövege</wwwdesc>";
        }
      }
    } else {
      if ( TagNum < 9 ) {
        document.forms[FormNumber].elements[LastFocus].value = HtmTag1 + document.forms[FormNumber].elements[LastFocus].value + HtmTag2;
      } else {
        document.forms[FormNumber].elements[LastFocus].value = document.forms[FormNumber].elements[LastFocus].value + HtmTag1 + "http://www.webone.de" + HtmTag2 + "<wwwdesc>példalink leírása</wwwdesc>";
      }
    }
    InsertionHistory[InsertionCounter] = document.forms[FormNumber].elements[LastFocus].value;
    FocusHistory[InsertionCounter] = LastFocus;
    InsertionCounter = InsertionCounter + 1;
    MaxInsertionCounter = InsertionCounter;
  }
}
//-->
</SCRIPT>
    
</head>
<body <?php if ($_SESSION['contentwriter_superuser']=='yes') echo "onLoad=\"login_onchange()\"" ?> topmargin='0' leftmargin='0' marginheight='0' marginwidth='0' text='#000000' link='#000000' vlink='#000000' alink='#000000'>
<script language='Javascript'>
 function submit_frm_input()
  {
   var f=document.forms.frm_input;

   if (confirm("Valóban fel akarja vinni a cikket?"))  
    if ( f.edt_teaser.value!='' && f.edt_lead.value!='' && f.edt_body.value!='' )
     {
      f.submit();
     }
      else
     {
      alert("Nincs kitöltve minden kötelező mező!");
     }
   
  }
</script>
 <script language="Javascript">
  function login_onchange()
   {
    var f=document.forms.frm_input;
    for (var i = 0; i < f.edt_contentwriter_login.options.length; i++)
     {
       if (f.edt_contentwriter_login.options.options[i].selected)
        {
         <?php
          $res_contentwriters=mysql_query("SELECT login, shown_name, source FROM contentwriters ORDER BY login") or die(mysql_error());         
          while ($contentwriters=mysql_fetch_array($res_contentwriters))
           {
            echo "if (f.edt_contentwriter_login.options.options[i].value=='".$contentwriters['login']."')
                   {
                    f.edt_source.value='".$contentwriters['source']."';
                   }\n";
           }
         ?>
        }
     }    
   }
   
   
  function add_url()
   {
    var f=document.forms.frm_input;
    
    var url="";
    url=prompt("URL: (http:// kell az elejére!)","http://");    
    var txt="";
    txt=prompt("A link szövege (erre kell majd kattintani)","");    
    
    var target="";
    if (confirm("Új ablakban nyíljon meg?"))
     target="_blank";          
    
    if (url!=null && url!="" && txt!=null && txt!="")
     {
      f.edt_teaser.value="<a target=\""+target+"\" class=\"td\" href=\""+url+"\">"+txt+"</a>";
     }
      else
     {
      alert("Valamelyik érték üres maradt!");
     }
   }
   
 </script>
<table width='100%' cellpadding='0' cellspacing='0' border='0'>
 <tr>
  <td align='left' width='100%' background='images/pixel.gif' bgcolor='#004989'><img src='images/title.gif' border='0'></td>
 </tr>
</table>

<table>
 <tr>
  <td>

<form name='frm_input' action='do_input.phtml?<?=SID?>' method='post' enctype="multipart/form-data">
<table cellpadding='0' cellspacing='5' border='0'>
 <tr>
  <td align='right' width='200'><b>Cím:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'><input type='text' name='edt_teaser' style='width: 350px;'> <input type='button' onClick='add_url();' value='Linket vinnék be'></td>
 </tr>
 <tr>
  <td align='right' width='200' valign='top'><b>Lead:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'><textarea name='edt_lead' style='width: 400px; height: 100px;' onfocus="GetLastEntry('edt_lead');"></textarea></td>
 </tr> 
 <tr>
  <td align='right' width='200' valign='top'><b>Cikktörzs:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'><textarea name='edt_body' style='width: 400px; height: 200px;' onfocus="GetLastEntry('edt_body');"></textarea></td>
 </tr>  
 <tr>
  <td align='right' width='200'><b>Kategória:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'>
   <select name='edt_category_id'>
    <?php
     if ($_SESSION['contentwriter_superuser']=='yes')
      {
       $res_categories=mysql_query("SELECT
                                     c.id AS c_id,
                                     c.name AS c_name
                                    FROM
                                     f_categories c
                                    ORDER BY
                                     c_name") or die(mysql_error());
      }
       else
      {
       $res_categories=mysql_query("SELECT
                                     c.id AS c_id,
                                     c.name AS c_name
                                    FROM
                                     contentwriters_categories cwc LEFT JOIN f_categories c ON c.id=cwc.category_id
                                    WHERE cwc.contentwriter_login='".$_SESSION['contentwriter_login']."'
                                    ORDER BY
                                     c_name") or die(mysql_error());
      }
     
     while ($categories=mysql_fetch_array($res_categories))
      {
       echo "<option value='".$categories['c_id']."'>".$categories['c_name']."</option>";
      }
    ?>
   </select>
  </td>
 </tr> 
 <tr>
  <td align='right' width='200'><b>Kis kép:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'><input type='file' name='edt_small_pic'>&nbsp;&nbsp;elhelyezkedés:&nbsp;<select name='edt_small_pic_align'><option value='left'>bal</option><option value='right'>jobb</option></select></td>
 </tr>  
 <tr>
  <td align='right' width='200'><b>Nagy kép:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'><input type='file' name='edt_large_pic'>&nbsp;&nbsp;elhelyezkedés:&nbsp;<select name='edt_large_pic_align'><option value='left'>bal</option><option value='right'>jobb</option></select></td>
 </tr>  
<?php
 if ($contentwriter_superuser=='yes')
  {
   echo "<tr><td colspan='3'>&nbsp;</td></tr>";
   $res_contentwriters=mysql_query("SELECT login, shown_name FROM contentwriters ORDER BY login") or die(mysql_error());
   echo " <tr>
           <td align='right' width='200'><b>Szerző:</b></td>
           <td width='10'>&nbsp;</td>
           <td align='left'>
            <select name='edt_contentwriter_login' onChange='login_onchange()'>";
            while ($contentwriters=mysql_fetch_array($res_contentwriters))
             {
              echo "<option value='".$contentwriters['login']."'";
              if ($contentwriters['login']==$_SESSION['contentwriter_login']) echo " selected";
              echo ">".$contentwriters['shown_name']."</option>";
             }
   echo "   </select>
           </td>
          </tr>
          <tr>
           <td align='right' width='200'><b>Forrás:</b></td>
           <td width='10'>&nbsp;</td>
           <td align='left'><input type='text' name='edt_source' style='width: 565px;' value=''></td>
          </tr>               
          <tr>
           <td align='right' width='200'><b>Prioritás:</b></td>
           <td width='10'>&nbsp;</td>
           <td align='left'>
            <select name='edt_priority'>
             <option value='0'>normál</option>
             <option value='1'>kiemelt</option>
            </select>
           </td>
          </tr>\n";    
          
   echo "<tr><td colspan='3'>&nbsp;</td></tr>";
   
   echo " <tr>
           <td align='right' width='200'><b>El szeretném küldeni ennek a cikknek a linkjét az alábbi tartalompartner számára:</b></td>
           <td width='10'>&nbsp;</td>
           <td align='left'>
            <!-- az option value a kovetkezo formatumu KELL, hogy legyen: 'Nev (email)' -->
            <select name='edt_send_link'>
             <option value=''> - senkinek sem küldöm - </option>
             <option value='Consoniq Kft. (consoniq.kft@chello.hu)'>Consoniq Kft. (consoniq.kft@chello.hu)</option>
             <option value='Eller Erzsébet (eeller@piac-profit.hu)'>Piac és Profit: Eller Erzsébet (eeller@piac-profit.hu)</option>
            </select>
           </td>
          </tr>\n";          
                      
  } else
  {
  /*  $res_contentwriters=mysql_query("SELECT source FROM contentwriters where login='$contentwriter_login'") or die(mysql_error());
    $source=@mysql_result($res_contentwriters,0,0);
   echo "<input type='hidden' name='edt_source' value='".urlencode($source)."'>\n";*/
  }
?> 

 <tr>
  <td align='right' width='200'><b>Kulcsszavak:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'>
   <input type='text' name='edt_keyword1' size='15' value=''> <input type='text' name='edt_keyword2' size='15' value=''> <input type='text' name='edt_keyword3' size='15' value=''> <input type='text' name='edt_keyword4' size='15' value=''> <input type='text' name='edt_keyword5' size='15' value=''>
  </td>
 </tr> 
 
<?php
 if ($_SESSION['contentwriter_superuser']=='yes')
  {
?>

<?php
 } // end of if ($contentwriter_superuser=='yes')
?>


 <tr>
  <td colspan='2' height='80'>&nbsp;</td>
  <td align='center' height='80'>
   <input type='button' value='          Felvitel          ' onClick='submit_frm_input()'>
  </td>
 </tr>
</table>
</form>

  </td>
  <td valign='top'>
  
<table border="0" cellspacing="0"
cellpadding="0">
<form>
<tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Félkövér"
name="B1" 
onclick="InsertHtml('1');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Dőlt" name="B2"
onclick="InsertHtml('2');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Új bekezdés"
name="B3" 
onclick="InsertHtml('3');"></td></tr><tr>

<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Lista" name="B4"
onclick="InsertHtml('4');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Sortörés"
name="B5" 
onclick="InsertHtml('5');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Középre zárás"
name="B6" 
onclick="InsertHtml('6');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Sorkizárás"
name="B7" 
onclick="InsertHtml('7');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Jobbra zárás"
name="B8" 
onclick="InsertHtml('8');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Internet link"
name="B9" 
onclick="InsertHtml('9');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="E-mail link"
name="B10" 
onclick="InsertHtml('10');"></td>
</tr><tr>
<td>&nbsp;</td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Visszavonás"
name="B11" onclick="Undo();"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Mégis"
name="B12" onclick="Redo();"></td>
</tr>
</form>
</table>

  </td>
 </tr>
</table>  
</body>
<?php
 mysql_close($db);
?>
