<?php
 header("Content-Type: text/html; charset=iso-8859-2");
 setlocale(LC_CTYPE, 'hu_HU');
 mb_internal_encoding('iso-8859-2');
 mb_http_output('iso-8859-2');
 require_once("config.inc.php");
 require_once("library.inc.php");
# Fix 2005.03.05 Even multiple categories can be selected. Example: http://www.hrportal.hu/dump_features.phtml?c_name[]=HR_szakesemény,Nem_HR_szakesemény&start=0&limit=150&order=ASC

  
 $start=http_get_var("start");
 $limit=http_get_var("limit");
 $allpage=http_get_var("allpage");
 $c_name=http_get_var("c_name");    
 $orderby=http_get_var("orderby");
 $order=http_get_var("order");
 
  if (!$start) $start="0";
 if (!$limit) $limit="3000000";
 if (!$allpage) $allpage="";     
 if (!$orderby) $orderby="a.date_added";     
 if (!$order) $order="DESC";     
 if (is_array($c_name)){
   reset ($c_name);
   while (list ($key, $val) = each ($c_name)) {
      $val=str_replace(",","','",$val);        
      $filter=($val!=""?"AND
                         c.name IN('".$val."')":"");
   } 
 } 
 else{
   $filter=($c_name!=""?"AND
                         c.name='".$c_name."'":"");
 }
 #echo $filter;
 
 $db=mysql_connect(DB_SERVER,DB_USER,DB_PASSWORD) or die(mysql_error());
 mysql_select_db(DB_NAME,$db) or die(mysql_error()); 
    $result = mysql_query("SET NAMES latin2");
# Only if event is still actual
 $res_to_days1=mysql_query("SELECT TO_DAYS('".$val[2]."')");
 $to_days1=mysql_result($res_to_days1,0,0);
 $res_to_days2=mysql_query("SELECT TO_DAYS(NOW())");
 $to_days2=mysql_result($res_to_days2,0,0);
    
	
 $res_news=mysql_query("SELECT
                         a.id AS a_id,
                         a.teaser AS a_teaser,
                         a.date_added AS a_date_added,
                         c.name AS c_name
                        FROM
                         (features a LEFT JOIN f_categories c ON a.category_id=c.id)
                        WHERE
                         a.is_approved='yes'
                       # AND TO_DAYS('a.date_added') > TO_DAYS(NOW())                      
                        AND
                         a.is_editorial='no'
                        ".$filter."                         
                        ORDER BY
                         $orderby $order
                        LIMIT $start,$limit") or die(mysql_error()); 
 
 while ($news=mysql_fetch_array($res_news))
  {
   /* format: 
      #####
      ### id
      ### date
      ### teaser
      ### category
      ### url
  */
  
  $pos=stristr($news['a_teaser'],"href");
  $url=eregi_replace("^(.*)(href=\")(.*)(\")(.*)$","\\3",$news['a_teaser']);
   
   //if ($pos===false)
    //$news['a_teaser']="<a target=\"_blank\" href=\"http://www.hrportal.hu/index.phtml?page=article&id=".$news['a_id']."\">".$news['a_teaser']."</a>";
   // else
   if ($pos!==false)
    {
     $news['a_teaser']=str_replace("http://","http://www.hrportal.hu/redirect_v2.phtml?url=http://",$news['a_teaser']);
     $news['a_teaser']=str_replace("class=\"td\"","",$news['a_teaser']);
     $news['a_teaser']=str_replace("class='td'","",$news['a_teaser']);
    }   
    //$pos2=stristr($news['a_teaser'],"wifi");
	//if ($pos2===false){

	$pos3=stristr($news['a_teaser'],"kvalikon");
	//if ($pos3===false){
		//$news['a_teaser']=str_replace("<img src= http://hrportal.hu/images/samling-logo-mini.gif border=0 hspace=0 vspace=0 align=left >","",$news['a_teaser']);
		//$news['a_teaser']=str_replace("<img src= http://hrportal.hu/images/samling-solution-logo-mini.gif border=0 hspace=0 vspace=0 align=left >","",$news['a_teaser']);
		echo "#####\n".
       "### ".$news['a_id']."\n".
       "### ".$news['a_date_added']."\n".
       "### ".$news['a_teaser']."\n".
       "### ".$news['c_name']."\n";
		//} 
	//}
  
  }
                        
 mysql_close($db);
                         
?> 