<html>
 <head>
  <style type="text/css">
   body, td, .td, a {
    font-family: verdana;
    font-size: 10px;
    color: black;
   }
  </style>
 </head>
<body>

<?php
 require_once("config.inc.php");
 require_once("library.inc.php");
  
 $start=http_get_var("start");
 $limit=http_get_var("limit");
 $allpage=http_get_var("allpage");
 $c_name=http_get_var("c_name");   
 $contentwriter_login=http_get_var("contentwriter_login");    
 $own_news=http_get_var("own_news");
  
 if (!$start) $start="0";
 if (!$limit) $limit="3000000";
 if (!$allpage) $allpage="";     

 $db=mysql_connect(DB_SERVER,DB_USER,DB_PASSWORD) or die(mysql_error());
 mysql_select_db(DB_NAME,$db) or die(mysql_error()); 
    
 $res_news=mysql_query("SELECT
                         a.id AS a_id,
                         a.teaser AS a_teaser,
                         a.date_added AS a_date_added,
                         c.name AS c_name
                        FROM
                         (articles a LEFT JOIN categories c ON a.category_id=c.id)
                        WHERE
                         a.is_approved='yes'
						AND 
							  a.date_publish<NOW()		 
                        AND
                         a.is_editorial='no'
                        ".($c_name!=""?"AND
                         c.name='".$c_name."'":"")."         
                        ".($contentwriter_login!=""?"AND
                         a.contentwriter_login='".$contentwriter_login."'":"")."    
                        ".($own_news!=""?"AND
                         (a.contentwriter_login='hrportal' AND source LIKE '%hr portal%')":"")."                                                                          
                        ORDER BY
                         a.date_added DESC                         
                        LIMIT $start,$limit") or die(mysql_error()); 
 
 while ($news=mysql_fetch_array($res_news))
  {
  $pos=stristr($news['a_teaser'],"href");
  $url=eregi_replace("^(.*)(href=\")(.*)(\")(.*)$","\\3",$news['a_teaser']);
   
   if ($pos===false)
    $news['a_teaser']="<a target=\"_blank\" href=\"http://www.hrportal.hu/index.phtml?page=article&id=".$news['a_id']."\">".$news['a_teaser']."</a>";
   else
   if ($pos!==false)
    {
     $news['a_teaser']=str_replace("http://","http://www.hrportal.hu/redirect_v2.phtml?url=http://",$news['a_teaser']);
     $news['a_teaser']=str_replace("class=\"td\"","",$news['a_teaser']);
     $news['a_teaser']=str_replace("class='td'","",$news['a_teaser']);
    }   
       
  echo "\n".
       "".$news['a_id'].". ".
       "".$news['a_date_added']."<br>\n".
       "<b>".$news['a_teaser']."</b><br>\n".
       " ".$news['c_name']."<br>\n".
       "<br>\n";
  }
                        
 mysql_close($db);
?>
</body>