body {
  font-family: 'Aldrich';
  overflow: hidden;
}
a:focus {
  outline: none;
}
#nav .navbar.navbar-inverse {
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.75);
  border: 0;
  -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}
.bg-pattern1,
.bg-pattern2,
.bg-pattern3 {
  width: 100%;
  position: relative;
}
.bg-pattern1 {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAWSURBVBhXY2ZgYPgPxIwgBiMDAwMDAA5kAQi37Xr9AAAAAElFTkSuQmCC');
}
.bg-pattern2 {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAMSURBVBhXY4AAhjMAANUAzUoX6YsAAAAASUVORK5CYII=');
}
.bg-pattern3 {
  background: rgba(34, 34, 34, 0.8);
}
.bg1,
.bg2 {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
.bg1 {
  background: url('../images/p-bg1.jpg') repeat fixed;
  background-size: cover;
}
.bg2 {
  background: url('../images/p-bg2.jpg') repeat fixed;
  background-size: cover;
}
#footer {
  background: url('../images/p-bg1.jpg') repeat fixed;
  background-size: cover;
}
h1 {
  color: #ffffff;
}
h2 {
  color: #cccccc;
}
h1 span.line,
h2 span.line {
  border-top: solid 1px #d5ecf3;
  height: 1px;
  width: 100px;
  position: relative;
  display: block;
  margin: 15px auto 20px;
}
h1 span span.dot,
h2 span span.dot {
  background: #d5ecf3;
  border-radius: 20px;
  border: solid 1px #d5ecf3;
  display: block;
  width: 10px;
  height: 10px;
  margin: -6px auto 0;
}
h3 span.line {
  border-top: solid 1px #d5ecf3;
  height: 1px;
  width: 60px;
  position: relative;
  display: block;
  margin: 15px auto 20px;
}
h3 span span.dot {
  background: #d5ecf3;
  border-radius: 20px;
  border: solid 1px #d5ecf3;
  display: block;
  width: 8px;
  height: 8px;
  margin: -5px auto 0;
}
.navbar .navbar-brand {
  color: #d5ecf3;
}
.navbar .fa-bars {
  color: #ffffff;
}
.navbar .navbar-toggle {
  padding-bottom: 7px;
}
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:focus {
  color: #d5ecf3;
}
.navbar-inverse .navbar-nav > li.active > a::after {
  content: "";
  background: #d5ecf3;
  height: 2px;
  width: 10px;
  position: absolute;
  display: block;
  bottom: 0;
}
.page-heading {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 5px;
  padding-bottom: 5px;
}
.page-heading::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: solid 1px #d5ecf3;
  border-left: solid 1px #d5ecf3;
  position: absolute;
  display: block;
  left: 0px;
  top: 0;
}
.page-heading::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: solid 1px #d5ecf3;
  border-right: solid 1px #d5ecf3;
  position: absolute;
  display: block;
  top: 0;
  right: 0px;
}
#counter {
  background: rgba(0, 0, 0, 0.6);
  border-top: solid 2px rgba(0, 0, 0, 0);
  padding-bottom: 20px;
}
#counter::before {
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: solid 1px #d5ecf3;
  border-left: solid 1px #d5ecf3;
  position: absolute;
  display: block;
  left: 0px;
  bottom: 0;
}
#counter::after {
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: solid 1px #d5ecf3;
  border-right: solid 1px #d5ecf3;
  position: absolute;
  display: block;
  bottom: 0;
  right: 0px;
}
#counter .slogan h3 {
  color: #ffffff;
}
.text-ticker {
  height: 44px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  background: #d5ecf3;
  color: black;
  line-height: 45px;
  font-weight: bold;
  margin-left: 15px;
  position: relative;
  top: 12px;
}
.text-ticker .ticker-item {
  display: block;
}
@media (min-width: 768px) {
  h1 {
    font-size: 56px;
    line-height: normal;
  }
  h2 {
    font-size: 48px;
  }
  #nav .navbar.navbar-inverse {
    padding: 10px 0;
  }
  .navbar .navbar-brand {
    font-size: 38px;
    font-weight: bold;
  }
  #nav .navbar-nav > li {
    display: inline-block;
    text-align: center;
  }
  #nav .navbar-nav > li + li::before {
    content: "/\00a0";
    padding: 15px 0px 15px 0;
    color: #cccccc;
    float: left;
  }
  #nav .navbar-nav > li a {
    float: left;
  }
  #nav .navbar-nav > li.active a {
    background: none;
  }
  .page-heading {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 0px;
  }
  #counter {
    background: rgba(0, 0, 0, 0.3);
    border-top: solid 2px rgba(0, 0, 0, 0.4);
    padding-bottom: 0;
  }
  .text-ticker {
    height: 60px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    background: #d5ecf3;
    color: black;
    line-height: 64px;
    font-weight: bold;
    margin-left: 15px;
    position: relative;
    top: 12px;
  }
}
#counter .timer {
  color: #ffffff;
  min-height: 50px;
  padding: 8px 0 10px;
}
#counter .timer span.time {
  font-size: 24px;
  font-weight: bold;
  display: block;
  line-height: 30px;
}
#counter .timer span.title {
  line-height: 14px;
  font-size: 14px;
  padding: 2px;
  text-transform: lowercase;
  display: block;
  color: #ffffff;
}
#header,
#about,
#parallax-section-1,
#parallax-section-2 {
  position: relative;
}
#parallax-section-2 h2 {
  color: #ffffff;
}
.btn-theme-inverse {
  background: #d2322d;
  border-color: #a82824;
  color: #ffffff;
}
.btn-theme-inverse:hover,
.btn-theme-inverse:active {
  background: #d5ecf3;
  border-color: #ccb600;
  color: #000000;
}
.btn-theme-inverse:focus {
  color: #ffffff;
  outline: none;
}
.text-theme-inverse {
  color: #d2322d;
}
#about {
  padding: 50px 0 80px 0;
  background: rgba(0, 0, 0, 0.8);
  color: #cccccc;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
}
.subscribe-container label {
  margin: 10px 0;
  font-size: 16px;
}
.subscribe-container .input-group {
  background: #ffffff;
  padding: 4px;
}
.subscribe-container .input-group input[type="text"] {
  border: 0;
}
.subscribe-container #subscribe_form_message {
  position: absolute;
  top: 0px;
  left: 0;
  margin: 0;
  z-index: 100;
}
@media (min-width: 768px) {
  #counter .timer span.time {
    text-align: center;
    width: 100%;
  }
}
#content-boxes,
#contact,
#twitter {
  background: #ffffff;
}
#content-boxes .col-highlight {
  padding: 50px 20px;
  cursor: pointer;
}
#content-boxes .col-highlight p {
  font-size: 12px;
}
#content-boxes .col-highlight:hover {
  background-color: #d5ecf3;
}
#content-boxes,
#team,
#contact {
  position: relative;
  overflow: hidden;
}
#team,
#contact {
  padding: 50px 0;
  overflow: hidden;
}
#contact .contact-info .fa-ul li {
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}
label.error {
  color: #fff;
  background: #c00;
  font-size: 11px;
  padding: 2px 5px;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px;
}
#team .member-box {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 6px;
  padding-bottom: 10px;
  background: rgba(255, 228, 0, 0.8);
  
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#team .member-box:hover {
  background: rgba(255, 255, 255, 0.95);
}
#team .member-box .member-img {
  padding-right: 0px;
}
#team .member-box .member-img a {
  border: 0;
}
#team .member-box .member-img img {
  margin-top: 10px;
  width: 100%;
}
#team .member-box .member-info {
  float: left;
}
#team .member-box .member-social {
  float: right;
}
#team .member-box .member-info > .member-name {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  margin: 10px 0px 0px 0px;
  line-height: 20px;
}
#team .member-box .member-info > .member-name a {
  color: #222222;
}
#team .member-box .member-info > .member-name a:hover {
  color: #000000;
  text-decoration: none;
}
#team .member-box .member-info > .member-title {
  font-size: 12px;
  color: #222222;
}
#team .member-box .member-content {
  font-size: 12px;
  color: #222222;
  margin-top: 5px;
}
#team .member-box .member-social > a {
  color: #d2322d;
  padding: 10px 2px 10px 15px;
  display: block;
  float: left;
  font-size: 16px;
}
#team .member-box:hover .member-social > a {
  color: #999999;
}
#team .member-box .member-social > a:hover {
  text-decoration: none;
  color: #000000;
}
#contact .map-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
#contact .map-container .responsive-wrapper {
  padding-bottom: 50%;
  width: 100%;
  position: relative;
}
#contact .map-container .responsive-wrapper iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border: none;
  overflow: hidden;
}
#twitter {
  padding: 80px 0;
}
#twitter h2,
#contact h2 {
  color: #000000;
}
.tweets-container {
  line-height: 140px;
  display: block;
  min-height: 140px;
}
@media (max-width: 768px) {
  .tweets-container {
    line-height: 250px;
    min-height: 250px;
  }
}
.tweets-container .twitterfeed_ticker .tweet_list {
  margin: 0;
  padding: 0;
  padding-top: 0px;
}
.tweets-container .twitterfeed_ticker .tweet_list li {
  display: block;
  vertical-align: middle;
  position: relative;
  line-height: 21px;
  color: #666666;
}
.tweets-container .twitterfeed_ticker .tweet_list li a {
  color: #d2322d;
}
@media (min-width: 768px) {
  .tweets-container .twitterfeed_ticker .tweet_list li .col-icon > .fa-twitter {
    font-size: 36px;
  }
  .tweets-container .twitterfeed_ticker .tweet_text {
    font-size: 14px;
  }
}
#footer .social-container {
  padding-top: 25px;
  padding-bottom: 20px;
}
#footer .footer-quote {
  color: rgba(255, 255, 255, 0.9);
}
#footer h3 {
  color: rgba(255, 255, 255, 0.9);
}
#footer .footer-copyright {
  width: 100%;
  background: rgba(0, 0, 0, 0.88);
  padding: 8px 0;
  color: #d5ecf3;
}
#footer .social-widget {
  margin: 25px 0;
  text-align: center;
}
#footer .social-widget .fa-light {
  color: #ffffff;
}
#footer .social-widget .fa-stack {
  text-align: center;
}
#footer h4.widget-title {
  text-transform: uppercase;
  font-weight: 700;
}
#footer .social-widget .list-inline {
  display: inline-block;
}
#footer .social-widget .list-inline > li {
  margin: 3px;
  padding: 0px;
  float: left;
}
#footer .social-widget .fa-3x {
  font-size: 28px;
}
#footer .social-widget a {
  display: block;
  transition: all ease 0.6s;
  -ms-transition: all ease 0.6s;
  -moz-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
  -webkit-transition: all ease 0.6s;
}
#footer .social-widget a:hover {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  /* IE 5-7 */
  filter: alpha(opacity=60);
  /* Netscape */
  -moz-opacity: 0.6;
  /* Safari 1.x */
  -khtml-opacity: 0.6;
  /* Good browsers */
  opacity: 0.6;
  -o-opacity: 0.6;
  -webkit-opacity: 0.6;
  -ms-opacity: 0.6;
}
#footer .social-widget .pinterest {
  background: #ff6563;
}
#footer .social-widget .linkedin {
  background: #3398cc;
}
#footer .social-widget .twitter {
  background: #66ccfd;
}
#footer .social-widget .rss {
  background: #ffcc66;
}
#footer .social-widget .facebook {
  background: #01649b;
}
#footer .social-widget .google {
  background: #da2713;
}
#footer .social-widget .dribbble {
  background: #e24a85;
}
#footer .social-widget .tumblr {
  background: #2c4762;
}
#bquote {
  background: #d5ecf3;
  padding-top: 25px;
  overflow: hidden;
}
#bquote blockquote {
  border-left-color: #d2322d;
  color: #332e00;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #598a99;
  /* change if the mask should have another color then white */
  z-index: 9999;
  /* makes sure it stays on top */
}
#status {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  margin: -50px 0 0 -50px;
}
.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 40px;
  right: 15px;
  display: none;
  color: #d5ecf3;
  background: #000000;
  text-align: center;
  line-height: 37px;
  font-size: 28px;
  -moz-opacity: 0.6;
  -webkit-opacity: 0.6;
  -o-opacity: 0.6;
  opacity: 0.6;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.9);
  -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.9);
}
.scrollup:hover,
.scrollup:focus {
  color: #d5ecf3;
  text-decoration: none;
  background: #111111;
  -moz-opacity: 0.9;
  -webkit-opacity: 0.9;
  -o-opacity: 0.9;
  opacity: 0.9;
}
#team .member-box2{margin-top:10px;margin-bottom:10px;padding-top:6px;padding-bottom:10px;background:rgba(255,228,0,.8);cursor:pointer;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#team .member-box2:hover{background:rgba(255,255,255,.95)}
#team .member-box2 .member-img{padding-right:0}
#team .member-box2 .member-img a{border:0}
#team .member-box2 .member-img img{margin-top:10px;width:100%}
#team .member-box2 .member-info{float:left}
#team .member-box2 .member-social{float:right}
#team .member-box2 .member-info>.member-name{font-size:16px;font-weight:700;color:#222;margin:10px 0 0;line-height:20px}
#team .member-box2 .member-info>.member-name a{color:#222}
#team .member-box2 .member-info>.member-name a:hover{color:#000;text-decoration:none}
#team .member-box2 .member-info>.member-title{font-size:12px;color:#222}
#team .member-box2 .member-content{font-size:12px;color:#222;margin-top:5px}
#team .member-box2 .member-social>a{color:#d2322d;padding:10px 2px 10px 15px;display:block;float:left;font-size:16px}
#team .member-box2:hover .member-social>a{color:#999}
#team .member-box2 .member-social>a:hover{text-decoration:none;color:#000}
#team .member-box3{margin-top:10px;margin-bottom:10px;padding-top:6px;padding-bottom:10px;background:rgba(255,228,0,.8);cursor:pointer;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
#team .member-box3:hover{background:rgba(255,255,255,.95)}
#team .member-box3 .member-img{padding-right:0}
#team .member-box3 .member-img a{border:0}
#team .member-box3 .member-img img{margin-top:10px;width:100%}
#team .member-box3 .member-info{float:left}
#team .member-box3 .member-social{float:right}
#team .member-box3 .member-info>.member-name{font-size:16px;font-weight:700;color:#222;margin:10px 0 0;line-height:20px}
#team .member-box3 .member-info>.member-name a{color:#222}
#team .member-box3 .member-info>.member-name a:hover{color:#000;text-decoration:none}
#team .member-box3 .member-info>.member-title{font-size:12px;color:#222}
#team .member-box3 .member-content{font-size:12px;color:#222;margin-top:5px}
#team .member-box3 .member-social>a{color:#d2322d;padding:10px 2px 10px 15px;display:block;float:left;font-size:16px}
#team .member-box3:hover .member-social>a{color:#999}
#team .member-box3 .member-social>a:hover{text-decoration:none;color:#000}
