/* HR Portal Hirek - Bewise Nyitooldalon - CSS */
a{width:120px;height:27px;overflow:hidden;text-decoration:none;color:#000;margin-bottom:5px;display:block;text-align:left;}
a:hover{text-decoration:underline;color:#2f6bb4;}
a.tovabbi{font-size:10px !important;color:#444 !important;text-decoration:underline !important;display:inline !important;}
a.tovabbi:hover{color:#2f6bb4 !important;}
