
#HR_keret_blu_b {
    clear:both;
	float: left;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-color: #ffffff;
	height: auto !important; /* For Modern Browsers */   
}

#HR_keret_blu_b  .top{
	background:url('images/img/HR_keret_bl.gif') no-repeat 100% 10px;
	display:block;
	float:left;
	width: 150px;
	position:relative;
}

#HR_keret_blu_b .mid{
	display:block;
	width: 141px;
	padding: 4px 7px 7px 0px;
	line-height: 1.0em;
	position:relative;
	background-color: #d5d3e9;
	border-left: solid 1px rgb(195,193,206); 
	border-right: solid 1px rgb(195,193,206); 
	overflow:hidden;		
}

#HR_keret_blu_b .bot{
	background:url('images/img/HR_keret_bl.gif') no-repeat 100% -5px;
	display:block;
	float:left;
	width: 150px;
	position:relative;
}

#HR_keret_blu_b .top a {
	background:url('images/img/HR_keret_bl.gif') no-repeat 0 10px;
	display:block;
	margin-right:7px;
	padding:8px 5px 7px 6px;
	color: #555555; 		
	text-transform: uppercase; 	
	/*border: solid 1px rgb(0,223,223); 	*/
	/*height: 0;  visibility: hidden; */
}

#HR_keret_blu_b .bot a {
	background:url('images/img/HR_keret_bl.gif') no-repeat 0 -5px;
	display:block;
	margin-right:7px;
	padding:12px 5px 0px 6px;
	color: #555555; 		
	text-transform: uppercase; 	
}
