<?php
 # This script uploads a file
 #
 # Incoming POST variables:
 # - edt_filename : the filename we want to upload 
 #
 
 include "GlobalVars.inc";
 include "neu_head_upload.inc";
  
 if (!isset($_POST['edt_num']))
  die("Missing POST variable: edt_num");  
  
for ($i=1; $i<=$_POST['edt_num']; $i++)
 { 
  echo "#".$i.": ";
  
  if (!isset($HTTP_POST_FILES['edt_filename_'.$i]))
   echo ("Warning: Missing POST variable: edt_filename_$i ");
    
  if (is_uploaded_file($HTTP_POST_FILES['edt_filename_'.$i]['tmp_name']))
   {
    copy($HTTP_POST_FILES['edt_filename_'.$i]['tmp_name'], realpath($IMAGESDIR)."/".$HTTP_POST_FILES['edt_filename_'.$i]['name']);
    echo ("OK.");
   }
    else
   {
    echo ("Warning: could not upload file. Filename: ". $HTTP_POST_FILES['edt_filename_'.$i]['name']);
   }
   
  echo "<br>\n";
 }

 echo "<a href='upload.phtml' class='td'>Continue >></a>";
 
 include "neu_foot.inc";
?>