<?php
function ls ($curpath)
 {
  $dir = dir($curpath);
  $files=array();
  while ($file = $dir->read())
   {
    if($file != "." && $file != "..")
     {
      if (!is_dir($curpath.$file))
       {
        $files[]=$file; 
       }
     }
   }
  $dir->close();
  return $files;
} 
 
 include "ip_auth.inc";

 if (!isset($HTTP_GET_VARS['edt_num']))
  die("Error: missing 'edt_num' variable");
 
 include "GlobalVars.inc";
 include "mysqlconnect.inc";
 include "functions/mysqlconnect.hrportal.inc";

 $title = "File upload";

 include "neu_head_upload.inc"; 
 
 $path=$IMAGESDIR;

 echo "<table align='left' cellpadding='2' cellspacing='1' border='0'>\n";
 echo "<form action='upload_do_upload_mass.phtml' method='post' enctype='multipart/form-data'>";
 echo "<input type='hidden' name='edt_num' value='".$HTTP_GET_VARS['edt_num']."'>";
 for ($i=1; $i<=$HTTP_GET_VARS['edt_num']; $i++)
  {
   echo "
        <tr>
         <td align='right'>#".$i."</td><td align='left'><input type='file' name='edt_filename_".$i."'></td>
        </tr>";
  }
 echo "<tr><td colspan='2' align='center'><input type='submit' value='   Upload   '><br><sub>Notice: the upload may take sevaral minutes depending on the number and size of the files.</sub></td></tr>";
 echo " </form>";
 echo "</table>"; 
 
 include "neu_foot.inc";