/*template 05 - collin grasley january 17 2007 */
   
/**************** All the pretty things ***********************************************************/
body { 
margin: 0 auto; 
font: 0.7em Tahoma, Arial, sans-serif; 
line-height: 1.7em; 
background: #CEC095; 
color: #998d7d;
}

h1 {	
font: bold 2.2em Arial, Sans-Serif; 
color:#2f0e00;
padding: 8px 0 0 0; 
margin: 0; 
letter-spacing: -2px;
}

h2 { 
margin: 0;
color:#2f0e00; 
padding: 0 0 4px 0; 
font: bold 1.6em "Lucida Sans", Sans-Serif; 
letter-spacing: -1px; 
}

#header h1 {	
font: bold 2.0em "Lucida Sans", Sans-Serif; 
color: #a09080; 
padding: 10px 0 0 26px; 
margin: 0; 
letter-spacing: -1px;
}

#subtext { 
font-size: 0.8em; 
margin: 0 0 8px 26px; 
padding: 0; 
color: #e7e6e6; 
}

a { 
color: #2f0e00; 
background: inherit; 
}

a:hover { 
color: #9a8a7a; 
background: inherit; 
}

p {	
margin: 0 0 5px 0; 
}

ul { 
margin: 0; 
padding: 0; 
list-style: none; 
}

img { 
border: 0;
}

.clear{
width: 100%;
clear:both;
margin: 30px 0 2px 0;
height: 14px;
background: #fff url(images/tile.gif) repeat-x;
}

/******************** Gallery thumbs ***************************************/

.thumbs img{
position:relative;
padding:0px;
margin:2px 3px 3px 4px;
border:3px solid #2f0e00;
background-color:inherit;
}

.thumbs img:hover{
border:3px solid #9a8a7a;
}

/**************** The main content ***********************************************************/

#wrapper { 
margin: 5px auto; 
width: 980px;
border: 1px solid #9c8c7d;
background: #fff; 
}

#header { 
margin: 0 0 1px 0;
background:url(images/header.jpg) no-repeat;
height:60px; 
}

#pic { 
margin-bottom:2px;
height: 80px;
background: url(images/banner.jpg) no-repeat;
}

/**************** The Main Menu ******************************************************************/

#menu {
margin: 2px 0 4px 0;
padding: 5px 2px; 
float: right; 
}

#menu li{ 
list-style: none; 
display: inline; 
margin: 0; 
}

#menu li a{
text-decoration: none;
padding: 4px 24px;
margin-right:0;
background: #2f0e00;
font-weight: bold;
color: #fff;
}

#menu li a:hover{
background: #9a8a7a;
color: #000;
}

/************************** The left side (pass the dutchie from here) **************************************/

#leftside {
float: left;
width: 330px;
border-right: 1px solid #bbafa3;
margin: 0 0 8px 0;
}

.category {
padding: 6px;	
margin: 0 0 5px 0;
color: #9c8c7d;
background: #fff;
}

.leftdata {
padding: 8px;	
margin: 0 0 5px 0;
color: #9c8c7d;
background: #fff;
}

#leftnav {
width: 310px;
padding: 0;
margin-bottom: 0px;
font-size: 10px;
color: #9c8c7d;
}

#leftnav ul {
list-style: none;
margin: 0;
padding: 0;
border: none;
}

#leftnav li {
border-bottom: 1px solid #fff;
margin: 0;
width: auto;
}

#leftnav li .leftitem{
display: block;
padding: 3px 0px 2px 15px;
color: #fff;
text-transform:uppercase;
font-weight:bold;
text-decoration: none;
width: auto;
background:#2f0e00 url(images/menuarrow.gif) no-repeat center left;
}

#leftnav li a:hover {
color: #000;
padding: 3px 0px 2px 18px;
background: #9a8a7a url(images/menuarrowhover.gif) no-repeat center left;;
font-weight:bold;
}

.leftphoto { 
float: left; 
margin: 0 9px 3px 0; 
}

/*************************** The right side *******************************************/

#rightside {
float: right;
width: 635px;
margin: 0 0 10px 0;
}

.headline {
margin: 0 0 5px 0;
padding: 8px;
color: #9c8c7d;
background: #fff;
}

.rightdata {
margin: 0px 0 5px 0;
background: #fff;
color: #9c8c7d;
padding: 10px 15px 5px 10px;
}

.photo {
float: left;
clear: left;
border: 2px solid #9a8a7a;
background: #eee;
margin: 0 10px 2px 0;
}

.gallery {
background: #fff;
color: #9c8c7d;
padding: 20px 10px 10px 10px;
margin: 0 0 5px 0;
}

/**************** And finally, the footer data here ***************************************/

#footer { 
clear: both; 
color: #9c8c7d;
background: #fff;
padding: 10px 15px;
}

#footer .copyright { 
float: right; 
}


/**Joee defs*/
#atlw {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}


.atlatszo {
	background-color:#000;
	filter:alpha(opacity=85);
	-moz-opacity: 0.85;
	opacity: 0.85;
}

.nematlatszo {
	background-color:#000 important;
	
}

#logw {
	position: fixed;
	background: #ffffff;
	z-index: 120;
	color:#000000;
	display:block;
	border: 4px solid #525252;
	text-align:left;
	top:20%;
	left:40%;
}

#regw {
	position: fixed;
	background: #ffffff;
	z-index: 200;
	color:#000000;
	display:block;
	border: 4px solid #525252;
	text-align:left;
	top:20%;
	left:40%;
}

form label{
	float: left;
	width: 100px;
    text-align: left;
	background-color: #eee;
	padding: 5px 5px 5px 5px;
	height:15px;
	font-size: 11px;
	
	font-weight: bold;
		color: #000;
	}
form input, form select, form textarea
{
	border:1px solid #000;
	margin: 3px 1px 0px 8px;
	padding:2px 1px 2px 1px;}

form br{clear: left;}
	
.onepic{
	margin-right:2px;
	margin-top:1px;
	padding:2px;
	width:140px;
	height:165px;;
	float:left;
	text-align:center;
	border:#ccc 1px solid;
}

.onepic-1{
	margin-right:2px;
	margin-top:1px;
	padding:1px;
	width:140px;
	height:120x;;
	float:left;
	text-align:center;
	border:#ccc 1px solid;
}
.piccontainer{
padding:0px;
width:600px;
float:left;
}

.piccontainer:after{
clear:both;
	content:'.';
	display:block;
	height:0;
	visibility:hidden;
}
.picrow{
width:600px;height:170px;
text-align:center;
}

.picrow-1{
width:600px;height:120px;
text-align:center;
}

.picrow:after {
	clear:both;
	content:'.';
	display:block;
	height:0;
	visibility:hidden;
}

.mainsep {
display: block;
padding: 3px 0px 2px 15px;
color: #2f0e00;
text-transform:uppercase;
font-weight:bold;
text-decoration: none;
width: 570px;
background:#fff url(images/menuarrow.gif) no-repeat center left;
border: #2f0e00 1px solid;
}

.mainsep a{
display: block;
color: #2f0e00;
text-transform:uppercase;
font-weight:bold;
text-decoration: none;
}
