body, div, blockquote, table, tr, th, td, textarea, form, input, p, a {
  font-family: "Verdana";
  font-size: 11px;
  }

body {
  margin: 0;
  padding: 0;
  }

.content{
	width:187px;
	padding:0;
	margin:0;
	display:block;
}

.chead{
	height:13px;
	background: #fff url(top.jpg) no-repeat ;
	display:block;
	position:relative;
}

.hrtitle{
	text-align:center;
	padding:3px;
	font-size:110%;
	font-weight:bold;
	color:rgb(243,108,0);
}
.hrtitle a{
	font-size:110%;
	color:rgb(243,108,0);
	text-decoration:none;
}
.cbody{
	vertical-align:top;
	border-left:solid 3px rgb(255,219,132);
	border-right:solid 3px rgb(255,219,132);
	display:block;
	position:relative;
	margin-top:0;
	padding:2px;
}

.onecikks{
	background-color:rgb(232,164,0);
	color:#fff;
	padding:5px;
}

.onecikks a{
	color:#fff;
	text-decoration:none;
}
.onecikkn{
	background-color:rgb(243,108,0);
	color:#fff;
	padding:5px;
}

.onecikkn a{
	color:#fff;
	text-decoration:none;
}
.cfoot{
margin-left:3px;
	height:10px;
	vertical-align:top;
	background: #fff url(bottom.jpg)  no-repeat;
	display:block;
	position:relative;
}
.tovabbhir{
	text-align:center;
	padding:3px;
	font-size:100%;
	font-weight:bold;
	color:rgb(243,108,0);
}
.tovabbhir a{
	font-size:100%;
	color:rgb(243,108,0);
	text-decoration:none;
}
.elvalaszt{
	 clear: both; 
	 display: block; 
	 font: 1px/0px serif; 
	 content: "."; 
	 height: 5px;  
	 visibility: hidden;
}
