/*----------------------------------------------------------
#                       _        _
#  _ _ ___ _  _ _ _  __| |___ __| |__ ___ _ _ _ _  ___ _ _ ___  __ ______
# | '_/ _ \ || | ' \/ _` / -_) _` / _/ _ \ '_| ' \/ -_) '_(_-<_/ _(_-<_-<
# |_| \___/\_,_|_||_\__,_\___\__,_\__\___/_| |_||_\___|_| /__(_)__/__/__/
#
#
#--------------------------------------------------------
# File      : roundedcorners.css
# Author    : Richard Lewis
# Project   : /mnt/web/localhost/htdocs/css/rounded_corners/
# Syntax    : css
# Date      : Fri 08 Feb 2008
# Copyright : Richard Lewis 2008
#--------------------------------------------------------
# roundedcorners.css - rounded corners
----------------------------------------------------------*/

* {
    border      : 0px;
    margin      : 0px;
    padding     : 0px;
    font-family :
        "bitstream vera sans",
        verdana,
        arial,
        "sans",
        sans-serif;
}
/*--------------------------------------------------------*/

body {
    background       : url(/img/rounded_corners/bg.png)
        repeat-x top left;
    background-color : #c7f7c7;
}

div.page {
    width            : 750px;
    margin           : 16px auto;
    padding          : 8px;
    border-right     : 3px solid #777777;
    border-bottom    : 3px solid #777777;
    background-color : #f7f7f7;
}
/*--------------------------------------------------------*/

h1 {
    margin           : 8px 0px 16px 0px;
    padding          : 6px 0px;
    font-size        : 24px;
    text-align       : center;
    font-weight      : bold;
    background-color : #9747f7;
}

h2 {
    margin           : 12px 0px 16px 0px;
    padding          : 4px 0px;
    font-size        : 20px;
    text-align       : center;
    font-weight      : bold;
    background-color : #9747f7;
}

h3 {
    margin           : 10px 0px 16px 0px;
    padding          : 4px 0px;
    font-size        : 18px;
    text-align       : center;
    font-weight      : bold;
    background-color : #9747f7;
}
/*--------------------------------------------------------*/

p {
    margin      : 0px 0px 16px 0px;
    font-size   : 12px;
    line-height : 1.4em;
}

ul {
    margin              : 8px 0px 12px 12px;
    font-size           : 12px;
    line-height         : 1.4em;
    list-style-type     : disc;
    list-style-position : inside;
}
/*--------------------------------------------------------*/

p.box {
    width      : 77%;
    margin     : 8px auto 16px;
    border     : 3px solid #000000;
    padding    : 8px;
    text-align : center;
}

p.curved {
    width      : 168px;
    height     : 68px;
    margin     : 8px auto 16px;
    padding    : 16px;
    text-align : center;
    background : url(/img/rounded_corners/curvey.png)
        no-repeat top left;
}

div.topcurve {
    width      : 200px;
    height     : 20px;
    margin     : 12px auto 0px;
    background : url(/img/rounded_corners/topcurve.png)
        no-repeat top left;
}

p.enclosed {
    width            : 184px;
    margin           : 0px auto;
    padding          : 0px 8px;
    text-align       : center;
    background-color : #c7c7f7;
}

div.bottomcurve {
    width      : 200px;
    height     : 20px;
    margin     : 0px auto 12px;
    background : url(/img/rounded_corners/bottomcurve.png)
        no-repeat top left;
}

div.top {
    width            : 200px;
    height           : 19px;
    margin           : 0px auto;
    background-color : #c7c7f7;
}

div.bottom {
    width            : 200px;
    height           : 19px;
    margin           : 0px auto 12px;
    background-color : #c7c7f7;
}

div.topleft {
    float      : left;
    width      : 19px;
    height     : 19px;
    background : url(/img/rounded_corners/topleft.gif)
        no-repeat top left;
}

div.topright {
    float      : right;
    width      : 19px;
    height     : 19px;
    background : url(/img/rounded_corners/topright.gif)
        no-repeat top left;
}

div.bottomleft {
    float      : left;
    width      : 19px;
    height     : 19px;
    background : url(/img/rounded_corners/bottomleft.gif)
        no-repeat top left;
}

div.bottomright {
    float      : right;
    width      : 19px;
    height     : 19px;
    background : url(/img/rounded_corners/bottomright.gif)
        no-repeat top left;
}
/*--------------------------------------------------------*/

div.hr {
    width      : 77%;
    clear      : both;
    margin     : 8px auto 12px;
    border-top : 1px solid #979797;
}

div.hr hr {
    display : none;
}
/*--------------------------------------------------------*/
p.linkreq, p.linkreq a {
    font-size  : 11px;
    text-align : center;
    font-style : italic;
}
/*--------------------------------------------------------*/

p.bookmarks {
    text-align  : center;
    font-weight : bold;
    line-height : 1.8em;
}
/*--------------------------------------------------------*/

p.copyright {
    padding          : 2px 0px;
    font-size        : 11px;
    text-align       : center;
    background-color : #9747f7;
}
/*--------------------------------------------------------*/

p.design, p.design a {
    margin     : 8px 0px 16px 0px;
    font-size  : 11px;
    text-align : center;
}

p.design, p.design a {
    margin     : 8px 0px 16px 0px;
    font-size  : 11px;
    text-align : center;
}

p.contact {
    margin     : 0px 0px 16px 0px;
    text-align : center;
}
/*--------------------------------------------------------*/

a, a:visited {
    color           : #222222;
    text-decoration : none;
}

a:hover {
    color           : #000000;
    text-decoration : underline;
}
/*--------------------------------------------------------*/

p.modified {
    font-size  : 11px;
    text-align : center;
}
/*--------------------------------------------------------*/

p#jsrounded0 {
    width            : 200px;
    margin           : 12px auto;
    padding          : 0px 8px;
    text-align       : center;
    background-color : #c7c7f7;
}
/*--------------------------------------------------------*/

p#jsrounded1 {
    width            : 300px;
    margin           : 12px auto;
    padding          : 0px 8px;
    text-align       : center;
    background-color : #f7c7c7;
}
/*--------------------------------------------------------*/

p.center {
    text-align : center;
}
/*--------------------------------------------------------*/

div.imghold {
    width            : 77%;
    margin           : 12px auto;
    border           : 3px solid #777777;
    padding          : 8px;
    text-align       : center;
    background-color : #97f797;
}
/*--------------------------------------------------------*/

div.ads {
    width      : 77%;
    margin     : 12px auto;
    text-align : center;
}

iframe {
    margin : 6px;
}
/*--------------------------------------------------------*/
