.blauaktuell,table.blauaktuell{
	padding:0px;
	margin:0px;
	border-top:2px solid #0066cc; 
	border-right:2px solid #0066cc; 
	border-left:2px solid #0066cc;
	border-bottom:2px solid #0066cc;
}


.blauaktuell,table.blauaktuell1{
	border:0px;
	padding:0px;
	margin:0px;
}

th.blauaktuell{
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	color: #FFFFFF;
	background-color: #0066cc;
}


td.blauaktuell{
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	background-color:#84b5e7;
	color:#000000;
}

a.blauaktuell{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	color: #990000;
  text-decoration: underline;
}
#HR_keret b{font-weight: normal; color: #891d90}
#HR_keret p a b a{font-weight: normal; color: #891d90}
