

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
 * +- [DirectEdit2.0]
 * +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
 */

form.DirectEdit
	{
	}
	
a.DirectEdit:link, a.DirectEdit:visited
	{
	background-color: white;
	}

a.DirectEdit:hover, a.DirectEdit:active
	{
	background-color: yellow;
	}

div.DirectEditManageForm
	{
 	border: 1px solid black; 
 	background-color: black;
 	width: 749px; 
 	}

div.DirectEditManageForm div.zmiNeutralColorMedium0
	{
 	padding: 10px;
	}

div.DirectEditManageForm div.zmiNeutralColorMedium0 div.zmiNeutralColorLight0
	{
 	padding: 4px;
	}

div.DirectEditActionList
	{
	font-size:xx-small;
 	border: 1px solid black; 
 	background-color: white;
 	}

div.DirectEditActionList div.action,
div.DirectEditActionList div.action a:link, div.DirectEditActionList div.action a:visited
	{
	white-space: nowrap;
	font-size:xx-small;
	color: black;
	background-color: white;
	text-decoration: none;
	}

div.DirectEditActionList div.action
	{
	border: 1px solid white;
	}

div.DirectEditActionList div.actionActive,
div.DirectEditActionList div.actionActive a:hover, div.DirectEditActionList div.actionActive a:active
	{
	white-space: nowrap;
	font-size:xx-small;
	color: black;
	background-color: silver;
	text-decoration: none;
	}

div.DirectEditActionList div.actionActive
	{
	border: 1px dotted gray;
	}


/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
 * +- [WAI] ZMSLinkContainer
 * +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
 */

div.ZMSLinkContainer
	{
	background-color: #EEEEEE;
	}

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
 * +- [WAI] ZMSFile
 * +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
 */

div.ZMSFile div.title a:link,
div.ZMSFile div.title a:visited,
div.ZMSFile div.title
	{
	font-weight:bold;
	font-size:x-small;
	text-decoration:none;
	color:black;
	}

div.ZMSFile div.text
	{
	font-size:xx-small;
	}

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
 * +- [WAI] ZMSLinkElement
 * +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
 */

div.ZMSLinkElement
	{
	background-color: #EEEEEE;
	padding: 2px;
	}

div.ZMSLinkElement div.title a:link,
div.ZMSLinkElement div.title a:visited,
div.ZMSLinkElement div.title
	{
	font-weight:bold;
	font-size:x-small;
	text-decoration:none;
	color:black;
	}

div.ZMSLinkElement div.text
	{
	font-size:xx-small;
	}

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
 * +- [WAI] ZMSGraphic
 * +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
 */

div.ZMSGraphic 
	{ 
	background-color:#EFEFEF; 
	margin: 4px;
	}

div.ZMSGraphic.floatleft
	{ 
	float:left;
	}

div.ZMSGraphic.floatright
	{ 
	float:right;
	}

div.ZMSGraphic.center
	{ 
	text-align:center;
	}

div.ZMSGraphic div.graphic.alignleft
	{
	float:left;
	text-align:right;
	}
	
div.ZMSGraphic div.graphic.alignright
	{
	float:right;
	text-align:right;
	}
	
div.ZMSGraphic div.text
	{
	padding: 4px;
	}
	
a.zoom img.zoom
	{
	width: 23px;
	height: 21px;
	background: url(.//misc_/zms/zoom.gif);
	}

a.download img.download
	{
	width: 23px;
	height: 21px;
	background: url(.//misc_/zms/download.gif);
	}

a.superzoom img.superzoom
	{
	width: 23px;
	height: 21px;
	background: url(.//misc_/zms/superzoom.gif);
	}

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
 * +- [WAI] ZMSTables
 * +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
 */

table.ZMSTable th 
	{ 
	background-color:#DDEFFC; 
	}
	
table.ZMSTable td { 
	background-color:#EEEEEE; 
	}

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
 * +- [WAI] ZMSTeaser
 * +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
 */

div#teaser
	{
	width:150px;
	font-size:x-small;
	}

div.ZMSTeaserContainer
	{
	padding:1px;
	margin-bottom:10px;
	}

div.ZMSTeaserElement
	{

	}

div.ZMSTeaserElement img.title
	{
	border: none;
	}

div.ZMSTeaserElement div.title a:link,
div.ZMSTeaserElement div.title a:visited,
div.ZMSTeaserElement div.title
	{
	font-weight:bold;
	text-decoration:none;
	color:black;
	padding: 2px;
	display: block;
	}

div.ZMSTeaserElement div.text a:link,
div.ZMSTeaserElement div.text a:visited,
div.ZMSTeaserElement div.text
	{
	}


/***************/
/* Colorscheme */
/***************/

.primColorStrong0 { background-color:#000000; }
.primColorMedium0 { background-color:#666666; } 
.primColorLight0 { background-color:#E7E7E6; } 

.secndColorStrong1 { background-color:#006699; }
.secndColorStrong0 { background-color:#0066cc; }
.secndColorMedium1 { background-color:#D5D579; } 
.secndColorMedium0  { background-color:#D5D579; }
.secndColorLight1 { background-color:#E9E9B0; }
.secndColorLight0 { background-color:#E6E7B9; }

.teaserColor { background-color:#94ad42; } 

.neutralColorBlack { background-color:#000000; }
.neutralColorStrong0 { background-color:#999999; }
.neutralColorMedium0 { background-color:#CCCCCC; } 
.neutralColorLight0 { background-color:#E2E3DE; } 
.neutralColorWhite { background-color:#FFFFFF; }
.neutralColorTrans { background-color:#00FF00; } 

/****************/
/* Navigation */
/***************/

/* filter: progid:DXImageTransform.Microsoft.Alpha( Opacity=90, FinishOpacity=0, Style=0, StartX=0,  FinishX=100, StartY=0, FinishY=100); */

.menu {
  width: 180px; 
  border: solid 1px #666666;
  background-color: #FFFFFF;
}


.child { 
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;}

.navDropdown {
font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
  height: 17px;
  display: block;
  width: 100%;
  white-space:nowrap;
  border-right:none;
  border-bottom: solid 1px white;
}

/***************/
/* Links */
/***************/

a:link  {
  color: #006699;
  text-decoration: underline;
}
a:visited  {
  color: #006699;
  text-decoration: underline;
}
a:hover {
  color: #3399ff;
}
a:active {
  color: #3399ff;
}

.navChannel0,a.navChannel0:link, a.navChannel0:visited {
font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 11px;
	font-weight: normal;
	padding-right: 3px;
	text-decoration: none;
}

a.navChannel0:hover, a.navChannel0:active, a.navChannel0:focus {
  text-decoration: underline;
}

td.navChannelBg0 {
	height: 30px;
	text-align: right;
	padding-right: 0px
}

td.navChannelBg1 {

	/*background-image: url(/common/marker_prim.gif);
	background-repeat: no-repeat;
	background-position: right;*/
	border-bottom: 1px solid #FFFFFF;
	border-left: 0px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	height: 30px;
	text-align: right;
	padding-right: 0px
}

.navChannel1,a.navChannel1:link, a.navChannel1:visited {
font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 11px;
	font-weight: bold;
	padding-right: 3px;
	text-decoration: none;
}

a.navChannel1:hover, a.navChannel1:active, a.navChannel1:focus {
  text-decoration: underline;
}



.navMicro,td.navMicro {
font-family: Arial, Helvetica, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  padding: 4px 0px;
}

a.navMicro:hover, a.navMicro:active,
a.navMicro:link, a.navMicro:visited {
  text-decoration: none;
  color: #FFFFFF;
}

.navMacro0,a.navMacro0:link, a.navMacro0:visited  {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color:#006699;
	text-decoration:none;
	vertical-align:middle;
}

a.navMacro0:hover, a.navMacro0:focus,a.navMacro0:active {  
  text-decoration: underline;
  color:#3399ff;
}


td.navMacroBg0{
	height:25px;
	width:105px;
	padding-left:3px;
	vertical-align:center;
	line-height:10px;
}

td.navMacroBgLevel0{
	/*background-image: url(/common/marker_sec_1.gif);
	background-repeat:no-repeat;
	background-position:0px 0px;*/
	
	border-bottom: 1px solid #006699;
	border-left: 0px solid #006699;
	border-right: 0px solid #006699;
	border-top: 1px solid #006699;
	height:25px;
	width:105px;
	padding-left:3px;
	vertical-align:center;
	line-height:10px;
}


.navMacro1,a.navMacro1:link, a.navMacro1:visited  {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color:#0066CC;
	font-weight: bold;
	text-decoration:none;
	vertical-align:middle;
}

a.navMacro1:hover, a.navMacro1:focus,a.navMacro1:active {  
  text-decoration: underline;
  font-weight: bold;
  color:#3399ff;
}

td.navMacroBg1{
	/*background-image: url(common/marker_sec.gif);
	background-repeat:no-repeat;
	background-position:0px 0px;*/
	border-bottom: 1px solid #006699;
	border-left: 0px solid #006699;
	border-right: 0px solid #006699;
	border-top: 1px solid #006699;
	padding-right: 5px;
	height:25px;
	width:105px;
	padding-left:3px;
	padding-top:0px;
	vertical-align:center;
	line-height:10px;
}


td.navMacroBgLevel1{
	/*background-image: url(common/marker_sec.gif);
	background-repeat:no-repeat;
	background-position:0px 0px;*/
	border-bottom: 1px solid #006699;
	border-left: 0px solid #006699;
	border-right: 0px solid #006699;
	border-top: 1px solid #006699;
	padding-right: 5px;
	height:25px;
	width:105px;
	padding-left:3px;
	padding-top:0px;
	vertical-align:center;
	line-height:10px;
}


/*********************/
/* Textbody-Elements */
/*********************/

h1, h2,  h3, h4, h5, h6, .heading1, .heading2, .heading3, .heading4, .heading5, .heading6 {
  font-family: Impact, Arial, Helvetica, sans-serif;
  color: #999999;
  clear: left;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
}
.standardtext, body, form, p, ol, ul, li, em, sup, sub, table, tr, th, td,.docinfo {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 11px;
  margin-top: 0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
}

body,html{
height:100%;
}
.green_text {
  font-family: Arial, Helvetica, sans-serif;
  color: #94ad42;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

.gelber_text {
  font-family: Arial, Helvetica, sans-serif;
  color: #FEAB04;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

.blauer_text {
  font-family: Arial, Helvetica, sans-serif;
  color: #006699;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

.roter_text {
  font-family: Arial, Helvetica, sans-serif;
  color: #D1252A;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

.grauer_text {
  font-family: Arial, Helvetica, sans-serif;
  color: #878789;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

body {
  background-color: #FFFFFF;
  margin-top: 0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
}

h1, .title, .heading1 {
	font-family: Impact, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: white;
	background-color: #006699;
	margin:0px;
	padding:0px;
}


h2,.heading2 {
color : #333333;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-weight: bold;
	border-bottom: 1px solid #006699;
	margin-top: 26px;
}

h3,.heading3 {
	color : #333333;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight: bold;
	border-bottom: 1px solid #006699;
	margin-top: 23px;
}

h4,.heading4 {
	color : #333333;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight: bold;
	border-bottom: 1px solid #006699;
	margin-top: 20px;
}

h5,.heading5 {
	color : #333333;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight: bold;
	border-bottom: 1px solid #006699;
	margin-top: 18px;
}


.description {
  color: #999999;
  font-weight: bold;
}

.caption {
  font-size: 10px;
  line-height: 14px;
  font-style: normal;
}

P.emphasis {
  background-color:#DDEFFC;
  margin-left: 20px;
  margin-right: 30px;
  line-height: 16px;
 padding: 10px;
}

P.emphasis_rot {
  background-color:#D1252A;
  margin-left: 20px;
  margin-right: 30px;
  line-height: 16px;
 padding: 10px;
  color:white;
}

P.emphasis_grau {
  background-color:#878789;
  margin-left: 20px;
  margin-right: 30px;
  line-height: 16px;
  color:white;
 padding: 10px;
}


P.docinfo {
  line-height: 12px;

}

em {
  font-weight: bold;
  font-style: normal 
}

sup, sub {
  font-size: 10px 
}

blockquote {
  font-size: 11px;
  font-style: normal;
  background-color:#E2E3DE;
  border: 1px solid #666666;
  padding:10px
}

ol,ul{
list-style-type:disc;
list-style-position:outside;
color: #006699;
padding-left:20px;
margin-left:5px;
align:left;
}

.titlebar,td.titlebar{
font-family: Arial, Helvetica, sans-serif;
border: #FFFFFF; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 0px;
	border-left-width: 1px;	 
	font-weight:bold;
	font-size: 13px;
	color:#ffffff;
wrap: nowrap;
padding: 5px;
	}

/**********************/
/* Teaser */
/**********************/

table.teaserElement {
  border-spacing: 0pt 0pt;
  border-collapse: collapse;
  border-style: none;
  width: 138;
}

p.teaserTitle {
  font-family: Helvetica, Arial, sans-serif;
  color : #000000;
  font-size : 11px;
  line-height : 15px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left:10px;
  margin-right:3px;
}

td.teaserTitle {
  padding: 0px;
}


td.teaserText { 
  padding : 0px;
}

p.teaserText {
  font-family: Helvetica, Arial, sans-serif;
  font-size : 10px;
  font-weight : normal;
  text-decoration : none;
  color: #000000;
  line-height: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left:9px;
  margin-right:3px;
}

a.teaserTitle:link, a.teaserTitle:visited,
a.teaserTitle:hover, a.teaserTitle:active {
  font-weight: bold;
  font-size : 11px;
  text-decoration: none;
  color:#000000;
}

a.teaserText:link, a.teaserText:visited,
a.teaserText:hover, a.teaserText:active {
  text-decoration: none;
}

table.gruenaktuell{
	border-top:2px solid #94ad42; 
	border-right:2px solid #94ad42; 
	border-left:2px solid #94ad42;
	border-bottom:2px solid #94ad42;
	padding:0px;
	margin:0px;
}

.gruenaktuell,table.gruenaktuell1{
	border:0px;
	padding:0px;
	margin:0px;
}

th.gruenaktuell{
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	color: #FFFFFF;
	background-color: #94ad42;
}

td.gruenaktuell{
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	background-color:#cbd8a4;
	color:#000000;
}

a.gruenaktuell{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	color: #990000;
  text-decoration: underline;
}


.gelbaktuell {
	border:0px;
	padding:0px;
	margin:0px;
}

table.gelbaktuell{
	border-top:2px solid #FEAB04; 
	border-right:2px solid #FEAB04; 
	border-left:2px solid #FEAB04;
	border-bottom:2px solid #FEAB04;
	padding:0px;
	margin:0px;
}


th.gelbaktuell{
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	color: #FFFFFF;
	background-color: #FEAB04;
}

td.gelbaktuell{
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	background-color:#FFCC66;
	color:#000000;
}

a.gelbaktuell{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	color: #990000;
  text-decoration: underline;
}


.grauaktuell {
	border:0px;
	padding:0px;
	margin:0px;
}

table.grauaktuell{
	border-top:2px solid #878789; 
	border-right:2px solid #878789; 
	border-left:2px solid #878789;
	border-bottom:2px solid #878789;
	padding:0px;
	margin:0px;
}


th.grauaktuell{
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:12px;
	font-style:normal;
	font-weight:normal;
	color: #FFFFFF;
	background-color: #878789;
}

td.grauaktuell{
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	background-color:#FFF;
	color:#000000;
}

a.grauaktuell{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	color: #990000;
  text-decoration: underline;
}


.rotaktuell {
	border:0px;
	padding:0px;
	margin:0px;
}

table.rotaktuell{
	border-top:2px solid #D1252A; 
	border-right:2px solid #D1252A; 
	border-left:2px solid #D1252A;
	border-bottom:2px solid #D1252A;
	padding:0px;
	margin:0px;
}


th.rotaktuell{
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	color: #FFFFFF;
	background-color: #D1252A;
}

td.rotaktuell{
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	background-color:#FFF;
	color:#000000;
}

a.rotaktuell{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	color: #990000;
  text-decoration: underline;
}

.blauaktuell,table.blauaktuell{
	padding:0px;
	margin:0px;
	border-top:2px solid #0066cc; 
	border-right:2px solid #0066cc; 
	border-left:2px solid #0066cc;
	border-bottom:2px solid #0066cc;
}


.blauaktuell,table.blauaktuell1{
	border:0px;
	padding:0px;
	margin:0px;
}

th.blauaktuell{
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	color: #FFFFFF;
	background-color: #0066cc;
}

td.blauaktuell{
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	background-color:#84b5e7;
	color:#000000;
}

a.blauaktuell{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	color: #990000;
  text-decoration: underline;
}
/**********************/
/* Inputs */
/**********************/

form {
    border: none;
    margin: 0;
}

input {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	border: 1px solid #666666;  
	color: black;
	vertical-align: middle;
	margin-bottom: 1px; /* IE bug fix */
	padding: 0.1em;
}

select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
	border: 1px solid #666666;  
	vertical-align: top;
}
/**********************/
/* Functions */
/**********************/

.Copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: white;
}

a.Copyright:link, a.Copyright:visited {
  font-family: Arial, Helvetica, sans-serif;  font-size: 11px;
  font-size: 10px;
  font-weight: normal;
  color: white;
  text-decoration : none;
}


/*******************/
/* H.3.6 Sitemap   */
/*******************/

TD.sitemapTitle0 {
  background-color: #DDDDDD;
  border-right-width: 1px;
  border-right-color: #444444;
  border-right-style: solid 1px white;
 }

TD.sitemapTitle1 {
  background-color: #DDDDDD;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid 1px white;
 }

A.sitemapTitle0:link, A.sitemapTitle0:visited ,
A.sitemapTitle0:hover, A.sitemapTitle0:active {
  font-weight: bold;
  color: #444444;
  text-decoration: none;
}

A.sitemapTitle1:link, A.sitemapTitle1:visited,
A.sitemapTitle1:hover, A.sitemapTitle1:active {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

A.sitemapElement0:link, A.sitemapElement0:visited,
A.sitemapElement0:hover, A.sitemapElement0:active {
  color: #444444;
  text-decoration: none;
}

A.sitemapElement1:link, A.sitemapElement1:visited,
A.sitemapElement1:hover, A.sitemapElement1:active {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.hellblauaktuell0 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	font-style:normal;
}

td.hellblauaktuell0 {
	background-color:white;
}
a.hellblauaktuell0 {
	color: black;
  text-decoration: underline;
}
.hellblauaktuell1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:12px;
	font-weight:normal;
	color: black;
	font-style:normal;
}

td.hellblauaktuell1 {
	background-color:#C8E7FE;
	color: black;
}

a.hellblauaktuell1 {
	color: black;
  text-decoration: underline;
}


/*************************/
/* Management Interface  */
/*************************/

.cmsTxtColorStrong0 { color: #436976; } /* primColorStrong0 */
.cmsTxtColorStrong1 { color: #666666; } /* neutralColorStrong0 */
.cmsBgColorStrong0 { background-color: #8CABB9; } /* primColorStrong0 */
.cmsBgColorStrong1 { background-color: #CCCCCC; } /* neutralColorLight0 */
.cmsBgColorMedium0 { background-color: #DDE6EC; } /* primColorLight0 */
.cmsBgColorLight0 { background-color: #FFFFFF; } /* neutralColorWhite */

.ftTH { background-color:#DDEFFC; }
.ftTD { background-color:#EEEEEE; }
