<?php
 session_start();

 $max_small_pic_filesize=30*1024;
 $max_large_pic_filesize=200*1024;
 
 require_once("../../config.inc.php");
 require_once("../../library.inc.php");
 
 # getting incoming vars
 
 
 
 $id=http_post_var("edt_id"); 
 $body=http_post_var("edt_body");
 $limit=http_post_var("limit");  
 $nl2br=http_post_var("edt_nl2br");   
 $source=http_post_var("edt_source");    
 $date_expiry=http_post_var("edt_date_expiry");    
 $orderby=http_post_var("orderby");    
 $order=http_post_var("order");    
 $show=http_post_var("show");   

 $filter_owner=http_post_var("filter_owner");
 $url=http_post_var("url");
 
 $search_string=http_post_var("search_string");
 $search_what=http_post_var("search_what");
 
 $static_dir=trim(http_post_var("edt_static_dir"));  
  
 $db=mysql_connect(DB_SERVER,DB_USER,DB_PASSWORD) or die(mysql_error());
 mysql_select_db(DB_NAME,$db) or die(mysql_error());
    $result = mysql_query("SET NAMES latin2");
 clearstatcache();
 
 mysql_query("UPDATE job SET date_expiry = '$date_expiry' WHERE id = '$id' ") or die(mysql_error());
 mysql_close($db);
 
 
 
  # writing jobad source
  
$filename = str_replace("http://hrportal.hu/allas/job", "../../allas/job", $url);

$body=str_replace("\\\"", "\"", $body);
$body=str_replace("\\'", "'", $body);

// Let's make sure the file exists and is writable first.
if (is_writable($filename)) {

   // In our example we're opening $filename in append mode.
   // The file pointer is at the bottom of the file hence 
   // that's where $somecontent will go when we fwrite() it.
   if (!$handle = fopen($filename, 'a')) {
         echo "Cannot open file ($filename)";
         exit;
   }
   
   // delete file
   ftruncate($handle, 0);
   
   // Write $body to our opened file.
   if (fwrite($handle, $body) === FALSE) {
       echo "Cannot write to file ($filename)";
       exit;
   }
   
   echo "Success, writing to file ($filename)";
   
   fclose($handle);

} else {
   echo "The file $filename is not writable";
}

 
 
?>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
    <title>HRP Jobadmin</title>
    <link rel="STYLESHEET" type="text/css" href="style.css">
</head>
<body topmargin='0' leftmargin='0' marginheight='0' marginwidth='0' text='#000000' link='#000000' vlink='#000000' alink='#000000'>
<br>Az állás sikeresen módosult. <a href='index.phtml?limit=<?=$limit?>&order=<?=$order?>&orderby=<?=$orderby?>&show=<?=$show?>&search_string=<?=$search_string?>&search_what=<?=$search_what?>&filter_owner=<?=$filter_owner?>' class='td'>Kattintson ide a továbblépéshez!</a>
</body>
</html>