<?php
 session_start();
 
 require_once("../config.inc.php");
 require_once("../library.inc.php");
 
 $db=mysql_connect(DB_SERVER,DB_USER,DB_PASSWORD) or die(mysql_error());
 mysql_select_db(DB_NAME,$db) or die(mysql_error());
   $result = mysql_query("SET NAMES utf8");
 $id=http_get_var("id");
 $limit=http_get_var("limit");
 $orderby=http_get_var("orderby");    
 $order=http_get_var("order");    
 $show=http_get_var("show");    
  
 $search_string=http_get_var("search_string");
 $search_what=http_get_var("search_what");
 $filter_c_id=http_get_var("filter_c_id");
 $filter_cw_login=http_get_var("filter_cw_login");
  
 $res_article=mysql_query("SELECT
                              a.id AS a_id,
                              a.teaser AS a_teaser,
                              a.lead AS a_lead,
                              a.body AS a_body,
                              a.small_pic AS a_small_pic,
                              a.small_pic_align AS a_small_pic_align,
                              a.large_pic AS a_large_pic,
                              a.large_pic_align AS a_large_pic_align,
                              a.date_added AS a_date_added,
                              a.date_last_modified AS a_date_last_modified,
                              a.priority AS a_priority,
                              a.click_counter AS a_click_counter,
                              a.is_editorial AS a_is_editorial,
                              a.is_approved AS a_is_approved,
                              a.nl2br AS a_nl2br,
                              a.source AS a_source,
                              a.keyword1 AS a_keyword1,
                              a.keyword2 AS a_keyword2,
                              a.keyword3 AS a_keyword3,
                              a.keyword4 AS a_keyword4,
                              a.keyword5 AS a_keyword5,
                              c.name AS c_name,
                              c.id AS c_id,
                              cw.shown_name AS cw_shown_name,
                              cw.login AS cw_login
                             FROM
                              (features a LEFT JOIN f_categories c ON a.category_id=c.id)
                             LEFT JOIN
                              contentwriters cw ON a.contentwriter_login=cw.login
                             WHERE
                              a.id='$id'") or die(mysql_error());
                             
 if (mysql_num_rows($res_article)==0) die("Hiba: a megadott cikk nem található");
  else $article=mysql_fetch_array($res_article);
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
<?
 header("Content-Type: text/html; charset=iso-8859-2");
 setlocale(LC_CTYPE, 'hu_HU');
 mb_internal_encoding('iso-8859-2');
 mb_http_output('iso-8859-2');
?>
    <title>HRP Admin</title>
    <link rel="STYLESHEET" type="text/css" href="style.css">
    
<SCRIPT LANGUAGE="JavaScript">
<!--

var FormNumber          = 0;
var LastFocus           = "";
var LastDirection       = 1;
var InsertionCounter    = 0;
var MaxInsertionCounter = 0;
var InsertionHistory    = new Array();
var FocusHistory        = new Array();
var InitialState        = new Array();

function Undo() {
  if ( LastFocus != "" ) {
    if ( LastDirection == 1 ) SavePreviousTextInput();
    LastDirection = -1;
    if ( InsertionCounter > 0 ) {
      InsertionCounter = InsertionCounter - 2;
      
document.forms[FormNumber].elements[FocusHistory[InsertionCounter]].value

= InsertionHistory[InsertionCounter];
    }
  }
}
function Redo() {
  LastDirection = 1;
  if ( InsertionCounter < MaxInsertionCounter ) {
    InsertionCounter = InsertionCounter + 2;
    
document.forms[FormNumber].elements[FocusHistory[InsertionCounter-1]].value

= InsertionHistory[InsertionCounter-1];
  }
}
function SavePreviousTextInput() {
    lastSavedFocusIndex = -1;
    for ( I = 0; I < InsertionCounter; I++ ) {
    if ( FocusHistory[I] == LastFocus ) lastSavedFocusIndex = I;
    }
    if ( lastSavedFocusIndex == -1 ) {
    previousState = InitialState[LastFocus];
    } else {
    previousState = InsertionHistory[lastSavedFocusIndex];
    }
    if ( previousState != 
document.forms[FormNumber].elements[LastFocus].value ) {
    InsertionHistory[InsertionCounter] = previousState;
    FocusHistory[InsertionCounter] = LastFocus;
    InsertionCounter = InsertionCounter + 1;
    InsertionHistory[InsertionCounter] = 
document.forms[FormNumber].elements[LastFocus].value;
    FocusHistory[InsertionCounter] = LastFocus;
    InsertionCounter = InsertionCounter + 1;
    MaxInsertionCounter = InsertionCounter;
    }
}

function GetLastEntry(ObjectName) {
    if ( !InitialState[ObjectName] ) {
    // this field has never been focused before, save initial state
    InitialState[ObjectName] = 
document.forms[FormNumber].elements[ObjectName].value;
    }
    if ( LastFocus != "" ) SavePreviousTextInput();
    LastFocus = ObjectName;
}

function InsertHtml(TagNum) {
  var HtmTag1     = "";
  var HtmTag2     = "";

  if ( LastFocus != "" ) {
    SavePreviousTextInput();
    switch ( TagNum ) {
    case "1" :
      HtmTag1 = "<b>";
      HtmTag2 = "</b>";
      break;
    case "2" :
      HtmTag1 = "<i>";
      HtmTag2 = "</i>";
      break;
    case "3" :
      HtmTag1 = "<p>";
      HtmTag2 = "";
      break;
    case "4" :
      HtmTag1 = "<ul>\n<li>";
      HtmTag2 = "</li>\n</ul>";
      break;
    case "5" :
      HtmTag1 = "";
      HtmTag2 = "<br>";
      break;
    case "6" :
      HtmTag1 = "<div align='center'>";
      HtmTag2 = "</div>";
      break;
    case "7" :
      HtmTag1 = "<div align='justify'>";
      HtmTag2 = "</div>";
      break;
    case "8" :
      HtmTag1 = "<div align='right'>";
      HtmTag2 = "</div>";
      break;
    case "9" :
      HtmTag1 = "<a target='' class='td' href='http://";
      HtmTag2 = "'>";
      break;
    case "10" :
      HtmTag1 = "<a href='mailto:";
      HtmTag2 = "'>";
      break;
    case "14" :
      HtmTag1 = "[img1]";
      HtmTag2 = "";
      break;      
    default :
      HtmTag = "";
    }
   
    LastDirection = 1;
    InsertionHistory[InsertionCounter] = 
document.forms[FormNumber].elements[LastFocus].value;
    FocusHistory[InsertionCounter] = LastFocus;
    InsertionCounter = InsertionCounter + 1;

    
    if ( document.selection && document.selection.createRange )
{
      range = document.selection.createRange();
      if ( range.text != "" ) {
        if ( TagNum < 9 ) {
          if ( TagNum == 4 ) {
            SelText = range.text;
            var Ergebnis = SelText.match(/\n/);
            if ( Ergebnis != null ) {
              var NewSelText = SelText.replace(/\n/g,"\n<li>");
              HtmTag1 = "<ul>\n<li>";
              HtmTag2 = "\n</ul>\n";
              SelText = HtmTag1 + NewSelText + HtmTag2;
            }
          } else {
            SelText = HtmTag1 + range.text + HtmTag2;
          }
        } else {
      if (TagNum == 9) {
        SelText = HtmTag1 + range.text + HtmTag2 + "" + range.text + "</a>";
      }
      if (TagNum == 10) {
        SelText = HtmTag1 + range.text + HtmTag2 + "" + range.text + "</a>";
      }
      if (TagNum == 14) {
        SelText = HtmTag1 + range.text + HtmTag2;
      }      
        }
        range.text = SelText;
      } else {
        if ( TagNum < 9 ) {
          document.forms[FormNumber].elements[LastFocus].value = HtmTag1 + document.forms[FormNumber].elements[LastFocus].value + HtmTag2;
        } else if ( TagNum < 14 ) {
          document.forms[FormNumber].elements[LastFocus].value = document.forms[FormNumber].elements[LastFocus].value + HtmTag1 + "http://www.hrportal.hu" + HtmTag2 + "<wwwdesc>példalink szövege</wwwdesc>";
        } else {
          document.forms[FormNumber].elements[LastFocus].value = HtmTag1 + document.forms[FormNumber].elements[LastFocus].value + HtmTag2;
        }
        
      }
    } else {
      if ( TagNum < 9 ) {
        document.forms[FormNumber].elements[LastFocus].value = HtmTag1 + document.forms[FormNumber].elements[LastFocus].value + HtmTag2;
      } else if ( TagNum < 14 ) {
        document.forms[FormNumber].elements[LastFocus].value = document.forms[FormNumber].elements[LastFocus].value + HtmTag1 + "http://www.webone.de" + HtmTag2 + "<wwwdesc>példalink leírása</wwwdesc>";
       } else {
          document.forms[FormNumber].elements[LastFocus].value = HtmTag1 + document.forms[FormNumber].elements[LastFocus].value + HtmTag2;
        }
    }
    InsertionHistory[InsertionCounter] = document.forms[FormNumber].elements[LastFocus].value;
    FocusHistory[InsertionCounter] = LastFocus;
    InsertionCounter = InsertionCounter + 1;
    MaxInsertionCounter = InsertionCounter;
  }
}
//-->
</SCRIPT>
    
</head>
<body topmargin='0' leftmargin='0' marginheight='0' marginwidth='0' text='#000000' link='#000000' vlink='#000000' alink='#000000'>
<script language='Javascript'>
 function submit_frm_input()
  {
   var f=document.forms.frm_input;

   if (confirm("Valóban módosítja a cikket?"))  
    if ( f.edt_teaser.value!='' && f.edt_lead.value!='' && f.edt_body.value!='' )
     {
      f.submit();
     }
      else
     {
      alert("Nincs kitöltve minden kötelező mező!");
     }
   
  }
</script>
<table width='100%' cellpadding='0' cellspacing='0' border='0'>
 <tr>
  <td align='left' width='100%' background='images/pixel.gif' bgcolor='#004989'><img src='images/title_edit.gif' border='0'></td>
 </tr>
</table>

<table>
 <tr>
  <td>
  
<form name='frm_input' action='do_edit.phtml' method='post' enctype="multipart/form-data">
<input type='hidden' name='edt_id' value='<?=$id?>'>
<input type='hidden' name='limit' value='<?=$limit?>'>
<input type='hidden' name='order' value='<?=$order?>'>
<input type='hidden' name='orderby' value='<?=$orderby?>'>
<input type='hidden' name='show' value='<?=$show?>'>

<input type='hidden' name='search_string' value='<?=$search_string?>'>
<input type='hidden' name='search_what' value='<?=$search_what?>'>
<input type='hidden' name='filter_c_id' value='<?=$filter_c_id?>'>
<input type='hidden' name='filter_cw_login' value='<?=$filter_cw_login?>'>
 
<table cellpadding='0' cellspacing='5' border='0'>
 <tr>
  <td align='right' width='200'><b>Cím:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'><input type='text' name='edt_teaser' style='width: 350px;' value='<?=$article['a_teaser']?>'> <input type='button' onClick='add_url();' value='Linket vinnék be'></td>
 </tr>
 <tr>
  <td align='right' width='200' valign='top'><b>Lead:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'><textarea name='edt_lead' style='width: 400px; height: 100px;' onfocus="GetLastEntry('edt_lead');"><?=$article['a_lead']?></textarea></td>
 </tr> 
 <tr>
  <td align='right' width='200' valign='top'><b>Cikktörzs:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'><textarea name='edt_body' style='width: 400px; height: 200px;' onfocus="GetLastEntry('edt_body');"><?=$article['a_body']?></textarea></td>
 </tr>  
 <tr>
  <td align='right' width='200'><b>Kategória:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'>
   <select name='edt_category_id'>
    <?php
       $res_categories=mysql_query("SELECT
                                     c.id AS c_id,
                                     c.name AS c_name
                                    FROM
                                     f_categories c
                                    ORDER BY
                                     c_name") or die(mysql_error());

     while ($categories=mysql_fetch_array($res_categories))
      {
       echo "<option value='".$categories['c_id']."'";
       if ($categories['c_id']==$article['c_id']) echo " selected";
       echo ">".$categories['c_name']."</option>";
      }
    ?>
   </select>
  </td>
 </tr> 
  <tr>
  <td align='right' width='200'><b>Dátum:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'>
  <?
  $def_y_p=substr($article['a_date_added'],0,4);
    $def_m_p=substr($article['a_date_added'],5,2);
    $def_d_p=substr($article['a_date_added'],8,2);
    $def_h_p=substr($article['a_date_added'],11,2);
  ?>
  <select name='edt_p_year_i'>
     <?php
      for ($i=2003; $i<=date("Y")+1; $i++)
       {
        echo "<option value='$i'";
        if ($def_y_p==$i) echo " selected";
        echo ">$i</option>";
       }
     ?>
    </select>
   <select name='edt_p_month_i'>
    <option value='01' <?=($def_m_p==1?"selected":"")?>>január</option>
    <option value='02' <?=($def_m_p==2?"selected":"")?>>február</option>
    <option value='03' <?=($def_m_p==3?"selected":"")?>>március</option>
    <option value='04' <?=($def_m_p==4?"selected":"")?>>április</option>
    <option value='05' <?=($def_m_p==5?"selected":"")?>>május</option>
    <option value='06' <?=($def_m_p==6?"selected":"")?>>június</option>
    <option value='07' <?=($def_m_p==7?"selected":"")?>>július</option>
    <option value='08' <?=($def_m_p==8?"selected":"")?>>augusztus</option>
    <option value='09' <?=($def_m_p==9?"selected":"")?>>szeptember</option>
    <option value='10' <?=($def_m_p==10?"selected":"")?>>október</option>
    <option value='11' <?=($def_m_p==11?"selected":"")?>>november</option>
    <option value='12' <?=($def_m_p==12?"selected":"")?>>december</option>
   </select> 
   <select name='edt_p_day_i'>
    <?php
     for ($i=1; $i<=31; $i++)
      {
       $j=$i; if ($j<10) $j="0".$j;
       
       echo "    <option value='$j'";
       if ($i==$def_d_p) echo " selected";
       echo ">$j</option>\n";
      }
    ?>
   </select>. &nbsp;
   
   <select name='edt_p_hour_i'>
    <?php
     for ($i=0; $i<=23; $i++)
      {
       $j=$i; if ($j<10) $j="0".$j;
       
       echo "    <option value='$j'";
       if ($i==$def_h_p) echo " selected";
       echo ">$j</option>\n";
      }
    ?>   
   </select> óra 
  </td>
 </tr> 
 
 <tr>
  <td align='right' width='200'><b>Kis kép:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'>
   <select name='edt_small_pic_action'>
    <option value='no_action'>nincs változás</option>
    <option value='del'>töröl</option>
    <option value='new'>újat visz fel</option>
   </select>
   <input type='hidden' name='edt_small_pic_filename' value='<?=$article['a_small_pic']?>'>   
   <input type='file' name='edt_small_pic' value='<?=$article['a_small_pic']?>'>&nbsp;&nbsp;elhelyezkedés:&nbsp;
   <select name='edt_small_pic_align'>
    <option value='left' <?=($article['a_small_pic_align']=="left"?"selected":"")?>>bal</option>
    <option value='right' <?=($article['a_small_pic_align']=="right"?"selected":"")?>>jobb</option>
   </select>
  </td>
 </tr>  
 <tr>
  <td align='right' width='200'><b>Nagy kép:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'>
   <select name='edt_large_pic_action'>
    <option value='no_action'>nincs változás</option>
    <option value='del'>töröl</option>
    <option value='new'>újat visz fel</option>
   </select>  
   <input type='hidden' name='edt_large_pic_filename' value='<?=$article['a_large_pic']?>'>
   <input type='file' name='edt_large_pic'>&nbsp;&nbsp;elhelyezkedés:&nbsp;
   <select name='edt_large_pic_align'>
    <option value='left' <?=($article['a_large_pic_align']=="left"?"selected":"")?>>bal</option>
    <option value='right' <?=($article['a_large_pic_align']=="right"?"selected":"")?>>jobb</option>
   </select>
  </td>
 </tr>  
 <script language="Javascript">
  function login_onchange()
   {
    var f=document.forms.frm_input;
    for (var i = 0; i < f.edt_contentwriter_login.options.length; i++)
     {
       if (f.edt_contentwriter_login.options.options[i].selected)
        {
         <?php
          $res_contentwriters=mysql_query("SELECT login, shown_name, source FROM contentwriters ORDER BY login") or die(mysql_error());         
          while ($contentwriters=mysql_fetch_array($res_contentwriters))
           {
            echo "if (f.edt_contentwriter_login.options.options[i].value=='".$contentwriters['login']."')
                   {
                    f.edt_source.value='".$contentwriters['source']."';
                   }\n";
           }
         ?>
        }
     }    
   }
   
  function add_url()
   {
    var f=document.forms.frm_input;
    
    var url="";
    url=prompt("URL: (http:// kell az elejére!)","http://");    
    var txt="";
    txt=prompt("A link szövege (erre kell majd kattintani)","");    
    
    var target="";
    if (confirm("Új ablakban nyíljon meg?"))
     target="_blank";          
    
    if (url!=null && url!="" && txt!=null && txt!="")
     {
      f.edt_teaser.value="<a target=\""+target+"\" class=\"td\" href=\""+url+"\">"+txt+"</a>";
     }
      else
     {
      alert("Valamelyik érték üres maradt!");
     }
   }
   
 </script>
<?php
   echo "<tr><td colspan='3'>&nbsp;</td></tr>";
   $res_contentwriters=mysql_query("SELECT login, shown_name, source FROM contentwriters ORDER BY login") or die(mysql_error());
   echo " <tr>
           <td align='right' width='200'><b>Szerző:</b></td>
           <td width='10'>&nbsp;</td>
           <td align='left'>
            <select name='edt_contentwriter_login' onChange='login_onchange()'>";
            while ($contentwriters=mysql_fetch_array($res_contentwriters))
             {
              echo "<option value='".$contentwriters['login']."'";
              if ($contentwriters['login']==$article['cw_login']) echo " selected";
              echo ">".$contentwriters['shown_name']."</option>\n";
             }
   echo "   </select>
           </td>
          </tr>";
?>           
 <tr>
  <td align='right' width='200'><b>Forrás:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'><input type='text' name='edt_source' style='width: 565px;' value='<?=$article['a_source']?>'></td>
 </tr>         
 <tr>
  <td align='right' width='200'><b>Prioritás:</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'>
   <select name='edt_priority'>
    <option value='0' <?=($article['a_priority']=="0"?"selected":"")?>>normál</option>
    <option value='1' <?=($article['a_priority']=="1"?"selected":"")?>>kiemelt</option>
   </select>
  </td>
 </tr>      
 <tr>
  <td align='right' width='200'><b>Sortörés (nl2br):</b></td>
  <td width='10'>&nbsp;</td>
  <td align='left'>
   <select name='edt_nl2br'>
    <option value='yes' <?=($article['a_nl2br']=="yes"?"selected":"")?>>van</option>
    <option value='no' <?=($article['a_nl2br']=="no"?"selected":"")?>>nincs</option>
   </select>
  </td>
 </tr>    
 <tr>
  <td align='right' width='200'><b>Kulcsszavak:</b></td>
  <td width='10'>&nbsp;</td>
  <td width='10'>&nbsp;</td>
  <td align='left'>
   <input type='text' name='edt_keyword1' size='15' value='<?=$article['a_keyword1']?>'> <input type='text' name='edt_keyword2' size='15' value='<?=$article['a_keyword2']?>'> <input type='text' name='edt_keyword3' size='15' value='<?=$article['a_keyword3']?>'> <input type='text' name='edt_keyword4' size='15' value='<?=$article['a_keyword4']?>'> <input type='text' name='edt_keyword5' size='15' value='<?=$article['a_keyword5']?>'>
  </td>
 </tr>     
 

 <tr>
  <td colspan='2' height='80'>&nbsp;</td>
  <td align='center' height='80'>
   <input type='button' value='          Mehet          ' onClick='submit_frm_input()'>
  </td>
 </tr>
</table>
</form>

  </td>
  <td valign='top'>
  
<table border="0" cellspacing="0"
cellpadding="0">
<form>
<tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Félkövér"
name="B1" 
onclick="InsertHtml('1');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Dőlt" name="B2"
onclick="InsertHtml('2');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Új bekezdés"
name="B3" 
onclick="InsertHtml('3');"></td></tr><tr>

<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Lista" name="B4"
onclick="InsertHtml('4');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Sortörés"
name="B5" 
onclick="InsertHtml('5');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Középre zárás"
name="B6" 
onclick="InsertHtml('6');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Sorkizárás"
name="B7" 
onclick="InsertHtml('7');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Jobbra zárás"
name="B8" 
onclick="InsertHtml('8');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Internet link"
name="B9" 
onclick="InsertHtml('9');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="E-mail link"
name="B10" 
onclick="InsertHtml('10');"></td>
</tr><tr>
<td>&nbsp;</td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Kép"
name="B14" 
onclick="InsertHtml('14');"></td>
</tr><tr>
<td>&nbsp;</td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Visszavonás"
name="B11" onclick="Undo();"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Mégis"
name="B12" onclick="Redo();"></td>
</tr>
</form>
</table>

  </td>
 </tr>
</table>  

</body>
<?php
 mysql_close($db);
?>
