<?php
 session_start();
 
define("DB_SERVER","localhost");
  define("DB_USER","hrportal");
  define("DB_PASSWORD","qawUcAd8");
  define("DB_NAME","hrportal_new");
  define("SITE_URL","http://www.hrportal.hu");
  define("CONTENT_UPLOAD_DIR","/home/www-data/new.hrportal.hu/images/uploaded/");
  define("CONTENT_ALERT_MAIL_TO","info@hrportal.hu");
 
  //require_once("../library2.inc.php");
 
 $db=mysql_connect(DB_SERVER,DB_USER,DB_PASSWORD) or die(mysql_error());
 mysql_select_db(DB_NAME,$db) or die(mysql_error());
    $result = mysql_query("SET NAMES utf8");

 $orderby=$_GET['orderby'];
 $order=$_GET['order'];
 $limit=$_GET['limit'];
 $article_id=$_GET['article_id'];
 $show=$_GET['show'];
 
 $search_string=$_GET['search_string'];
 $search_what=$_GET['search_what'];
 $filter_cw_login=$_GET['filter_cw_login'];
 $filter_c_id=$_GET['filter_c_id'];
 
 if ($limit=="") $limit=10;
 if ($orderby=="") $orderby="a_id";
 if ($order=="") $order="desc";
 if ($show=="") $show="all"; 
 
 
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
<?
 header("Content-Type: text/html; charset=utf-8");

?>
    <title>HRP Admin</title>
    <link rel="STYLESHEET" type="text/css" href="style.css">
</head>
<body topmargin='0' leftmargin='0' marginheight='0' marginwidth='0' text='#000000' link='#000000' vlink='#000000' alink='#000000'>
<script language='Javascript'>
 function del(article_id)
  {
   if (confirm("Biztos, hogy törli a kijelölt cikket?"))
    {
     location.replace("do_delete.phtml?id="+article_id+"&limit=<?=$limit?>&show=<?=$show?>&search_string=<?=$search_string?>&search_what=<?=$search_what?>&filter_c_id=<?=$filter_c_id?>&filter_cw_login?>=<?=$filter_cw_login?>");
    }
  }
</script>
<div align='left'>
<?php
  /* id  category_id  teaser  lead  body  small_pic  small_pic_align  large_pic  large_pic_align
     date_added  date_last_modified  contentwriter_login  priority  click_counter  is_editorial  is_approved  */
?>
<form action='index.phtml' method='get' name='frm_index'>
 Rendezés <select name='orderby'>
  <option value='a_id' <?=($orderby=="a_id"?"selected":"")?>>sorszám</option>
  <option value='a_teaser' <?=($orderby=="a_teaser"?"selected":"")?>>cím</option>
  <option value='a_lead' <?=($orderby=="a_lead"?"selected":"")?>>lead</option>
  <option value='a_date_added' <?=($orderby=="a_date_added"?"selected":"")?>>dátum</option>
  <option value='a_date_last_modified' <?=($orderby=="a_date_last_modified"?"selected":"")?>>utolsó módosítás</option>
  <option value='a_priority' <?=($orderby=="a_priority"?"selected":"")?>>prioritás</option>
  <option value='a_click_counter' <?=($orderby=="a_click_counter"?"selected":"")?>>számláló (HRPortal.hu)</option>
  <option value='a_click_counter_telkes' <?=($orderby=="a_click_counter_telkes"?"selected":"")?>>számláló (Telkes)</option>
  <option value='a_click_counter_index' <?=($orderby=="a_click_counter_index"?"selected":"")?>>számláló (Index Karrier)</option>
  <option value='a_click_counter_toplist' <?=($orderby=="a_click_counter_toplist"?"selected":"")?>>heti számláló</option>
  <option value='c_name' <?=($orderby=="c_name"?"selected":"")?>>kategória</option>
  <option value='cw_shown_name' <?=($orderby=="cw_shown_name"?"selected":"")?>>cikk szerzőjének neve</option>
 </select> szerint, 
 <select name='order'>
  <option value='desc' <?=($order=="desc"?"selected":"")?>>csökkenő</option>
  <option value='asc' <?=($order=="asc"?"selected":"")?>>növekvő</option>
 </select> sorrendben, 
 <select name='limit'>
  <option value='5' <?=($limit=="5"?"selected":"")?>>5</option>
  <option value='10' <?=($limit=="10"?"selected":"")?>>10</option>
  <option value='20' <?=($limit=="20"?"selected":"")?>>20</option>
  <option value='50' <?=($limit=="50"?"selected":"")?>>50</option>
  <option value='100' <?=($limit=="100"?"selected":"")?>>100</option>
  <option value='300' <?=($limit=="300"?"selected":"")?>>300</option>
  <option value='500' <?=($limit=="500"?"selected":"")?>>500</option>
  <option value='1000' <?=($limit=="1000"?"selected":"")?>>1000</option>
  <option value='2000' <?=($limit=="2000"?"selected":"")?>>2000</option>        
  <option value='5000' <?=($limit=="5000"?"selected":"")?>>5000</option>
 </select> db cikket megjelenítve, 
 <select name='show'>
  <option value='all' <?=$show=="all"?"selected":""?>>mindet</option>
  <option value='onlynotapproved' <?=$show=="onlynotapproved"?"selected":""?>>csak az újakat</option>
  <option value='onlyapproved' <?=$show=="onlyapproved"?"selected":""?>>csak a jóváhagyottakat</option>
 </select>
 <br>
 Keresés: <input type='text' name='search_string' value='<?=$search_string?>'> 
 <select name='search_what'>
  <option value='a_id' <?=($search_what=="a_id"?"selected":"")?>>sorszámot</option>
  <option value='a_teaser' <?=($search_what=="a_teaser"?"selected":"")?>>címben</option>
  <option value='a_lead' <?=($search_what=="a_lead"?"selected":"")?>>lead-ben</option>
  <option value='a_body' <?=($search_what=="a_body"?"selected":"")?>>body-ban</option>
 </select>
 &nbsp;&nbsp;
 Szűrés kategóriákra: 
 <select name='filter_c_id'>
  <option value='' <?=($filter_c_id==""?"selected":"")?>> - nincs - </option>
  <?php
   $res_opt=mysql_query("SELECT id, name FROM f_categories ORDER BY name") or die(mysql_error());
   while ($opt=mysql_fetch_array($res_opt))
    {
     echo "<option value='".$opt['id']."'";
     if ($opt['id']==$filter_c_id) echo " selected";
     echo ">".$opt['name']."</option>\n";
    }
  ?>
 </select>          
 &nbsp;&nbsp;
 Szűrés szerzőkre: 
 <select name='filter_cw_login'>
  <option value='' <?=($filter_cw_login==""?"selected":"")?>> - nincs - </option>
  <?php
   $res_opt=mysql_query("SELECT login, shown_name FROM contentwriters ORDER BY shown_name") or die(mysql_error());
   while ($opt=mysql_fetch_array($res_opt))
    {
     echo "<option value='".$opt['login']."'";
     if ($opt['login']==$filter_cw_login) echo " selected";     
     echo ">".$opt['shown_name']."</option>\n";
    }
  ?>  
 </select>
 &nbsp;&nbsp;&nbsp;&nbsp;<input type='submit' value='        Mehet        '>      
</form>
</div>
<br>
<table width='100%' cellpadding='4' cellspacing='1' border='0'>
 <tr>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light' colspan='3'><b>Műveletek</b></td>  
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>#</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Státusz</b></td>  
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Kategória</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Cím</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Lead</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Cikktörzs</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Kis kép</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Nagy kép</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Dátum</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Utolsó módosítás</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Cikk szerzője</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Prioritás</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Számláló</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Heti számláló</b></td>
 </tr>

<?php
 $sql="SELECT
        a.id AS a_id,
        a.teaser AS a_teaser,
        a.lead AS a_lead,
        a.body AS a_body,
        a.small_pic AS a_small_pic,
        a.small_pic_align AS a_small_pic_align,
        a.large_pic AS a_large_pic,
        a.large_pic_align AS a_large_pic_align,
        a.date_added AS a_date_added,
        a.date_last_modified AS a_date_last_modified,
        a.priority AS a_priority,
        a.click_counter AS a_click_counter,
        a.click_counter_telkes AS a_click_counter_telkes,
        a.click_counter_index AS a_click_counter_index,
        a.click_counter_toplist AS a_click_counter_toplist,
        a.is_editorial AS a_is_editorial,
        a.is_approved AS a_is_approved,
        c.name AS c_name,
        c.id AS c_id,
        cw.shown_name AS cw_shown_name,
        cw.login AS cw_login
       FROM
        (features a LEFT JOIN f_categories c ON a.category_id=c.id)
       LEFT JOIN
        contentwriters cw ON a.contentwriter_login=cw.login
       WHERE
        c.name<>'vd'";
 
 if ($article_id!="")
  $sql.=" AND a.id='$article_id'";    
     
 if ($show=="onlynotapproved")
  $sql.=" AND a.is_approved='no'";

 if ($show=="onlyapproved")
  $sql.=" AND a.is_approved='yes'";
     
 if ($search_string!="")
  {
   switch ($search_what)
    {
     case "a_id": $sql.=" AND a.id='$search_string'"; break;
     case "a_teaser": $sql.=" AND a.teaser LIKE '%$search_string%'"; break;
     case "a_lead": $sql.=" AND a.lead LIKE '%$search_string%'"; break;
     case "a_body": $sql.=" AND a.body LIKE '%$search_string%'"; break;
     default: die("Error: invalid search_what value: ".$search_what);
    }
  }
  
 if ($filter_cw_login!="")
  $sql.=" AND cw.login='$filter_cw_login'";

 if ($filter_c_id!="")
  $sql.=" AND c.id='$filter_c_id'";
     
 $sql.=" ORDER BY $orderby $order
       LIMIT $limit";

   
 $res_article=mysql_query($sql) or die(mysql_error());

 while ($article=mysql_fetch_array($res_article))
  {
   if ($article['a_is_approved']=='yes')
    $status="jóváhagyva";
   else
    $status="";
   
   if ($article['a_small_pic_align']=='left') $article['a_small_pic_align']='bal'; else $article['a_small_pic_align']='jobb';
   if ($article['a_large_pic_align']=='left') $article['a_large_pic_align']='bal'; else $article['a_large_pic_align']='jobb';
   
   if ($article['a_is_editorial']=='yes')
    $bgcolor="#E0E0E0";
   else
    $bgcolor="#F0F0F0";
   
   if ($article['cw_login']=="hrportal")
    $bgcolor="#D6EBB5"; 
   if ($article['cw_login']=="hrportal" and $article['a_is_editorial']=='yes')
    $bgcolor="#C6DBA5";
    
    
   echo "<tr>";
   if ($article['a_is_approved']=='yes')
    echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'><a href='do_approve.phtml?id=".$article['a_id']."&undo=yes&limit=$limit&orderby=$orderby&order=$order&show=$show&search_string=$search_string&search_what=$search_what&filter_c_id=$filter_c_id&filter_cw_login=$filter_cw_login' class='td'>Engedélyt<br>visszavon</a></td>";
   else
    echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'><a href='do_approve.phtml?id=".$article['a_id']."&limit=$limit&orderby=$orderby&order=$order&show=$show&search_string=$search_string&search_what=$search_what&filter_c_id=$filter_c_id&filter_cw_login=$filter_cw_login' class='td'>Engedélyez</a></td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'><a href='javascript:del(".$article['a_id'].");' class='td'>Töröl</a></td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'><a href='edit.phtml?id=".$article['a_id']."&limit=$limit&orderby=$orderby&order=$order&show=$show&search_string=$search_string&search_what=$search_what&filter_c_id=$filter_c_id&filter_cw_login=$filter_cw_login' class='td'>Módosít</a></td>";            
   
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_id']."</td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$status."</td>";   
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['c_name']."</td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='left' valign='top'>"./*substr(*/$article['a_teaser']/*,0,150)*/."</td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='left' valign='top'>".substr($article['a_lead'],0,150)."</td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='left' valign='top'>".substr($article['a_body'],0,150)."</td>";            
   if ($article['a_small_pic']!="")
    echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_small_pic']." (".$article['a_small_pic_align'].")</td>";            
   else
    echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>-</td>";
   if ($article['a_large_pic']!="")
    echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_large_pic']." (".$article['a_large_pic_align'].")</td>";            
   else
    echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>-</td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_date_added']."</td>";            
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_date_last_modified']."</td>";            
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['cw_shown_name']."</td>";            
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_priority']."</td>";            
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'> HRP:".$article['a_click_counter']."<br> Telkes:".$article['a_click_counter_telkes']."<br> Index:".$article['a_click_counter_index']."<br></td>";            
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_click_counter_toplist']."</td>";            
   
   echo "</tr>";
  }                              
?> 
 
</table>
</body>
</html>
<?php
 mysql_close($db);
?>
