<?php
error_reporting(E_ALL);
 header("Content-Type: text/html; charset=utf-8");
 setlocale(LC_CTYPE, 'hu_HU');

  define("DB_SERVER","localhost");
  define("DB_USER","hrportal");
  define("DB_PASSWORD","qawUcAd8");
  define("DB_NAME","hrportal_new");
  define("SITE_URL","http://www.hrportal.hu");
  define("CONTENT_UPLOAD_DIR","/home/www-data/new.hrportal.hu/images/uploaded/");
  define("CONTENT_ALERT_MAIL_TO","info@hrportal.hu");
 require_once("../library.inc.php");
#Fix 2005.08.28. imgadmin-os képek kidobálva a body forrásából
  
 $start=http_get_var("start");
 $limit=http_get_var("limit");
 $allpage=http_get_var("allpage");
 $c_name=http_get_var("c_name");   
 $c_name_like=http_get_var("c_name_like");   
 $contentwriter_login=http_get_var("contentwriter_login");    
 $partner=http_get_var("partner"); 
 $own_news=http_get_var("own_news"); 
 $own_news=1; # Only articles that have been added by hrportal as author
 if (!isset($limit)) $limit=30;
 if ($limit>=100) $limit=100; # Maximize limit to avoid DB load
 
 
 if (!$start) $start="0";
 if (!$limit) $limit="30";
 if (!$allpage) $allpage="";     

 $db=mysql_connect(DB_SERVER,DB_USER,DB_PASSWORD) or die(mysql_error());
 mysql_select_db(DB_NAME,$db) or die(mysql_error()); 
    $result = mysql_query("SET NAMES utf8");
 if (isset($c_name)) $c_name=str_replace(",", "','", $c_name);
 $query="SELECT          a.id AS a_id,
                         a.teaser AS a_teaser,
                         a.lead AS a_lead,
                         a.body AS a_body,	
                         a.date_added AS a_date_added,
                         a.date_publish AS a_date_publish,
                         a.priority as a_priority,
                          c.name AS c_name,
                         l.link AS link
                        FROM
                         articles a 
                        LEFT JOIN 
                        	categories c ON (a.category_id=c.id)
                         LEFT JOIN
							links l ON (a.id=l.art_id)	
                        WHERE
                         a.is_approved='yes'
						AND
								a.category_id!='85'	
							AND
								a.category_id!='59'	
							AND
								a.category_id!='79'	
								and
								l.aproved=1
						AND 
							  a.date_publish<NOW()		 
						AND (a.contentwriter_login like '%HR%'
							or a.contentwriter_login like '%porta%')
                        ORDER BY
                         a.date_added DESC                         
                        LIMIT 20";
#echo $query;						   
 $res_news=mysql_query($query) or die(mysql_error()); 
 
#header("Content-Type: application/rss+xml; charset=iso-8859-2");

 
 echo"<?xml version=\"1.0\" encoding=\"utf-8\"?>
<rss version=\"2.0\" xmlns:hst=\"http://hirstart.hu/rss-mod\">
<channel>
<title>HR Portal</title>
<link>http://hrportal.hu</link>
<description>HR Portal</description>
<lastBuildDate>".date("r")."</lastBuildDate>
<language>hu-HU</language>";
 
 while ($news=mysql_fetch_array($res_news))
  {
   /* format: 
xml version="1.0" encoding="iso-8859-2"
<rss version="2.0">
<channel>
<title>HR Portal</title>
<link>http://hrportal.hu</link>
<description>HR Portal</description>
<lastBuildDate>Mon, 12 Sep 2005 18:37:00 GMT</lastBuildDate>
<language>hu-HU</language>

<item>
<title><![CDATA[ Fura szárnyat tesztel a McLaren ]]> </title>
<link>http://example.com/item/123</link>
<guid>http://example.com/item/123</guid>
<pubDate>Mon, 12 Sep 2005 18:37:00 +0200</pubDate>
<description>[CDATA[ This is the description. ]]</description>
</item>
<!-- put more items here -->
  */
  
  $pos=stristr($news['a_teaser'],"href");
  $url=eregi_replace("^(.*)(href=\")(.*)(\")(.*)$","\\3",$news['a_teaser']);
   
   //if ($pos===false)
    //$news['a_teaser']="<a target=\"_blank\" href=\"http://www.hrportal.hu/index.phtml?page=article&id=".$news['a_id']."\">".$news['a_teaser']."</a>";
   // else
   if ($pos!==false)
    {
     $news['a_teaser']=str_replace("http://","http://www.hrportal.hu/redirect_v2.phtml?url=http://",$news['a_teaser']);
     $news['a_teaser']=str_replace("class=\"td\"","",$news['a_teaser']);
     $news['a_teaser']=str_replace("class='td'","",$news['a_teaser']);
    }   
//	if($news['a_small_pic']!=""){
//		$news['a_small_pic']="http://hrportal.hu/images/uploaded/".$news['a_small_pic'];
//	}
//	else{
//		$news['a_small_pic']="";
//	}
//	$news['a_large_pic']="http://hrportal.hu/images/uploaded/".$news['a_large_pic'];
    $news['a_body']=preg_replace("/\[img(.*?)\]/e"," ",$news['a_body']);	
  
  echo "
<item>
<title> <![CDATA[".$news['a_teaser']."]]> </title>\n".
       "<link>http://www.hrportal.hu".$news['link']."</link>\n".
       "<guid>http://www.hrportal.hu".$news['link']."</guid>\n".	   
       "<pubDate>".date("r",strtotime($news['a_date_publish']))."</pubDate>\n".
       "<description> <![CDATA[".$news['a_lead']."]]> </description>\n".
	   "<hst:titlepage>".$news['a_priority']."</hst:titlepage>\n".
       "<category>Gazdaság</category>\n
</item>";

  
  
  }
                        
 mysql_close($db);
                         
?>

</channel>
</rss>




