<?php
error_reporting(E_ALL);
 header("Content-Type: text/html; charset=utf-8");
 setlocale(LC_CTYPE, 'hu_HU');

  define("DB_SERVER","localhost");
  define("DB_USER","hrportal");
  define("DB_PASSWORD","qawUcAd8");
  define("DB_NAME","hrportal_new");
  define("SITE_URL","http://www.hrportal.hu");
  define("CONTENT_UPLOAD_DIR","/home/www-data/new.hrportal.hu/images/uploaded/");
  define("CONTENT_ALERT_MAIL_TO","info@hrportal.hu");
 require_once("../library.inc.php");
#Fix 2005.08.28. imgadmin-os képek kidobálva a body forrásából

 
     

 $db=mysql_connect(DB_SERVER,DB_USER,DB_PASSWORD) or die(mysql_error());
 mysql_select_db(DB_NAME,$db) or die(mysql_error()); 
    $result = mysql_query("SET NAMES latin2");
 if (isset($c_name)) $c_name=str_replace(",", "','", $c_name);
 $query="SELECT DISTINCT
                         a.id AS a_id,
                         a.teaser AS a_teaser,
                         a.lead AS a_lead,
                         a.body AS a_body,
						a.source AS source,
                         a.date_added AS a_date_added,
                          c.name AS c_name,
                         l.link AS link
                        FROM
                         articles a 
                        LEFT JOIN 
                        	categories c ON (a.category_id=c.id)
                         LEFT JOIN
							articles_link l ON (a.id=l.art_id)	
                        WHERE
                         a.is_approved='yes'
						AND 
							  a.date_publish<NOW()		 
                        AND
								a.category_id!='85'	
							AND
								a.category_id!='59'	
						AND
                        a.category_id!='4' 
                        AND
                         a.is_editorial='no'
						AND
						a.body  not like '%Napi Gazdaság%'  
						AND
						a.body not like '%Világgazdaság%' 
                        ORDER BY
                         a.date_added DESC                         
                        LIMIT 30";
#echo $query;						   
 $res_news=mysql_query($query) or die(mysql_error()); 
 
#header("Content-Type: application/rss+xml; charset=iso-8859-2");

 
 echo"<?xml version=\"1.0\" encoding=\"iso-8859-2\"?>
<rss version=\"2.0\">
<channel>
<title>HR Portal</title>
<link>http://hrportal.hu</link>
<description>HR Portal</description>
<lastBuildDate>".date("r")."</lastBuildDate>
<language>hu-HU</language>";
 
 while ($news=mysql_fetch_array($res_news))
  {
   /* format: 
xml version="1.0" encoding="iso-8859-2"
<rss version="2.0">
<channel>
<title>HR Portal</title>
<link>http://hrportal.hu</link>
<description>HR Portal</description>
<lastBuildDate>Mon, 12 Sep 2005 18:37:00 GMT</lastBuildDate>
<language>hu-HU</language>

<item>
<title><![CDATA[ Fura szárnyat tesztel a McLaren ]]> </title>
<link>http://example.com/item/123</link>
<guid>http://example.com/item/123</guid>
<pubDate>Mon, 12 Sep 2005 18:37:00 +0200</pubDate>
<description>[CDATA[ This is the description. ]]</description>
</item>
<!-- put more items here -->
  */
  
  $pos=stristr($news['a_teaser'],"href");
  $url=eregi_replace("^(.*)(href=\")(.*)(\")(.*)$","\\3",$news['a_teaser']);
   
   //if ($pos===false)
    //$news['a_teaser']="<a target=\"_blank\" href=\"http://www.hrportal.hu/index.phtml?page=article&id=".$news['a_id']."\">".$news['a_teaser']."</a>";
   // else
   if ($pos!==false)
    {
     $news['a_teaser']=str_replace("http://","http://www.hrportal.hu/redirect_v2.phtml?url=http://",$news['a_teaser']);
     $news['a_teaser']=str_replace("class=\"td\"","",$news['a_teaser']);
     $news['a_teaser']=str_replace("class='td'","",$news['a_teaser']);
    }   
	
//	$news['a_small_pic']="http://hrportal.hu/images/uploaded/".$news['a_small_pic'];
//	$news['a_large_pic']="http://hrportal.hu/images/uploaded/".$news['a_large_pic'];
    $news['a_body']=preg_replace("/\[img(.*?)\]/e"," ",$news['a_body']);	
/*
	$news['a_teaser']=str_replace("\"", "&#x22;", $news['a_teaser']);
	$news['a_teaser']=str_replace("'", "&#x27;", $news['a_teaser']);
	$news['a_teaser']=str_replace("&", "&#x26;", $news['a_teaser']);		
	$news['a_teaser']=str_replace(">", "&#x3E;", $news['a_teaser']);
	$news['a_teaser']=str_replace("<", "&#x3C;", $news['a_teaser']);		
  */     
  echo "
<item>
<title> <![CDATA[".$news['a_teaser']."]]> </title>\n".
       "<link>".$news['link']."</link>\n".
       "<guid>".$news['link']."</guid>\n".	   
       "<pubDate>".date("r",strtotime($news['a_date_added']))."</pubDate>\n".
       "<description> <![CDATA[".$news['a_lead']."]]> </description>
</item>";

  
  
  }
                        
 mysql_close($db);
                         
?>

</channel>
</rss>




