<?php
  include "ip_auth.inc";
  include "GlobalVars.inc";
  include "mysqlconnect.inc";
  ### require("class/user.class");
  require("class/template.class");

  if (isset($_GET['templ_id'])) $templ_id=$_GET['templ_id'];
  if (isset($_GET['kid'])) $kid=$_GET['kid'];
  if (isset($_GET['secret'])) $secret=$_GET['secret'];
  if (isset($_GET['new_entry'])) $new_entry=$_GET['new_entry'];
  if (isset($_GET['newcomp'])) $newcomp=$_GET['newcomp'];
  
  if (isset($_POST['templ_id'])) $templ_id=$_POST['templ_id'];
  if (isset($_POST['kid'])) $kid=$_POST['kid'];
  if (isset($_POST['secret'])) $secret=$_POST['secret'];
  if (isset($_POST['new_entry'])) $new_entry=$_POST['new_entry'];
  if (isset($_POST['newcomp'])) $newcomp=$_POST['newcomp'];
  if (isset($_POST['source'])) $source=$_POST['source'];
  if (isset($_POST['dowhat'])) $dowhat=$_POST['dowhat'];  
  
  ### $user = new User($REMOTE_USER);
  $tpl  = new Template($templ_id);

  if ( $dowhat ) {
    if ( $dowhat="Save" ) {
      $tpl->source=$source;
	  ### echo "This is the original source:".$source."<br>";
      $tpl->prepare_source();
      $tpl->save();
    }
    header("Location: templates.phtml");
  }

?>

<html>

<head>
  <title><?php print $tpl->firma; ?></title>
</head>

<body bgcolor="#ff9900">
<center>

<form action="edit_source.phtml" method="post">
<input type="hidden" name="templ_id" value="<?php print $templ_id; ?>">
<table cellspacing="2" cellpadding="2" border="0">
<tr>
  <td bgcolor="white">
     <font face="Arial,Helvetica" color="black" size="3">
      Source</font>
  </td>
</tr>
<tr>
  <td bgcolor="lightgrey">
      <font size="3"><tt>
      <textarea name="source" cols="90" rows="30"><?php print htmlspecialchars($tpl->source);?></textarea></tt></font>
  </td>
</tr>
<tr>
  <td bgcolor="lightgrey">
     <font face="Arial,Helvetica" size="3">
      <input type="submit" name="dowhat" value="Save">
      <input type="reset"  name="dowhat" value="Reset">
      <input type="submit" name="dowhat" value="Quit"> 
      </font>
  </td> 
</tr> 
</table>

</form>

</center>

</body>
</html>