<?php
  include "ip_auth.inc";
  include "GlobalVars.inc";
  include "mysqlconnect.inc";
  include "functions/mysqlconnect.hrportal.inc";
  ### require("class/user.class");
  require("class/template.class");

  if (isset($_POST['templ_id'])) $templ_id=$_POST['templ_id'];
  if (isset($_POST['dowhat'])) $dowhat=$_POST['dowhat'];
      
  if (isset($_GET['templ_id'])) $templ_id=$_GET['templ_id'];
  if (isset($_GET['kid'])) $kid=$_GET['kid'];
  if (isset($_GET['secret'])) $secret=$_GET['secret'];
  if (isset($_GET['new_entry'])) $new_entry=$_GET['new_entry'];
  if (isset($_GET['newcomp'])) $newcomp=$_GET['newcomp'];
  

  
  ### $user = new User($REMOTE_USER);
  $tpl  = new Template($templ_id);

  if ( $dowhat=="Save" ) {
    while (list($var, $value) = each($_POST)) {
      if ( ereg("new.*_.*",$var) ) {
        $var = explode("_",$var);
        if ( $value != "" ) {
          mysql_query("
            INSERT INTO
              templ_data
              (field_id,value)
            VALUES($var[1],'".addslashes($value)."')",$CONNECTION_HTML) or print mysql_error($CONNECTION_HTML);
        }
      }
      if ( ereg("old_.*",$var)  ) {
        $var = substr($var,4);
        mysql_query("
          UPDATE
            templ_data
          SET
            value='".addslashes($value)."'
          WHERE
            data_id=$var",$CONNECTION_HTML) or print mysql_error($CONNECTION_HTML);
      }
    }
  } 
  if ( $dowhat=="Quit" ) {
    header("Location: templates.phtml");
  }

?>

<html>

<head>
  <title><?php print $tpl->firma; ?></title>
</head>

<body bgcolor="#ff9900">
<center>

<form action="edit_data.phtml" method="post">
<input type="hidden" name="templ_id" value="<?php print $templ_id; ?>">
<table cellspacing="2" cellpadding="2" border="0">
<tr>
<?php
  $r=mysql_query("
        SELECT
          field_id,   
          name
        FROM
          templ_field
        WHERE templ_id=$templ_id AND type=2
        ORDER BY
          name",$CONNECTION_HTML) or print mysql_error($CONNECTION_HTML);

  $count = mysql_num_rows($r);

  while( $row=mysql_fetch_object($r) ) {
    print
      "<td bgcolor=\"white\">".
      "<font face=\"Arial,Helvetica\" color=\"black\" size=\"3\">".
      "$row->name<font color=\"#ff9900\"> (id:$row->field_id)</font></font>".
      "</td>\n";
   
    $r_array[$row->field_id] =mysql_query("
        SELECT
          data_id,
          value
        FROM  
          templ_data
        WHERE field_id=$row->field_id
        ORDER BY
          value",$CONNECTION_HTML) or print mysql_error($CONNECTION_HTML);
  }
  print "</tr>\n";
  if ( is_array($r_array) ) {
    $do_it_again = 1;
  } else {
    $do_it_again = 0;
  }
  $new_index = 0;

  while( $do_it_again ) {
    $do_it_again = 0;
    reset($r_array);
    print "<tr>\n";
    do {
      if ($row = @mysql_fetch_object(current($r_array)) ) {
        $do_it_again = 1;
        $data_id = "old_".$row->data_id;
        $value   = $row->value;
      } else {
        $data_id = "new$new_index"."_".key($r_array);
        $new_index++;
        $value   = "";
      }
      print
        "<td bgcolor=\"lightgrey\">".
        "<font face=\"Arial,Helvetica\" color=\"black\" size=\"3\">".
        "<input size=10 name=\"$data_id\" value=\"$value\"></font>".
        "</td>\n";
    } while ( next($r_array) );
    print "</tr>\n";
  }
?>
<tr>
  <td colspan="<?php print $count; ?>" bgcolor="lightgrey">
     <font face="Arial,Helvetica" size="3">
      <input type="submit" name="dowhat" value="Save">
      <input type="reset"  name="dowhat" value="Reset">
      <input type="submit" name="dowhat" value="Quit"> 
      </font>
  </td> 
</tr> 
</table>

</form>

</center>

</body>
</html>