<?php
  include "ip_auth.inc";
  include "GlobalVars.inc";
  include "mysqlconnect.inc";
  ### require("class/user.class");
  require("class/template.class");

  if (isset($_POST['templ_id'])) $templ_id=$_POST['templ_id'];
  if (isset($_POST['dowhat'])) $dowhat=$_POST['dowhat'];  
 
  
  if (isset($_GET['templ_id'])) $templ_id=$_GET['templ_id'];
  if (isset($_GET['kid'])) $kid=$_GET['kid'];
  if (isset($_GET['secret'])) $secret=$_GET['secret'];
  if (isset($_GET['new_entry'])) $new_entry=$_GET['new_entry'];
  if (isset($_GET['newcomp'])) $newcomp=$_GET['newcomp'];



  
  ### $user = new User($REMOTE_USER);
  $tpl  = new Template($templ_id);
  $tpl->get_tag_list();

  if ( $dowhat ) {
    if ( $dowhat="Save" ) {
      while (list($var, $value) = each($_POST)) {
        $results[$var] = $value;
      }

      reset($tpl->tags);
      do {
        $field = new TmplField( $tpl->templ_id, current($tpl->tags) );

        $field->type		= $results["type_$field->name"];
	$field->width		= $results["width_$field->name"];
	$field->height		= $results["height_$field->name"];	
	$field->ret_value	= $results["retvalue_$field->name"];
	$field->def_value	= $results["defvalue_$field->name"];
	$field->start_tag	= $results["starttag_$field->name"];
	$field->end_tag		= $results["endtag_$field->name"];

        $field->save();
      } while ( next($tpl->tags) );
      
    }
    header("Location: templates.phtml");
  }

?>

<html>

<head>
  <title><?php print $tpl->firma; ?></title>
</head>

<body bgcolor="#ff9900">
<center>

<form action="edit_fields.phtml" method="post">
<input type="hidden" name="templ_id" value="<?php print $templ_id; ?>">
<table cellspacing="2" cellpadding="2" border="0">
<tr>
  <td bgcolor="white">
    <font face="Arial,Helvetica" color="black" size="3">
      ID</font>
  </td>
  <td bgcolor="white">
    <font face="Arial,Helvetica" color="black" size="3">
      Name</font>
  </td>
  <td bgcolor="white">
    <font face="Arial,Helvetica" color="black" size="3">
      Type</font>
  </td>
  <td bgcolor="white">
    <font face="Arial,Helvetica" color="black" size="3">
      Width</font>
  </td>
  <td bgcolor="white">
    <font face="Arial,Helvetica" color="black" size="3">
      Height</font>
  </td>
  <td bgcolor="white">
    <font face="Arial,Helvetica" color="black" size="3">
      Return</font>
  </td>
  <td bgcolor="white">
    <font face="Arial,Helvetica" color="black" size="3">
      Default</font>
  </td>
  <td bgcolor="white">
    <font face="Arial,Helvetica" color="black" size="3">
      Start-Tag</font>
  </td>
  <td bgcolor="white">
    <font face="Arial,Helvetica" color="black" size="3">
      End-Tag</font>
  </td>

</tr>
<?php

if ( is_array($tpl->tags) ) {
  reset($tpl->tags);
  do {
    $field = new TmplField($tpl->templ_id,current($tpl->tags));
    print
      "<tr>".
      "<td bgcolor=\"lightgrey\">".
      "<font face=\"Arial,Helvetica\" size=\"3\">".
      "$field->field_id".
      "</font></td>".
      "<td bgcolor=\"lightgrey\">".
      "<font face=\"Arial,Helvetica\" size=\"3\">".
      "$field->name".
      "</font></td>".
      "<td bgcolor=\"lightgrey\">".
      "<font face=\"Arial,Helvetica\" size=\"3\">".
      "<select name=\"type_$field->name\">\n";
print "<option value=0";
if ( $field->type== 0 )
  print " selected";
print ">nothing\n";
print "<option value=1";
if ( $field->type== 1 )
  print " selected";
print ">Input\n";
print "<option value=2";
if ( $field->type== 2 )
  print " selected";
print ">Selection\n";
print "<option value=20";
if ( $field->type== 20 )
  print " selected";
print ">Textarea\n";
    print
      "</select>".
      "</font></td>\n".
      "<td bgcolor=\"lightgrey\">".
      "<font face=\"Arial,Helvetica\" size=\"3\">".
      "<input size=2 type=input name=width_$field->name value=$field->width>".
      "</font></td>\n".
      "<td bgcolor=\"lightgrey\">".
      "<font face=\"Arial,Helvetica\" size=\"3\">".
      "<input size=2 type=input name=height_$field->name value=$field->height>".
      "</font></td>\n".
      "<td bgcolor=\"lightgrey\">".
      "<font face=\"Arial,Helvetica\" size=\"3\">".
      "<input size=20 type=input name=retvalue_$field->name value=\"".
        htmlspecialchars($field->ret_value)."\">".
      "</font></td>\n".
      "<td bgcolor=\"lightgrey\">".
      "<font face=\"Arial,Helvetica\" size=\"3\">".
      "<input size=15 type=input name=defvalue_$field->name value=\"".
        htmlspecialchars($field->def_value)."\">".
      "</font></td>\n".
      "<td bgcolor=\"lightgrey\">".
      "<font face=\"Arial,Helvetica\" size=\"3\">".
      "<input size=10 type=input name=starttag_$field->name value=\"".
        htmlspecialchars($field->start_tag)."\">".
      "</font></td>\n".
      "<td bgcolor=\"lightgrey\">".
      "<font face=\"Arial,Helvetica\" size=\"3\">".
      "<input size=10 type=input name=endtag_$field->name value=\"".
        htmlspecialchars($field->end_tag)."\">".
      "</font></td>\n".
      "</tr>\n";
  } while (next($tpl->tags));
}
?>
<tr>
  <td colspan="9" bgcolor="lightgrey">
     <font face="Arial,Helvetica" size="3">
      <input type="submit" name="dowhat" value="Save">
      <input type="reset"  name="dowhat" value="Reset">
      <input type="submit" name="dowhat" value="Quit"> 
      </font>
  </td> 
</tr> 
</table>

</form>

</center>

</body>
</html>