<?php
include "ip_auth.inc";

include "GlobalVars.inc";
include "mysqlconnect.inc";
include "functions/mysqlconnect.hrportal.inc";
### require ("class/user.class");

### $user = new User($REMOTE_USER);

  if (isset($_GET['templ_id'])) $templ_id=$_GET['templ_id'];
  if (isset($_GET['kid'])) $kid=$_GET['kid'];
  if (isset($_GET['secret'])) $secret=$_GET['secret'];
  if (isset($_GET['new_entry'])) $new_entry=$_GET['new_entry'];
  if (isset($_GET['newcomp'])) $newcomp=$_GET['newcomp'];
  
  if (isset($_POST['templ_id'])) $templ_id=$_POST['templ_id'];
  if (isset($_POST['kid'])) $kid=$_POST['kid'];
  if (isset($_POST['secret'])) $secret=$_POST['secret'];
  if (isset($_POST['new_entry'])) $new_entry=$_POST['new_entry'];
  if (isset($_POST['newcomp'])) $newcomp=$_POST['newcomp'];
  if (isset($_POST['kunden_id'])) $kunden_id=$_POST['kunden_id'];
  if (isset($_POST['dowhat'])) $dowhat=$_POST['dowhat'];
  if (isset($_POST['clear'])) $clear=$_POST['clear'];  
  
  
  
$title = "Templates";

include "neu_head.inc";

print
  "(<a href=\"template_info.phtml\" target=\"_blank\">TEMPLATE INFO</a>)&nbsp;&nbsp;(<a href=\"upload.phtml\" target=\"_blank\">UPLOAD</a>)<br>";

if ( ((int) $kunden_id) > 0 ) {
  @mysql_query("
        INSERT INTO
          template
        SET
	  kunden_id=\"$kunden_id\"",$CONNECTION_HTML) or print mysql_error($CONNECTION_HTML);
}

# clean-up:
if ( isset($clear) ) {
  @mysql_query("
	DELETE FROM
	  templ_data
	WHERE
	  value=\"\"",$CONNECTION_HTML);
}

$r=mysql_query("
        SELECT
          templ_id,
          description,
          kunden_id,
          source
        FROM
          template
        ORDER BY
          kunden_id",$CONNECTION_HTML) or print mysql_error($CONNECTION_HTML);


print
  "<center>".
  "<table width=750 border=0 cellspacing=2 cellpadding=2>".
  "<tr>".
  "<td class='head'><font face=\"Arial,Helvetica\" color=\"white\"
size=3>&nbsp;</font></td>".
  "<td class='head'><font face=\"Arial,Helvetica\" color=\"white\" size=3>Company</font></td>".
  "<td class='head'><font face=\"Arial,Helvetica\" color=\"white\" size=3>Name</font></td>".
  "<td  class='head'><font face=\"Arial,Helvetica\" color=\"white\" size=3>ID</font></td>".
  "<td colspan=4 class='head'><font face=\"Arial,Helvetica\" color=\"white\" size=3>edit</font></td>".
  "</tr>";

while ($row = @mysql_fetch_object($r)) {
$p=mysql_query("
        SELECT
          firma
        FROM
          kunden
	WHERE
	  kunden_id=$row->kunden_id",$CONNECTION) or print mysql_error($CONNECTION);
  $row2=mysql_fetch_object($p);

  print
    "<tr>".
    "<td>".
    "<a href=\"template.phtml?templ_id=$row->templ_id\">Template</a></td>".
    "<td>$row2->firma ($row->kunden_id)</td>".
    "<td>";
  if ( $row->description != "" ) {
    print $row->description;
  } else {
   print "-";
  }
  print
    "</td>".
    "<td>$row->templ_id</td>".
    "<td>".
    "<a href=\"edit_source.phtml?templ_id=$row->templ_id\">source</a></td>".
    "<td>".
    "<a href=\"edit_fields.phtml?templ_id=$row->templ_id\">fields</a></td>".
    "<td>".
    "<a href=\"edit_data.phtml?templ_id=$row->templ_id\">data</a></td>".
    "<td>".
    "<a href=\"edit_descript.phtml?templ_id=$row->templ_id\">name</a></td>".
    "</tr>";
}

print
  "</tr>".
  "</table>".
  "<form action=\"templates.phtml\" method=post>".
  "<font face=\"Arial,Helvetica\" size=3>".
  "Company-ID: ".
  "<input type=input name=\"kunden_id\" size=5>".
  "<input type=submit name=dowhat value=\"Add Template\"> &nbsp; ".
  "<input type=submit name=clear value=\"Delete empty data-sets\">".
  "</form></font></center>";

include "neu_foot.inc";
?>
