
<html>
<head>
<title>Template-Info</title>
</head>
<body bgcolor="#ffffff">
<basefont face="Times, Arial,Helvetica"><base-size=2>


<font face="Arial, Helvetica" size="3">
<h4>How to create your own template:</h4>
(Please contact info@hrportal.hu in case of any questions.)
<ol>
<li><font face="Arial, Helvetica" size="3">Type in a customer-id and press
"Add Template"</font>
<li><font face="Arial, Helvetica" size="3">Click "edit"->"source" and paste
the source of an ad. Don't save it yet.</font>
<li><font face="Arial, Helvetica" size="3">Replace the areas, which will
change and which you would like to put values in later, by html-comments.
Use single-words <b>without spaces</b>. Use every word just one time. E.g.
&lt;!--email--&gt;</font>
<li><font face="Arial, Helvetica" size="3">Save it.</font>
<li><font face="Arial, Helvetica" size="3">Now you have to define, how these
special areas (from nowon called "fields") will be handled. Therefore click
"edit"->"fields". Each field (html-comment in your ad-source) is represented by
one row. You can ignore column "id".
We now consider you have added a field &lt;!--email--&gt;. There should
now be a line with "Name" "email". The next column "Type" defines how email
should appear in the final template-form:
  <ol>
    <li>"nothing": it appears as "(generic)". This is used if you want to use the
    value of a different field at this position without an own input field.
    E.g.: declare &lt;!--title--&gt; as nothing, and put &lt;!--position--&gt; in
    "Return" so the value written into the "position" input-field will be
    automagically copied into the title.
    <li>"input": a single line input item
    <li>"Selection": if you want a drop down list with pre-defined options (see later)
    for example for a selection of very common email-adresses.
    <li>"Textarea": a multi-line input item.
</ol>

<li><font face="Arial, Helvetica" size="3">ONLY IF You have chosen "Selection" in at least one case in the "edit"->"fields" page:
click "edit"->"data"! Here You can insert the items of the appropriate drop-down list.</font>
</font>
<li><font face="Arial, Helvetica" size="3">Click "edit"->"name", to
add the name of the company/template.</font>

</center>
</body>
</html>
