<?php
print_r($_POST);
  
  include "ip_auth.inc";
 # include "login.inc";  
  ### include "GlobalVars.inc";
  include "mysqlconnect.inc";
      $result = mysql_query("SET NAMES utf8");
  include "js.inc";
  ?>
	<script type="text/javascript">
		
function InsertHtml(TagNum) {
  //var selected = document.activeElement;
	textAreaId= 'hirda';
	//textAreaId= document.activeElement.id;
		switch ( TagNum ) {
    case "1" :
      HtmTag1 = "<strong>";
      HtmTag2 = "</strong>";
      break;
    case "2" :
      HtmTag1 = "<i>";
      HtmTag2 = "</i>";
      break;
    case "3" :
      HtmTag1 = "<p>";
      HtmTag2 = "";
      break;
    case "4" :
      HtmTag1 = "<ul>\n<li>";
      HtmTag2 = "</li>\n</ul>";
      break;
    case "5" :
      HtmTag1 = "";
      HtmTag2 = "<br>";
      break;
    case "6" :
      HtmTag1 = "<div align='center'>";
      HtmTag2 = "</div>";
      break;
    case "7" :
      HtmTag1 = "<div align='justify'>";
      HtmTag2 = "</div>";
      break;
    case "8" :
      HtmTag1 = "<div align='right'>";
      HtmTag2 = "</div>";
      break;
    case "9" :
      HtmTag1 = "<a target=\"_blank\" class=\"td\" href=\"http://";
      HtmTag2 = "</a>";
      break;
    case "10" :
      HtmTag1 = "<a style=\"font-weight:bold\" href=\"mailto:";
      HtmTag2 = "</a>";
      break;
    case "14" :
      HtmTag1 = "[img1]";
      HtmTag2 = "";
      break;      
    default :
      HtmTag = "";
    }
    
   

		var browser=navigator.appName
        var b_version=navigator.appVersion

		if (browser=="Microsoft Internet Explorer" && b_version>='4')
        {
            var str = document.selection.createRange().text;
            document.getElementById(textAreaId).focus();
            var sel = document.selection.createRange();
            if (TagNum == 9) {
				sel.text = HtmTag1 + str +' ">'+ str + HtmTag2;	
			}
			else if(TagNum == 10) {
				sel.text = HtmTag1 + str +' ">'+ str + HtmTag2;	
			}
			else if(TagNum == 4) {
				SelText = range.text;
				var Ergebnis = SelText.match(/\n/);
				if ( Ergebnis != null ) {
				  var NewSelText = SelText.replace(/\n/g,"\n<li>");
				  HtmTag1 = "<ul>\n<li>";
				  HtmTag2 = "\n</ul>\n";
				  SelText = HtmTag1 + NewSelText + HtmTag2;
				}
			}
			else{
				sel.text = HtmTag1 + str + HtmTag2;	
			}
            
            return;
        }

        field = document.getElementById(textAreaId);
        startPos = field.selectionStart;
        endPos = field.selectionEnd;
        before = field.value.substr(0, startPos);
        selected = field.value.substr(field.selectionStart, (field.selectionEnd - field.selectionStart));
        after = field.value.substr(field.selectionEnd, (field.value.length - field.selectionEnd));
        if (TagNum == 9) {
			field.value = before + HtmTag1 + selected +'" >'+ selected + HtmTag2 + after;
		}
        else if (TagNum == 10) {
			field.value = before + HtmTag1 + selected +'" >'+ selected + HtmTag2 + after;
		}
        else if (TagNum == 4) {
			//field.value = before + HtmTag1 + selected +'" >'+ selected + HtmTag2 + after;
			var Ergebnis = selected.match(/\n/);
				if ( Ergebnis != null ) {
				  var NewSelText = selected.replace(/\n/g,"\n<li>");
				  HtmTag1 = "<ul>\n<li>";
				  HtmTag2 = "\n</ul>\n";
				  SelText = HtmTag1 + NewSelText + HtmTag2;
				  field.value = before + SelText + after;
				}
		}
		else{
			field.value = before + HtmTag1 + selected + HtmTag2 + after;
		}
    

  
}
	</script>	
  
  <?
  ### require("class/user.class");
  require("class/template.class");
 
  if (isset($_GET['templ_id'])) $templ_id=$_GET['templ_id'];
  if (isset($_GET['kid'])) $kid=$_GET['kid'];
  if (isset($_GET['secret'])) $secret=$_GET['secret'];
  if (isset($_GET['new_entry'])) $new_entry=$_GET['new_entry'];
  if (isset($_GET['newcomp'])) $newcomp=$_GET['newcomp'];
  if (isset($_GET['saveas'])) $saveas=$_GET['saveas'];
  if (isset($_GET['positiona'])) $positiona=$_GET['positiona'];
  if (isset($_GET['firma'])) $firma=$_GET['firma'];
  
  if (isset($_POST['dowhat'])) $dowhat=$_POST['dowhat'];
  if (isset($_POST['templ_id'])) $templ_id=$_POST['templ_id'];
  if (isset($_POST['kid'])) $kid=$_POST['kid'];
  if (isset($_POST['secret'])) $secret=$_POST['secret'];
  if (isset($_POST['new_entry'])) $new_entry=$_POST['new_entry'];
  if (isset($_POST['newcomp'])) $newcomp=$_POST['newcomp'];
  if (isset($_POST['saveas'])) $saveas=$_POST['saveas'];
  if (isset($_POST['positiona'])) $positiona=$_POST['positiona'];
  if (isset($_POST['firma'])) $firma=$_POST['firma'];
  
  ### $user = new User($REMOTE_USER);
  $tpl  = new Template($templ_id);
  $company_id=$tpl->kunden_id; #### $company_id appears first time

  if (isset($kid) and $kid!=""){
	  $company_id=trim($kid);
  }
  
  function determine_filename(){
    global $saveas;
	
	if (file_exists("../../allas/job/".$saveas) && ereg("[0-9][0-9][0-9].html$",$saveas)) {
      ###test echo "IF Létezik. Van ilyen fájl: $saveas<br><br>";
	  $hunderter= ereg_replace(".*([0-9])[0-9][0-9].html$","\\1",$saveas);
	  $zehner= ereg_replace(".*[0-9]([0-9])[0-9].html$","\\1",$saveas);
      $einer= ereg_replace(".*[0-9][0-9]([0-9]).html$","\\1",$saveas); 
      ###test echo "zehner: ".$zehner."   ";
	  ###test echo "einer: ".$einer."<br><br>";

	  if ($zehner==9 and $einer==9) {
        $hunderter=chr(ord($hunderter)+1);
        $zehner=0;
		$einer=0;
      } else {

		  if ($einer==9) {
	        $zehner=chr(ord($zehner)+1);
	        $einer=0;
	      } else {
	        $einer=chr(ord($einer)+1);
			###test echo "ELSE Einer:".$einer;
	      }
	  
      }	  	  
	  
	  
      $saveas=ereg_replace("(.*)([0-9])([0-9])([0-9])(.html)$","\\1$hunderter$zehner$einer\\5",$saveas);
	  determine_filename();
    }
	else return true;
  }


    
  if ( !isset($saveas) ) {
    // KW berechnen, Jahr
    ###test echo "Kezdet. Nincs saveas: $saveas<br><br>";
	
    //exec("date '+%W'",$output); // before fix by HuVarga, 2004. 10. 18.
    // fix by HuVarga, 2004. 10. 18.
    $output=array(); $output[0]=date("W"); 
    
   /*
   $kw = $output[0]; //+1; // before fix by HuVarga, 2004. 10. 18.
#######    if ($kw < 10) $kw="0".$kw; # 2 jegyű legyen a $kw.
    
	//exec("date '+%y'",$output2); // before fix by HuVarga, 2004. 10. 18.
    // fix by HuVarga, 2004. 10. 18.
    */
    $output2=array(); $output2[0]=date("y"); 
    $year = $output2[0];

	
  if (isset($kid) and $kid!=""){
	  $company_id=trim($kid);
  }

	if ($company_id>="9999" and $company_id<="999999"){
	  include "refine_general.inc";
	  //exit();
	}
		   
	if ($secret=="secretvar"){
	  $company_id=trim($kid); # The avoid an error, when jobads are saved with an extra space, like: 400312345 aa.htm
	}
	
   # $saveas = $kw.$year;
    if ( $company_id < 1000 ) {
      $saveas .= "0";
    }
    if ( $company_id < 100 ) {
      $saveas .= "0";
    }
    if ( $company_id < 10 ) {
      $saveas .= "0";
    }
    $saveas .= $company_id.$year."000.html";
	
	determine_filename();
	  	
  } else {
    
	determine_filename();
  }################################ IF new company just inserted #################################
 
  if (isset($new_entry)){  # 2nd form sent
	  
     if (isset($kid) and isset($newcomp)) {

	  //$newcomp=trim($newcomp);
	   mysql_query("INSERT INTO `kunden` (`kunden_id`, `firma`, `value`) VALUES ('$company_id', '$newcomp', NULL)") or die(mysql_error());    
	   $rows=mysql_affected_rows();	  
	    print
	      "<html>\n".
	      "<head>\n  <meta http-equiv=\"refresh\" content=\"1;URL=template.phtml?templ_id=$templ_id&saveas=$saveas&kid=$kid\">\n".
	      "<title>$rows cég sikeres bevitele az adatbázisba!</title>\n".
	      "</head>\n".
	      "<body bgcolor=\"#00cc00\">\n".
	      "<h2>$rows cég sikeres bevitele az adatbázisba!</h2>\n".
	      "</body>\n".
	       "</html>\n";
	 } else {
      print   
        "<html>\n".
        "<head>\n".
        "<title>Error inserting company</title>\n".
        "</head>\n".
        "<body bgcolor=\"#cc0000\">\n".
        "<h2>Valamelyik érték üresen maradt !</h2>\n".
        "</body>\n".
        "</html>\n";
             
      exit;	 
	 }
	 
  }
#########################################################################################

  
  
  
  switch ( $dowhat ) {
  case "Save":
    ### if (file_exists("$user->home/$saveas")) {
	if (file_exists("../../allas/job/$saveas")) {
      print   
        "<html>\n".
        "<head>\n".
        "<title>Save-Error !</title>\n".
        "</head>\n".
        "<body bgcolor=\"#cc0000\">\n".
        "<h2>Error: a file with name $saveas already exists in your home-dir !</h2>\n".
        "</body>\n".
        "</html>\n";
             
      exit;
    }

    print
      "<html>\n".
      "<head>\n  <meta http-equiv=\"refresh\" content=\"1;URL=template.phtml?templ_id=$templ_id&saveas=$saveas&kid=$kid\">\n".
      "<title>Mentés: $saveas</title>\n".
      "</head>\n".
      "<body bgcolor=\"#00cc00\">\n".
      "<h2>Mentés: $saveas !</h2>\n".
      "</body>\n".
       "</html>\n";
             
    $tpl->final_substitute();
    $tpl->prepare_source();

    ### $fp = fopen("$user->home/$saveas","w");
    $fp = fopen("../../allas/job/$saveas","w");
	fputs($fp,$tpl->source);
    fclose($fp);
    ### chmod("$user->home/$saveas",0777);
	chmod("../../allas/job/$saveas",0777);
	
	$fp = fopen("tmp/$saveas","w");
	fputs($fp,$tpl->source);
    fclose($fp);
    chmod("tmp/$saveas",0777);
	
	############### Save job data to DB ######################
	
	$position=trim($positiona);
    $owner=trim($firma);
	$job_url="http://hrportal.hu/allas/job/".$saveas;
	
	
     if (isset($newcomp))	 $comp=$newcomp;
	 else if (isset($kid)) {
	 $query="SELECT firma FROM kunden WHERE (kunden_id='$kid')";
	 $lekerd=mysql_query("$query") or die("ERROR. ".mysql_error());
		 while ($rekord = mysql_fetch_object($lekerd)) {
			$comp=$rekord->firma;
	     }	 
	  }
	  
	 $now = date("Y-m-d H:i:s"); 
	  mysql_query("INSERT INTO `job` (`position`, `owner`, `location`, `url`, `date_added`) VALUES ('$position', '$comp', '', '$job_url', '$now')") or die(mysql_error());    
	   $rows=mysql_affected_rows();	  
	    print
	      "<html>\n".
	      "<head>\n  <meta http-equiv=\"refresh\" content=\"1;URL=template.phtml?templ_id=$templ_id&saveas=$saveas&kid=$kid\">\n".
	      "<title>$rows állás sikeres bevitele az adatbázisba!</title>\n".
	      "</head>\n".
	      "<body bgcolor=\"#00cc00\">\n".
	      "<h2>$rows állás sikeres bevitele az adatbázisba!</h2>\n".
	      "</body>\n".
	       "</html>\n";
		 
	#####################################################
	
	
	######## Display directory #######
	$Dir="images";
	$dh = opendir ($Dir);
	rewinddir ($dh);
	###echo "<h4>Directory opened</h4>";
	###echo "<table border=1 width=200>";
	###echo "<tr bgcolor=\"#3399FF\"><td>$dh</td></tr>";
	while ($file = readdir ($dh))
	{
	  if (ereg($company_id, $file)){
	    if (!copy('images/'.$file, 'tmp/'.$file)) {
	    print ("<h2><br>failed to copy $file...<br>\n</h2>");
		}
	  }
	}
	###echo "</table><hr>";
	closedir ($dh);
	
	/*$Dir="images";
	$dh = opendir ($Dir);
	rewinddir ($dh);
	echo "<h4>Directory opened</h4>";
	echo "<table border=1 width=200>";
	echo "<tr bgcolor=\"#3399FF\"><td>$dh</td></tr>";
	while ($file = readdir ($dh))
	{
	echo "<tr><td>$file</td></tr>";
	}
	echo "</table><hr>";
	closedir ($dh);*/
	##################################

  break;
 
  case "View":
    $tpl->final_substitute();
    $tpl->prepare_source();
    
	$tpl->display_pictures("View");
			
	print $tpl->source;    
  break;
 
  default:
    $tpl->form_substitute();
    
	$tpl->source =
      preg_replace("/<\/head>/i",
        $JScript.
        "</head>",
        $tpl->source);
	
	$tpl->source =
      preg_replace("/(<body[^>]*>)/i",
        "\\1\n".
		"<table width=100% cellpadding=0 cellspacing=0 border=0>\n<tr><td>\n".
		$navbar."\n</td><td>\n".
		"<form action=\"template.phtml\" method=\"post\">\n".
        "<input type=\"hidden\" name=\"kid\" value=\"$kid\">".		
        "<input type=\"hidden\" name=\"templ_id\" value=\"$templ_id\">\n",
        $tpl->source);
    $tpl->source =
      preg_replace("/<\/body>/i",
        "<p><hr><center>\n".
        "<input type=\"hidden\" name=\"templ_id\" value=\"$templ_id\">".
        "<input type=\"reset\" value=\"Reset\">, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".
        "<input checked name=\"dowhat\" type=\"submit\" value=\"View\"> &nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp; ".
        "<input name=\"dowhat\" type=\"submit\" value=\"Save\"> as:\n".
        "<input name=\"saveas\" value=\"$saveas\" size=\"15\"></center>\n<br>\n".
        "</form>".
		"</td></tr>\n</table>".
		"</body>",
        $tpl->source);
	
	$tpl->display_pictures("default");

	$tpl->source =
      str_replace("<option>leer.gif", "<option selected>leer.gif", $tpl->source);
	#This makes leer.gif default in general layout ads' selectboxes for example.
		
    print $tpl->source;

  break;
  }

?>
