<?php
function ls ($curpath)
 {
  $dir = dir($curpath);
  $files=array();
  while ($file = $dir->read())
   {
    if($file != "." && $file != "..")
     {
      if (!is_dir($curpath.$file))
       {
        $files[]=$file; 
       }
     }
   }
  $dir->close();
  return $files;
} 
 
 include "ip_auth.inc";

 include "GlobalVars.inc";
 include "mysqlconnect.inc";
 include "functions/mysqlconnect.hrportal.inc";
    $result = mysql_query("SET NAMES utf8");
 $title = "File upload";

 include "neu_head_upload.inc"; 
 
 $path=$IMAGESDIR;

 $w=$_GET['w'];
 
 if ($w!="") $files=ls($path);
 if ($w!="") asort($files);
 
 echo "<script language='Javascript'>
        function delfile(filename)
         {
          if (confirm('Are you sure you want to delete file \''+filename+'\'?'))
           {
            var f=document.forms.frm_do_delete;
            f.edt_filename.value=filename;
            f.submit();
           }
         }
       </script>\n";
 
 echo "<table align='left' cellpadding='2' cellspacing='1' border='0'>\n";
 echo "<form action='upload_do_delete.phtml' method='post' name='frm_do_delete'>
        <input type='hidden' name='edt_filename' value=''>
       </form>\n";
 echo "<form action='upload_do_upload.phtml' method='post' enctype='multipart/form-data'>
        <tr>
         <td colspan='4' height='80' valign='middle'><input type='file' name='edt_filename'> <input type='submit' value='   Upload   '></td>
        </tr>
       </form>
       <form action='upload_mass.phtml' method='get'>
        <tr>
         <td colspan='4' height='40' valign='middle'>I want to upload
         <select name='edt_num'>
          ";
          for ($i=2; $i<=20; $i++)
           echo "<option value='$i'>$i</option>\n";
          for ($i=25; $i<=50; $i=$i+5)
           echo "<option value='$i'>$i</option>\n";
          for ($i=75; $i<=100; $i=$i+25)
           echo "<option value='$i'>$i</option>\n";
           
          echo "
         </select> files at once. <input type='submit' value='Go'></td>
        </tr>
       </form>       
       <tr>
        <td width='40'>&nbsp;</td>
        <td bgcolor='#990000'><b><font color='#FFFFFF'>Filename</font></b></td>
        <td bgcolor='#990000' align='right'><b><font color='#FFFFFF'>Size (KBytes)</font></b></td>
        <td bgcolor='#990000' align='center'><b><font color='#FFFFFF'>Last changed</font></b></td>        
        <td bgcolor='#990000' align='center'><b><font color='#FFFFFF'>Operations</font></b></td>
       </tr>\n";
 
 $bgcolor='';
 
 if ($w=="") 
  echo "<tr><td width='40'>&nbsp;</td><td colspan='4'><a href='upload.phtml?w=true'>Click here to see the list</a></td></tr>";
 
 if ($w!="") 
 while (list($key,$val)=each($files))
  {
   if ($bgcolor=='#EEEEEE') $bgcolor='#E9E9E9'; else $bgcolor='#EEEEEE';
   echo "<tr>";
   echo "<td width='40'>&nbsp;</td>";
   echo "<td bgcolor='$bgcolor'>".$val."</td>";
   echo "<td bgcolor='$bgcolor' align='right'>";
   echo sprintf("%.2f",filesize($path."/".$val)/1024);
   echo "</td>";
   echo "<td bgcolor='$bgcolor' align='center'>".date("Y-m-d H:i:s", fileatime($path."/".$val))."</td>";
   
   #
   # German date
   # 
   # echo "<td bgcolor='$bgcolor' align='center'>".date("d.m.Y H:i:s", fileatime($path."/".$val))."</td>";
   #
   
   echo "<td align='center' bgcolor='$bgcolor'><a href='javascript:delfile(\"".urlencode($val)."\")'>[delete]</a></td>";
   echo "</tr>\n";
  }
 echo "        <tr>
         <td colspan='4' height='80' valign='middle' align='center'><a href='javascript:history.back();'>[vissza]</a></td>
        </tr>";
 echo "</table>";

 
 include "neu_foot.inc";
