<?php
 # This script uploads a file
 #
 # Incoming POST variables:
 # - edt_filename : the filename we want to upload 
 #
 
 include "GlobalVars.inc";
 
 if (!isset($_FILES['edt_filename']))
  die("Missing POST variable: edt_filename");

if (is_uploaded_file($_FILES['edt_filename']['tmp_name'])) {

   ############## Insert new image into HRPortal's general template's data field ##################
   $JOBSHost="localhost";
   $JOBSUser="scons";
   $JOBSPasswd="JojoPilot17";
   $JOBSDB="hrportal";

	mysql_connect($JOBSHost, $JOBSUser, $JOBSPasswd)
	or die("No connect." . mysql_error());

	mysql_select_db($JOBSDB) 
	or die("No access." . mysql_error());
        $result = mysql_query("SET NAMES latin2");
	$uploaded_filename=$_FILES['edt_filename']['name'];
    $query="INSERT INTO `templ_data` VALUES ('', 16, '$uploaded_filename')"; ### 16 is HRPortal's general template's data field
	mysql_query("$query") or die("ERROR. ".mysql_error());
    
	/*while ($rekord = mysql_fetch_object($lekerd)) {
		$output=$output."<a href='template.phtml?templ_id=".$rekord->templ_id."'>".$rekord->description."</a><br>\n";
    }*/
   ##################################################################################

    copy($_FILES['edt_filename']['tmp_name'], realpath($IMAGESDIR)."/".$_FILES['edt_filename']['name']);
    header("location: upload.phtml");
} else {
    die("Error: could not upload file. Filename: ". $_FILES['edt_filename']['name']);
}

?>
