<?php
 # This script uploads a file
 #
 # Incoming POST variables:
 # - edt_filename : the filename we want to upload 
 #
 
 include "GlobalVars.inc";
 include "neu_head_upload.inc";
  
 if (!isset($_POST['edt_num']))
  die("Missing POST variable: edt_num");  
  
for ($i=1; $i<=$_POST['edt_num']; $i++)
 { 
  echo "#".$i.": ";
  
  if (!isset($HTTP_POST_FILES['edt_filename_'.$i]))
   echo ("Warning: Missing POST variable: edt_filename_$i ");
    
  if (is_uploaded_file($HTTP_POST_FILES['edt_filename_'.$i]['tmp_name']))
   {
   
   ############## Insert new image into HRPortal's general template's data field ##################
   $JOBSHost="localhost";
   $JOBSUser="scons";
   $JOBSPasswd="JojoPilot17";
   $JOBSDB="hrportal";

	mysql_connect($JOBSHost, $JOBSUser, $JOBSPasswd)
	or die("No connect." . mysql_error());

	mysql_select_db($JOBSDB) 
	or die("No access." . mysql_error());
    
	$uploaded_filename=$HTTP_POST_FILES['edt_filename_'.$i]['name'];
    $query="INSERT INTO `templ_data` VALUES ('', 16, '$uploaded_filename')"; ### 16 is HRPortal's general template's data field
	mysql_query("$query") or die("ERROR. ".mysql_error());
    
	/*while ($rekord = mysql_fetch_object($lekerd)) {
		$output=$output."<a href='template.phtml?templ_id=".$rekord->templ_id."'>".$rekord->description."</a><br>\n";
    }*/
   ##################################################################################   
   
    copy($HTTP_POST_FILES['edt_filename_'.$i]['tmp_name'], realpath($IMAGESDIR)."/".$HTTP_POST_FILES['edt_filename_'.$i]['name']);
    echo ("OK.");
   }
    else
   {
    echo ("Warning: could not upload file. Filename: ". $HTTP_POST_FILES['edt_filename_'.$i]['name']);
   }
   
  echo "<br>\n";
 }

 echo "<a href='upload.phtml' class='td'>Continue >></a>";
 
 include "neu_foot.inc";
?>