.banner920 {
	width: 920px;
/*	background-color: yellow;*/
	margin: 10px 0px;
	text-align: center;
}


.banner468-box {
	width: 480px;
/*	background-color: yellow;*/
	margin: 10px 0px;
/*	text-align: center;*/
}

.banner0
{
padding-top:10px;
background:url(../img/hirdetes.gif) left bottom no-repeat;
width:748px;
display:block;
margin:0 auto;
text-align:center;
}

.banner1
{
background:url(../img/hirdetes.gif) left bottom no-repeat;
width:488px;
display:block;
margin:0 auto;
text-align:center;
}

.banner2
{
background:url(../img/ad_top.gif) no-repeat scroll right top;
margin:0 auto;
overflow:hidden;
margin-bottom:15px;
padding-top:12px;
}

.banner2 p
{
text-align:right;
color:rgb(124,152,174);
font-family:"Trebuchet MS";
font-size:11px;
font-weight:normal;
padding:5px 0;
margin:0;
}

.banner-top
{
	float:right;
	width:480px;
	height:60px;
	vertical-align:middle;
	margin-top:10px;
}
