.textinput1 {
	font-weight: bold;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	color: rgb(88, 88, 88);
	font-size:11px;
	line-height:14px;
	vertical-align:middle;
}
.textinput {
	width: 120px;
	font-family: verdana;
	font-size: 11px;
	border: rgb(88, 88, 88) solid 1px;
	height: 14px;
}
