#menu ul li a:link, #menu ul li a:visited
{
    color: rgb(255, 254, 254);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 6px 6px 6px;
}

#menu ul li a:hover
{
    color: rgb(75, 75, 75);
    background: #D6D7D9;
    text-decoration: none;
    font-weight: bold;*/
}

#menu ul li a:active, #menu ul li a:focus
{
    color: rgb(75, 75, 75);
    background: #D6D7D9;
    text-decoration: none;
    font-weight: bold;
}
.alternative-menu-active
{
    color: rgb(75, 75, 75);
    background: #D6D7D9;
    text-decoration: none;
    font-weight: bold;
}

.menu-active
{
    color: rgb(75, 75, 75);
    background: #D6D7D9;
    text-decoration: none;
    font-weight: bold;
    background: url( '/skins/default/img/menutopborder.gif' ) top repeat-x #D6D7D9; /*border-top:4px solid #FFCC00; 	border-collapse:collapse;*/
}

#menu ul li .alternative-menu-active a:visited, #menu ul li .alternative-menu-active a:link
{
    color: rgb(75, 75, 75);
}

#menu ul li a:focus
{
    color: rgb(75, 75, 75);
    background: #D6D7D9;
    text-decoration: none;
    font-weight: bold;
}

#menu ul li .menu-active a:visited, #menu ul li .menu-active a:link
{
    background: url( '../img/menutopborder.gif' ) top repeat-x #D6D7D9;
    color: rgb(75, 75, 75);
}

#submenu ul li a:link, #submenu ul li a:visited
{
    color: rgb(24, 24, 26);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 5px 5px 5px;
    _padding: 2px 5px 8px 5px;
}

#submenu ul li a:hover
{
    color: rgb(214, 215, 217);
    background: rgb(88, 88, 88);
    text-decoration: none;
    font-weight: bold;
}

#userdata
{
	margin-top: 5px;
}

#userdata a:link,#userdata a:visited
{
    font-family:Arial,"Trebuchet MS",Tahoma;
    color:#18181A;
    font-weight:bold;
    text-decoration:none;
}
.submenu-active
{
    color: rgb(214, 215, 217);
    background: rgb(88, 88, 88);
    text-decoration: none;
    font-weight: bold;
}

#submenu ul li .submenu-active a:link, #submenu ul li .submenu-active a:visited
{
    color: rgb(214, 215, 217);
}

#hirekmenu ul li a:link, #hirekmenu ul li a:visited
{
    color: rgb(123, 133, 138);
    font-family: Tahoma, Verdana, Arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6px 8px 6px;
    _line-height: 25px;
}

#hirekmenu ul li a:hover
{
    color: rgb(24, 24, 24);
    background: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    _line-height: 25px;
}

#hirekmenu ul li.selected a:link, #hirekmenu ul li.selected a:visited
{
    background: rgb(255, 255, 255);
    padding: 2px 6px 8px 6px;
    _line-height: 25px; /*background: url(../img/grey-dots.gif) right center repeat-y;*/
}

#hirekmenu ul li.selected a:hover
{
    background: rgb(255, 255, 255);
    padding: 2px 6px 8px 6px;
    _line-height: 25px;
}

.hiritem ul li a:link, .hiritem ul li a:visited
{
    color: rgb(123, 133, 138);
    font-family: Tahoma, Verdana, Arial;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}

.hiritem ul li a:hover
{
    text-decoration: underline;
}


#buxmenu ul li a:link, #buxmenu ul li a:visited
{
    color: rgb(123, 133, 138);
    font-family: Tahoma, Verdana, Arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6px 8px 6px;
    overflow: hidden;
    _line-height: 25px;
}

#buxmenu ul li a:hover
{
    color: rgb(24, 24, 24);
    background: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
    padding: 2px 6px 8px 6px;
    _padding-bottom: 15px;
    _height: 25px;
}
#buxmenu ul li.selected a:link, #buxmenu ul li.selected a:visited
{
    color: rgb(24, 24, 24);
    background: rgb(255, 255, 255);
    font-family: Tahoma, Verdana, Arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6px 8px 6px;
}

#buxmenu ul li.selected a:hover
{
    color: rgb(24, 24, 24);
    background: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

#betmenu ul li a:link, #betmenu ul li a:visited
{
    color: rgb(123, 133, 138);
    font-family: Tahoma, Verdana, Arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6px 9px 6px;
}

#betmenu ul li a:hover
{
    color: rgb(24, 24, 24);
    background: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

#betmenu ul li.selected a:link, #betmenu ul li.selected a:visited
{
    color: rgb(24, 24, 24);
    background: rgb(255, 255, 255);
    font-family: Tahoma, Verdana, Arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6px 9px 6px;
}

#betmenu ul li.selected a:hover
{
    color: rgb(24, 24, 24);
    background: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.banner-cikk p a:link, .banner-cikk p a:visited
{
    font-size: 11px;
    font-weight: bold;
    color: rgb(255, 162, 90);
    text-decoration: none;
}

.article-box h4 a:link, .article-box h4 a:visited
{
    font-family: Tahoma, Arial, Verdana;
    font-size: 12px;
    font-weight: bold;
    color: rgb(122, 155, 0);
    text-decoration: none;
}

.article-box h4 a:hover, .banner-cikk p a:hover
{
    text-decoration: underline;
}

.article-szoveg a:link ,.article-szoveg a:visited
{
    font-size: 11px;
    font-weight: bold;
    color: rgb(122, 155, 0);
    text-decoration: none;
}

.article-szoveg a:hover
{
    text-decoration: underline;
}

.article-szoveg span a:link ,.article-szoveg span a:visited
{
	font-family: Arial, Tahoma, Verdana ;
    font-size: 11px;
    font-weight: bold;
    color: #585858;
    text-decoration: none;
}

.article-szoveg span a:hover
{
    text-decoration: underline;
}


.article-box h5 a:link
{
    font-size: 11px;
    font-weight: bold;
    color: rgb(122, 155, 0);
    text-decoration: none;
}
.article-box h5 a:visited
{
    font-size: 11px;
    font-weight: bold;
    color: rgb(122, 155, 0);
    text-decoration: none;
}
.article-box h5 a:hover
{
    font-size: 11px;
    font-weight: bold;
    color: rgb(122, 155, 0);
    text-decoration: underline;
}


.article-box h3 a:link, .article-box h3 a:visited
{
    font-size: 24px;
    font-weight: bold;
    color: rgb(122, 155, 0);
    text-decoration: none;
}

.article-box h3 a:hover
{
    font-size: 24px;
    font-weight: bold;
    color: rgb(122, 155, 0);
    text-decoration: underline;
}

.general-link
{
    font-family: Arial, sans serif;
    font-size: 11px;
    font-weight: bold;
    color: rgb(88,88,88);
    text-decoration: none;
}

.general-link a:link
{
    color: rgb(123, 133, 138);
    font-family: Tahoma, Verdana, Arial;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}

.general-link a:visited
{
    color: rgb(123, 133, 138);
    font-family: Tahoma, Verdana, Arial;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}

.general-link a:hover
{
    text-decoration: underline;
}

.article-szoveg ul li a:link
{
    color: rgb(123, 133, 138);
    font-family: Tahoma, Verdana, Arial;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}
.article-szoveg ul li a:visited
{
    color: rgb(123, 133, 138);
    font-family: Tahoma, Verdana, Arial;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}
.article-szoveg ul li a:hover
{
    color: rgb(123, 133, 138);
    font-family: Tahoma, Verdana, Arial;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
}


.article-szoveg-hl a:link, .article-szoveg-hl a:visited
{
    font-size: 11px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.article-szoveg-hl a:hover
{
    font-size: 11px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.article-box-hl h4 a:link, .article-box-hl h4 a:visited
{
    font-size: 13px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.article-box-hl h4 a:hover
{
    font-size: 13px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.quick-news h5 a:link, .quick-news h5 a:visited
{
    font-size: 11px;
    font-weight: bold;
    color: rgb(122, 155, 0);
    text-decoration: none;
}

.quick-news h5 a:hover
{
    font-size: 11px;
    font-weight: bold;
    color: rgb(122, 155, 0);
    text-decoration: underline;
}

.headerbox a:link, .headerbox a:visited
{
    height: 20px;
    line-height: 14px;
    width: 100%;
    font-family: Tahoma, Arial, sans serif;
    font-size: 11px;
    color: rgb(88,88,88);
    text-decoration: none;
    font-weight: normal;
}

.headerbox a:hover
{
    text-decoration: underline;
}

.cikkheader a:link
{
    font-family: Tahoma, Arial, sans serif;
    font-size: 20px;
    font-weight: normal;
    color: rgb(122, 155, 0);
    text-decoration: none;
}
.cikkheader a:visited
{
    font-family: Tahoma, Arial, sans serif;
    font-size: 20px;
    font-weight: normal;
    color: rgb(122, 155, 0);
    text-decoration: none;
}
.cikkheader a:hover
{
    font-family: Tahoma, Arial, sans serif;
    font-size: 20px;
    font-weight: normal;
    color: rgb(122, 155, 0);
    text-decoration: underline;
}

.top-artic-line a:link
{
    font-family: Arial, sans serif;
    font-size: 11px;
    font-weight: bold;
    color: rgb(88,88,88);
    text-decoration: none;
}

.top-artic-line a:visited
{
    font-family: Arial, sans serif;
    font-size: 11px;
    font-weight: bold;
    color: rgb(88,88,88);
    text-decoration: none;
}

.top-artic-line a:hover
{
    font-family: Arial, sans serif;
    font-size: 11px;
    font-weight: bold;
    color: rgb(88,88,88);
    text-decoration: underline;
}

.article-left-hl p a:link, .article-left-hl p a:visited
{
    font-family: Arial, Tahoma, sans serif;
    font-size: 11px;
    font-weight: bold;
    color: #585858;
    text-decoration: none;
}

.article-left-hl p a:hover
{
    text-decoration: underline;
}

.article-left-hl h4 a:link, .article-left-hl h4 a:visited
{
    font-family: Arial, Tahoma, sans serif;
    font-size: 11px;
    font-weight: bold;
    color: #585858;
    text-decoration: none;
}

.article-left-hl h4 a:hover
{
    text-decoration: underline;
}

.article-left-hl h6 a:link, .article-left-hl h6 a:visited
{
    font-family: Arial, Tahoma, sans serif;
    font-size: 11px;
    font-weight: bold;
    color: #585858;
    text-decoration: none;
}

.article-left-hl h6 a:hover
{
    text-decoration: underline;
}

.article-right-hl p a:link, .article-right-hl p a:visited
{
    font-family: Arial, Tahoma, sans serif;
    font-size: 11px;
    font-weight: bold;
    color: #585858;
    text-decoration: none;
}

.article-right-hl p a:hover
{
    text-decoration: underline;
}

.article-right-hl h4 a:link, .article-right-hl h4 a:visited
{
    font-family: Arial, Tahoma, sans serif;
    font-size: 11px;
    font-weight: bold;
    color: #585858;
    text-decoration: none;
}

.article-right-hl h4 a:hover
{
    text-decoration: underline;
}


.article-right-hl h6 a:link, .article-right-hl h6 a:visited
{
    font-family: Arial, Tahoma, sans serif;
    font-size: 11px;
    font-weight: bold;
    color: #585858;
    text-decoration: none;
}

.article-right-hl h6 a:hover
{
    text-decoration: underline;
}

.quick-news ul li a:link , .quick-news ul li a:visited
{
    color: rgb(123, 133, 138);
    font-family: Tahoma, Verdana, Arial;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}

.quick-news ul li a:hover
{
    text-decoration: underline;
}

.szoveg a:link, .szoveg a:visited 
{
    color: rgb(122, 155, 0);
    text-decoration: none;
    font-weight: bold;
}

.szoveg a:hover
{
    text-decoration: underline;
}


.szoveg h4 a:link, .szoveg h4 a:visited
{
    text-decoration: none;
	font-family: Georgia;
	font-size: 22px;
	color: rgb(89, 89, 89);
	font-style: italic;
	padding-bottom: 15px;
	text-align: center;
	font-weight:normal;
}


.article-archive h6
{
    color: rgb(89, 89, 89);
    font-size: 11px;
    font-family: Arial, Tahoma, "Trebuchet MS";
    font-weight: bold;
}

.article-archive h4 a:link, .article-archive h4 a:visited
{
    color: rgb(122, 155, 0);
    font-family: Arial, Tahoma, "Trebuchet MS";
    text-decoration: underline;
    font-size: 11px;
    font-weight: bold;
}

.article-archive h4 a:hover
{
    text-decoration: none;
}

.article-archive p a:link, .article-archive p a:visited
{
    color: rgb(122, 155, 0);
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}

.article-archive p a:hover
{
    text-decoration: underline;
}

.comment-link a:link, .comment-link a:visited
{
    font-family: Tahoma, Arial, Verdana;
    font-size: 11px;
    font-weight: normal;
    color: rgb(122, 155, 0);
    text-decoration: none;
}

.comment-link a:hover
{
    text-decoration: underline;
}
