*
{
	padding: 0px;
	margin: 0px;
}
.clear
{
	clear: both;
}
body
{
	background-color: rgb(255, 255, 255);
	font-family: verdana;
	font-size: 11px;
}




/* pg-top cuccok */

#banner728x90
{
	width: 960px;
	height: 110px;
	background-color: #D6D7D9;
	text-align: center;
}
#line-separator
{
	font-size: 1px;
	width: 960px;
	background-color: #414241;
	height: 3px;
	line-height: 3px;
}
#banner728x90 img
{
	padding-top: 10px;
}


/* pg-top cuccok */





#pg-maincontainer
{
	width: 960px;
	margin: 0px auto;
	background-color: rgb(255, 255, 255);
}

#pg-top
{
	width: 960px;
}
#pg-middle
{
	width: 920px;
	margin: 0px 20px;
}
#pg-bottom
{
	width: 960px;
}




/* fejlec */
#header
{
	height: 80px;
	width: 920px;
}
#logo
{
	float: left;
	height: 80px;
	width: 300px;
}
#pg-topmenu
{
	float: left;
	height: 80px;
	width: 620px;
	text-align: right;
}
#logo img
{
	border: 0px;
	margin: 18px 0px 0px 10px;
}

/* fejlec vege */





/* menu */
#menu-box
{
	height: 54px;
	width: 920px;
	background: url( '../img/menubg.gif' ) top repeat-x;
}
#menu
{
	float: left;
	width: 879px;
	margin-left: 5px;
	margin-top: 2px;
}
#menu-rss
{
	float: left;
	padding-top: 4px;
}
#menu-rss img
{
	border: none;
}
/* submenu */
#submenu
{
	float: left;
	width: 600px;
	height: 22px;
	margin-left: 4px;
}
#userdata
{
	float: right;
	width: 260px;
	text-align: right;
	margin-right: 5px;
}
#userdata p 
{	line-height:22px;
	}


#pg-search
{
	width: 904px;
	padding-left: 16px;
	height: 29px;
	background: url( '../img/searchseparator.gif' ) bottom right repeat-x;
}
.search-box
{
	float: left;
	width: 800px;
}
.hvg-logo
{
	float: left;
	width: 103px;
	height: 28px;
	padding-top: 1px;
	overflow: hidden;
}
.hvg-logo img
{
	border: 0px;
}
.ok-btn
{
}

.search-box1
{
	float: left;
	padding-top: 7px;
}
.search-box2
{
	float: left;
	padding-top: 6px;
	margin-left: 10px !important;
	margin-left: 5px;
}
.search-box3
{
	float: left;
	padding-top: 6px;
	margin-left: 5px;
}




#hirek
{
	width: 278px;
	background-color: rgb(214, 215, 217);
	margin-bottom: 20px;
	padding: 0px 1px 1px 1px;
}

#hirekmenu
{
	background-color: rgb(214, 215, 217);
	color: rgb(89, 89, 89);
	height: 30px;
}



.hiritem
{
	background-color: rgb(255, 255, 255);
}


/*kozpso resz*/

.pg-contentwrapper920
{
	width: 920px; /*	background-color: red;*/
	margin-top: 20px;
}
.pg-contentwrapper800
{
	float: left;
	width: 800px; /*	background-color: green;*/
}
.pg-contentcolumn480
{
	float: left;
	width: 480px; /*	background-color: yellow;*/
	margin-right: 20px;
	overflow: hidden;
}
.pg-contentcolumn280
{
	float: left;
	width: 280px; /*	background-color: yellow;*/
}
.pg-contentcolumn120
{
	float: left;
	width: 120px; /*	background-color: lime;*/
}


/* /kozpso resz*/




#buxeur
{
	background-color: rgb(227, 228, 229);
	overflow: hidden;
	margin-bottom: 20px;
	text-align: left;
	line-height: 22px;
	vertical-align: middle; /*border: 1px solid #AAAAAA;*/
}



#bux
{
	width: 278px;
	background-color: rgb(214, 215, 217);
	margin-bottom: 20px;
	padding: 0px 1px 1px 1px;
}
#buxmenu
{
	background-color: rgb(214, 215, 217);
	color: rgb(89, 89, 89);
	height: 30px;
	overflow: hidden;
}
.buxitem
{
	background-color: rgb(255, 255, 255);
}

#bet
{
	width: 278px;
	background-color: rgb(214, 215, 217);
	margin-bottom: 20px;
	padding: 0px 1px 1px 1px;
}
#betmenu
{
	background-color: rgb(214, 215, 217);
	color: rgb(89, 89, 89);
	height: 30px;
}

.betitem
{
	background-color: rgb(255, 255, 255);
	text-align: center;
}





#opinion
{
	margin-bottom: 20px;
	background: url( '../img/opinionbg.gif' ) repeat-x rgb(227, 228, 229);
	padding: 10px;
}

#opinion-hr
{
	margin-bottom: 0px;
	background-color: #fff;
	padding: 0px;

}
.fenykep
{
	/*	position: relative;*/
	float: left;
	margin-right: 10px;
	padding: 3px;
	background-color: rgb(255, 255, 255);
}

.fenykep2
{
	/*	position: relative;*/
	float: left;
	margin-right: 10px;
	padding: 3px;
	background-color: rgb(255, 255, 255); /*	width:100px; 	_width:100px;*/
}

.szoveg
{
	/*position: relative;*/ /*margin: 10px;*/
}





.article-box
{
	width: 480px;
}

.article-480
{
	margin-bottom: 15px;
}


.article-left
{
	float: left;
	width: 225px; /*	margin: 5px 10px 5px 0px; 	padding: 10px 0px 10px 10px;*/
	margin: 5px 10px 15px 0;
	padding-left: 0px;
	overflow: hidden;
}

.article-box-left
{
	float: left;
	width: 240px; /*	margin: 5px 0; 	padding: 10px 0px 10px 10px;*/
	margin: 15px 0;
	padding-left: 0px;
	overflow: hidden;
}

.article-right
{
	float: left;
	width: 230px; /*background-color: lime;*/ /*	margin: 5px 0px;*/ /*	padding: 10px 0px 10px 10px;*/
	margin: 5px 0 15px 10px;
}

.article-box-right
{
	float: left;
	width: 230px; /*background-color: lime;*/ /*	margin: 5px 0px; 	padding: 10px 0px 10px 10px;*/
	margin: 15px 0 10px 10px;
}




.article-pic
{
	/*	position: relative;*/
	float: left;
	margin-right: 10px;
}
.article-szoveg
{
	/*	position: relative;*/ /*margin: 10px;*/
}


.article-box h5
{
	padding: 10px;
}

.article-box h5 img
{
	border: 0px;
	padding-right: 4px;
}





.spacem
{
	width: 10px;
	overflow: hidden;
	float: left;
}

.article-box-hl
{
	width: 480px;
}
.article-left-hl
{
	float: left; /*width: 215px;*/
	width: 227px;
	margin: 5px 0 5px 0px; /*padding: 10px;*/
	padding: 4px;
	margin-bottom: 20px;
	margin-right: 10px;
	background-color: #DFE6DD;
	overflow: hidden;
}
.article-right-hl
{
	float: left; /*width: 215px;*/
	width: 227px;
	margin: 5px 0px; /*	padding: 10px;*/
	padding: 4px;
	background-color: #DFE6DD;
}
.article-szoveg-hl
{
	/*	position: relative;*/
}
.article-pic-hl
{
	/*	position: relative;*/
	float: left;
	margin-right: 10px;
	background-color: rgb(255, 255, 255);
	padding: 1px;
}


.article-box-hl p
{
	color: rgb(255, 255, 255);
}


.article-box-hl h4
{
	margin: 0px 0px 4px 0px;
}




.treasury
{
	width: 480px;
	padding: 10px 0px;
	text-align: center;
}








.quick-news h5
{
	padding: 0px;
}

.quick-news h5 img
{
	border: 0px;
	padding-right: 4px;
}







.xcikk
{
	width: 480px;
}
.cikkheader
{
	margin-bottom: 17px;
}
.top-artic-line
{
	margin-bottom: 20px;
}
.top-artic-line img
{
	vertical-align: middle;
	padding-right: 5px;
	width: auto;
	height: auto;
	float: none;
}
.search-separ
{
	background: url( '../img/grey-dot.gif' ) bottom repeat-x;
	display: block;
	clear: both;
	height: 1px;
	line-height: 1px;
}
.headerbox
{
	margin-left: 150px;
}
.headerbox img
{
	border: none;
	vertical-align: middle;
}
.pic01
{
	/* float: right; 	margin-left: 10px; */
}
.pic01 img
{
	border: none;
	border-bottom: rgb(103, 143, 0) solid 3px;
	margin: 3px;
}
.pic01 p
{
	margin: 1px 0px;
	padding: 1px 0px;
	border-bottom: rgb(103, 143, 0) solid 1px;
}

.content p
{
	margin: 15px 0px;
}

.banner-cikk
{
	background: url(../img/banner-cikk.gif) no-repeat;
	float: right;
	width: 420px;
	height: 71px;
	vertical-align: middle;
	margin-top: 5px;
}

.banner-cikk img
{
	text-align: left;
	float: left;
	padding: 4px 4px;
	padding-right: 10px;
}

.imageTable
{
	float: right;
	margin-left: 5px !important;
	margin-left: 0px;
}

.article-archive
{
	padding-top: 5px;
}

.generalbox480
{
	margin-bottom: 10px;
	width: 480px;
	overflow: hidden;
	text-align: center;
}

.generalbox480 img
{
	border: 4px solid #DFE6DD;
}

.generalbox480 span
{
	font-family: Tahoma, Arial, "Trebuchet MS";
	font-size: 11px;
	font-weight: bold;
	color: #555555;
}
#regform
{
	width: 450px;
}
#regform label
{
	font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
	color: rgb(0,0,0);
	font-size: 11px;
	font-weight: bold;
	margin: 0 30px;
	float: left;
}

#regform input
{
	float: right;
	font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
	color: rgb(0,0,0);
	font-size: 11px;
	font-weight: bold;
	margin: 0 30px;
}

#regform select
{
	float: right;
	font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
	color: rgb(0,0,0);
	font-size: 11px;
	font-weight: bold;
	margin: 0 0 0 30px;
}

#regform p
{
	font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
	color: rgb(0,0,0);
	font-size: 11px;
	font-weight: normal;
	margin: 15px 30px;
	float: left;
}
