/* CSS Document */

.betitem table
{
    width: 262px;
    margin: 0 auto;
}

.betitem th
{
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
}
.betitem td
{
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    line-height: 18px;
    text-align:left;
    
   
}
.betitem td.separ {
background:gray; line-height:1px; height:1px; font-size:1px;
}
.betitem td.centered 
{
    text-align:center;
    }
.betitem td img 
{   margin:0 auto;
    }

.betitem .alternate
{
 background:#eeeeee none repeat scroll 0%;
}
	
.reszvenyek 
{
border-bottom:rgb(70,70,70) solid 1px;

padding:5px;;
margin:0;
margin-top:1px;
border-collapse:collapse;
font-size:10px;
width:100%;
}

.reszvenyek th
{
border-bottom:rgb(70,70,70) solid 1px;
 font-family: Tahoma;
font-size:11px;
color:#767a7d;
padding:5px 0;

}

.reszvenyek tr
{
margin:0;
padding:0;
}

.reszvenyek td
{
  font-family: Tahoma;
font-size:11px;
color:585858;
border:none;
border-top:rgb(200,200,200) solid 1px;
border-collapse:collapse;
padding:4px 0 2px 7px;
}


.reszvenyek .alternate
{
  font-family: Tahoma;
font-size:11px;
color:585858;
border:none;
border-top:solid 1px rgb(200,200,200);
border-collapse:collapse;
background:#f3f3ee;
padding:4px 0 2px 5	px;
}

.reszvenyek .selected
{
font-weight:bold;
}

#articleBody0 table td
{
padding:5px;
}
