#menu ul {	
	list-style-type: none;
	line-height: 28px;
	font-family: Arial, Tahoma, "Trebuchet MS";
	font-size: 13px;
}



#menu ul li {
	display: inline;
	line-height:28px;
	float: left;
	text-align: center;
	padding: 0px 10px;
}	

.menu-box-li
{
background: url('../img/menuseparator.gif') right top repeat-y;

}


#submenu ul {	
	list-style-type: none;
	line-height: 19px;
	font-family: Arial, "Trebuchet MS", Tahoma;
	font-size: 10px;

}

#submenu ul li {
	display: inline;
	height: 19px;
	float: left;
	text-align: center;
	padding: 0px 8px;
	margin-top: 2px;
	margin-bottom: 1px;
}

#hirekmenu ul {	
	list-style-type: none;
	line-height: 20px;
	font-family: Arial, Tahoma, "Trebuchet MS";
	font-size: 13px;
}

#hirekmenu ul li {
	display: inline;
	height: 20px;
	float: left;
	text-align: center;
	vertical-align:middle;
	padding: 0px 10px;

	margin-top:5px;
}


.hiritem ul {
	list-style: none;
	list-style-image: url('../img/potty.gif');
	padding: 10px 12px;
	margin-left: 20px;
}
.hiritem ul li {
	padding: 7px 0px;
	padding-top:0;
}



#buxeur p {
	font-weight: bold;
	font-size: 11px;
	margin-left:10px;
	_line-height:22px;
}
#buxeur p img 
{   margin-top:2px;
    }
.buxeur-bux {
	color: rgb(122, 155, 0);
}
.buxeur-eur {
	color: rgb(169, 32, 0);
}


#buxmenu ul {	
	list-style-type: none;
	line-height: 20px;
	text-align:center;
	font-family: Arial, Tahoma, "Trebuchet MS";
	font-size: 13px;
}
#buxmenu li {
	height: 20px;
	text-align: center;
	padding: 0px 8px;	
	margin-top:5px;
}

.buxmenu-li
{
background: url(../img/grey-dots.gif) right center repeat-y;
}

.buxitem p {
	text-align: center;
	padding: 7px 0px;
}

#betmenu ul {	
	list-style-type: none;
	line-height: 28px;
	font-family: Arial, Tahoma, "Trebuchet MS";
	font-size: 13px;
}
#betmenu ul li {
	display: inline;
	height: 28px;
	float: left;
	text-align: center;
	padding: 0px 14px;
}
.betitem p {
	text-align: center;
	padding: 15px 0px;
}


.szoveg p
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
}


.szoveg h4
{
	font-family: Georgia;
	font-size: 22px;
	color: rgb(89, 89, 89);
	font-style: italic;
	padding-bottom: 15px;
	text-align: center;
	font-weight:normal;
}

.szoveg h5
{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: rgb(122, 155, 0);
	font-weight:normal;
	margin:0;
	padding:0;
}

.article-box h3 {
	margin-bottom: 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
}

.article-box h4 {
/*	margin: 4px 0px;*/
	margin-top: 2px;
	margin-bottom: 4px;
	font-family:Arial, Helvetica, sans-serif;
}


.article-box h6 {
	color: rgb(89, 89, 89);
	font-size: 11px;
	font-family: Arial, Tahoma, "Trebuchet MS";
	font-weight: bold;

	/*margin-top: 17px;*/
}

.article {
	margin-bottom: 17px;
}



.article-szoveg ul {
	list-style: none;
	
	padding: 10px 12px;
	margin-left: 255px;
}
.article-szoveg ul li 
{
    list-style-image: url('../img/potty.gif');
	padding: 0;
}

.article-szoveg p
{
	font-family:Tahoma, Arial, sans serif;
	font-size:11px;
	color:rgb(65,66,65);
}

.article-szoveg-hl p
{
	font-family: Tahoma, Arial, sans serif;
	font-size: 11px;
	color: rgb(255,255,255);
}




.quick-news ul {
	list-style: none;
	
	padding: 10px 12px;
	margin-left: 7px;
}
.quick-news li {
	padding:0;
	list-style-image: url('../img/potty.gif');
}

.quick-news p {
	font-weight: bold;
	color: rgb(103, 143, 0);
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.headerbox ul {
	list-style-type: none;
	height: 20px;
	line-height: 20px;
	font-family: Tahoma, Arial, sans serif;
	font-size: 11px;
	color: rgb(88,88,88);
	text-decoration: none;
}
.headerbox ul li {
	display: inline;
	float: left;
	height: 20px;
	width: 110px;
	text-align: right;
}
.top-artic-line {
	font-weight: bold;
	font-family: Tahoma;
	color: rgb(88, 88, 88);
}
.content p {
	font-family: Tahoma, Arial, sans serif;
	font-size: 12px;
	color: rgb(88,88,88);
}
.pic01 p {
	font-family: Tahoma, Arial, sans serif;
	font-size: 11px;
	color: rgb(103, 143, 0);
	/*background: url('../img/green-line.gif') bottom repeat-x;*/
	line-height: 20px;
	margin: 2px 0px 7px 0px;
}




.lead {
	font-family: "Trebuchet MS", Tahoma, Arial, sans serif;
	font-size: 18px;
	font-weight: bold;
	color: rgb(88, 88, 88);
	margin: 20px 0px;
}

.banner-cikk h6
{
	font-family: Tahoma, Arial, sans serif;
	font-size: 11px;
	color: rgb(65, 66, 65);
	font-weight:bold;
	text-align:left;
	padding-top:3px;
}

.banner-cikk p
{
	font-family: Tahoma, Arial, sans serif;
	font-size: 11px;
	color: rgb(65, 66, 65);
	font-weight:normal;
	text-align:left;
	padding-top:3px;
	padding-right:10px;
}

.navigator_cursor
{
	font-family:Tahoma, Arial, sans serif;
	font-size:10px;
	color:rgb(100,100,100);
	font-weight:bold;
}

.search-marker
{
	font-family:Tahoma, Arial, sans serif;
	font-size:12px;
	color:rgb(88,88,88);
}

.top24-head h5
{
	font-family:Tahoma, Arial, sans serif;
	font-size:12px;
	text-align:left;
	color:rgb(75,75,75);
	font-weight:bold;
}

.voteItemCaption
{
	font-family:Tahoma, Arial, sans serif;
	font-size:13px;
	padding-top:5px;
	text-align:center;
	color:#777777;
	font-weight:bold;
	border:1px solid #C5C5C5;
	background-color: #E9E9E9;
}

.voteListItem
{
	font-family:Tahoma, Arial, sans serif;
	font-size:13px;
	padding:5px 3px 3px 3px;
	text-align:center;
	color:rgb(75,75,75);
	font-weight:normal;
	border-left:1px solid #C5C5C5;
	border-right:1px solid #C5C5C5;
	border-bottom:1px solid #C5C5C5;
}

.altText, .sourceText, .imageTable, .content {
	font-family: Tahoma, Arial, sans serif;
	font-size: 12px;
	color: rgb(88,88,88);
}

.article-archive p
{
    font-family: Tahoma, Arial, sans serif;
    font-size: 11px;
    color: rgb(65,66,65);
}

.article-archive p img
{
    float:left;
    margin:2px 10px 5px 0pt;
}

.article-right-hl p , .article-left-hl p
{
    font-family: Arial, Tahoma, sans serif;
    font-size: 11px;
    color: #585858;
    text-decoration: none;
}

.article-right-hl h6 , .article-left-hl h6
{
    font-family: Arial, Tahoma, sans serif;
    font-size: 11px;
    font-weight: bold;
    color: #585858;
    text-decoration: none;
}

#bux .buxitem ul li
{
   margin-top:4px;
   margin-bottom:8px;
   list-style-type: none;
   _margin-top:4px;
   _margin-bottom:6px;
}

#bux .buxitem span, .buxitem th
{
   margin:0px;
   padding:0px;
   color:#666666;
   font-family: Arial, Tahoma, sans serif;
   font-size: 11px;
   font-weight:bold;
}

#bux .buxitem p img
{
   margin-top:6px;
   border:4px solid #D6D7D9;
}

#buxList li a:link, #buxList li a:visited
{
   cursor:hand;
   text-decoration:none;
   color:#666666;
}

#buxList li a:hover
{
   text-decoration:none;
   color:#111111;
}

#buxList li.selected a:link, #buxList li.selected a:visited
{
   color:#555555;
   background-color:#D6D7D9;
}

#buxList li.selected table
{
   background-color:#D6D7D9;
}

#buxList li
{
   _height:17px;
}
