
.pg-footer {
	width: 960px;
}
.pg-foot-top {
	background-color: rgb(123, 133, 138);
	height: 18px;
	padding-top: 3px;
}
.pg-foot-top p {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: rgb(254,254,254);
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.pg-foot-top a:link, .pg-foot-top a:visited {
	text-decoration: none;
	color: rgb(254,254,254);
	font-size: 11px;
	font-weight: bold;
}
.pg-foot-top a:hover {
	text-decoration: underline;
	color: rgb(254,254,254);
	font-size: 11px;
	font-weight: bold;
}
.pg-foot-btm {
	background-color: rgb(227, 228, 229);
	height: 37px;
	padding-top: 7px;
	line-height: 14px;
}
.pg-foot-btm p {
	font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
	color: rgb(65, 66, 65);
	font-size: 11px;
	font-weight: normal;
	text-align: center;
}
.pg-foot-btm a:link, .pg-foot-btm a:visited {
	text-decoration: none;
	color: rgb(65, 66, 65);
	font-size: 11px;
	font-weight: normal;
}
.pg-foot-btm a:hover {
	text-decoration: underline;
	color: rgb(65, 66, 65);
	font-size: 11px;
	font-weight: normal;
}

