form {text-align: left;}

form input, form select, form textarea
{
	border:1px solid #8792e3;
	margin: 3px 1px 0px 8px;
	padding:2px 1px 2px 1px;}

form br{clear: left;}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	padding: 0.5em;
	border: 1px solid #CCC;
	vertical-align:top;
}

thead, tfoot {
	background-color: #DDD;
}



.fillError {background-color:#e0a0a0;}

.notreq {background-color:white;}

form fieldset legend {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        
}
h1 {
		color: #bbc2aa;
		margin-top:0px ;

		font-family: Verdana, "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
		font-size: 22px;
	     border-left:1em solid #ccc;
	     border-right:1em solid #ccc;
	     padding: 0 0 0 10px;
   }




form label{
	float: left;
	width: 250px;
    text-align: left;
	border-top:1px solid #CCC;
	height: 20px;
/*
	background-color: #eee;
	
*/
	background-color:rgb(213,211,233);
	padding: 1px 5px 1px 5px;
	
	}

form label.magas{
	float: left;
	width: 250px;
	height: 25px;
    text-align: left;
	border-top:1px solid #CCC;
	background-color:rgb(213,211,233);
	padding: 5px 5px 5px 5px;
	
	}

.panel {
	clear: both;
	display: none;
	border: 3px solid #ccc;
	padding: 1em;
	background-color: #FFF;
	margin: 1px;
	vertical-align:top;
	
}
.panel.active-tab-body {
	display: block;
	vertical-align:top;
}
#tabs {
	list-style: none;
	padding: 0;
	margin: 0;
}
#tabs li {
	position: relative;
	margin: 0;
	float: left;
}

#tabs li.empty { 
	border-bottom: 1px solid #ccc;
	padding: 6px 1px 0px 0px;
}

#tabs a {
	float: left;
	padding: 3px 10px;
	margin-right: 0px;
	border: 1px solid #ccc;
	border-width: 1px 1px 0 1px;
	text-decoration: none;
/*
	color: #000;
*/
}
#tabs a:hover {
	background-color: #aaa;
	color: #FFF;
}
#tabs a.active-tab {
	background-color: #066;
	color: #FFF;
}
img {
	behavior:	url("pngbehavior.htc");
}