table {
/* cellpadding="0" cellspacing="0" border="0" width="100%" height="100%"*/
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
body {
	background-image: url(images/body_bg.gif);
	margin: 0px;
	border: 0px;
	padding: 0px;
}
form {
	margin: 0px;
	border: 0px;
	padding: 0px;	
}
.clear {
	clear: both;
}
.clear_left {
	clear: left;
}
.clear_right {
	clear: right;
}
.text_bottom_spacer {
	height: 1px;
	clear: both;
	font-size: 0px;
	padding:0px;
	line-height:0px;
}
a.header_offer {
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	color: #07a6be;
	font-size: 10px;	
	font-weight: bolder;
	float: right;	
	line-height: 39px;
	vertical-align: middle;		
}
a.inline_offer {
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	color: #07a6be;
	font-size: 10px;	
	font-weight: bolder;
}
#main {
	width: 780px;
	text-align: center;
}
#left_column {
	position: relative;
	left: 0px;
	top: 8px;
	background-image: url(images/left_column_bg.gif);
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 187px;
	height: 426px;
	float: left;
	text-align: left;
}
#left_column .content {
/*	position: relative;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-color:#000000;*/
}
/*#left_column h2 {*/
#hegy {
	border: 0px;
	margin: 0px;
/*	margin: 5px;*/
/*	margin-left: 5px;*/
	padding: 0px;	
	margin-bottom: 20px;
	width: 178px;
	height: 25px;
	color: #283845;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	line-height: 25px;
	background-color: #dadcdc;
	left: 5px;
	position: relative;
}
#left_column img {
	left: 5px;
	position: relative;	
	border: 0px;
}
#left_column img.menu {
	border: 0px;
	margin: 0px;
	padding: 0px;
	padding-left: 22px;
}
#left_column img.submenu {
	border: 0px;
	margin: 0px;
	padding: 0px;
	padding-left: 22px;
}
#logo {
	text-align: center;
	padding: 0px;	
	padding-left: 38px;
	padding-right: 35px;	
	padding-top: 8px;
	padding-bottom: 16px;
	width: 103px;
	height: 142px;
}
#logo img {
	width: 103px;
	height: 142px;
	border: 0px;
}
#bordo {
	width: 186px;
	height: 286px;
	background-image: url(images/bordo_bg.gif);
/*	background-color: #f2f5f5;*/
/*	padding-left: 17px;*/
	padding-top: 114px;
	margin-top: 60px;
}
h2.bordo {
	border: 0px;
	margin: 0px;
	padding: 0px;	
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 11px;
	font-weight: bolder;
	color: #fff;	
	padding-left: 17px;	
}
#bordo p {
	border: 0px;
	margin: 0px;
	padding: 0px;	
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 11px;
	font-weight: normal;
	color: #fff;	
	padding-left: 17px;
	padding-top: 10px;
	line-height: 18pt;	
}
#bordo a {
	border: 0px;
	margin: 0px;
	padding: 0px;	
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 11px;
	font-weight: normal;
	color: #fff;	
}
#content {
	width: 593px;
	float: left;
}
#submenu_pd {
	background-image: url(images/submenu_pd_bg.gif);		
	width: 119px;
	height: 109px;
	position: absolute;
	z-index: 1000;
}
#submenu_pd img {
	margin-top: 13px;
}
#bread {
	width: 480px;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #283845;	
	text-align: justify;
	float: left;
	margin-left: 17px;
	margin-top: 4px;	
}
#bread h1 {
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 11px;
	color: #8e0303;
	font-weight: bolder;
	line-height: 39px;
	text-align: left;
	vertical-align: middle;	
	padding-left: 16px;
	background-image: url(images/h1_bg.gif);	
}
#bread p {
	padding-left: 16px;
}
#bread strong {
	font-weight: bolder;
}
#bread li {	
	list-style-position: outside;
	list-style-type: disc;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	clip:  rect(0px 0px 0px 0px);
}
#flash {
	width: 583px;
	height: 175px;
	background-image:url(images/flash_bg.jpg);
	float: left;
	text-align: left;	
}
#menu {
	background-image: url(images/menu_bg.jpg);
	width: 582px;
	height: 49px;
	float: left;
	text-align: left;	
}
#menu img {
	padding-top: 10px;
}
td.footer {
	width: 100%;
	background-image: url(images/footer_bg.gif);
/*	text-align: center;*/
	color: #f6a12c;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 10px;
	font-weight: normal;
}
a.footer_link {
	color: #f6a12c;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline;
	padding-left: 25px;
}
div.divfooter {
	width: 780px;
	height: 33px;	
}
div.left {
	float: left;
	margin-left: 40px;
	margin-right: 25px;	
}
div.right {
	float: right;
	margin-left: 40px;
	margin-right: 25px;	
	margin-top: 15px;
}
div.xtra {
	width: 211px;
	border: 1px solid #283845;
	background-color: #f2f5f5;
	text-align: left;
/*	display: none;*/
}
div.xtra2 {
	width: 422px;
	border: 1px solid #283845;
	background-color: #f2f5f5;
	text-align: left;
/*	display: none;*/
}
div.xtra div.h2 {
	border: 0px;
	margin: 0px;
	padding: 0px;	
	margin-top: 14px;
	border-top: 1px solid #283845;
	border-bottom: 1px solid #283845;	
	vertical-align: middle;	
	background-color: #bc0000;
	width: 211px;
	height: 24px;
}
div.xtra2 div.h2 {
	border: 0px;
	margin: 0px;
	padding: 0px;	
	margin-top: 14px;
	border-top: 1px solid #283845;
	border-bottom: 1px solid #283845;	
	vertical-align: middle;	
	background-color: #bc0000;
	width: 422px;
	height: 24px;
}
div.xtra h2, div.xtra2 h2 {
	border: 0px;
	margin: 0px;
	padding: 0px;	
	padding-left: 16px;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	line-height: 24px;
	text-align: left;
}
div.xtra p, div.xtra2 p {
	margin: 0px;
	border: 0px;
	padding: 0px;
	padding-left: 0px;	
/*	background-color: #bc0000;*/
	text-align: left;	
	width: 180px;	
/*	margin: 20px;*/
	margin-top: 14px;
	margin-bottom: 14px;	
}
div.form {
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 539px;
	background-color: #dadcdc;	
	background-image: url(images/form_bg.gif);
}
div.form_footer {
	width: 539px;
	height: 11px;
	background-image: url(images/form_footer_bg.gif);
}
div.form_red{
	padding: 0px;
	margin: 0px;
	margin-left: 11px;
	width: 518px;
	height: 73px;
	background-color: #c32e09;
	background-image: url(images/form_red_bg.gif);
}
div.form_red_footer{
	margin-left: 11px;
	width: 518px;
	height: 11px;
	background-image: url(images/form_red_footer_bg.gif);
}
div.form_grey{
	padding: 0px;
	margin: 0px;
	margin-left: 11px;
	width: 518px;
	background-color: #797a7a;
	background-image: url(images/form_grey_bg.gif);
}
div.form_grey_text_30 {
	width: 180px;
	border: 0px;
	margin: 0px;
	padding: 0px;	
	margin-top: 9px;
	padding-left: 20px;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 8pt;
	font-weight: bolder;
	color: #FFF;
	float: left;
}
div.form_grey_text_30_right {
	width: 180px;
	border: 0px;
	margin: 0px;
	padding: 0px;	
	padding-left: 20px;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 8pt;
	font-weight: bolder;
	color: #FFF;
	float: left;
	text-align: right;
}
input.small {
	width: 54px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	margin-left: 9px;
	float: none;
}
input.small_nop {
	width: 54px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	float: none;
}
div.form_grey_30 {
	margin-top: 9px;
	width: 145px;
	float: left;
	padding-left: 11px;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 8pt;
	font-weight: bolder;
	color: #FFF;
	vertical-align: middle;
}
div.form_grey_30_nopadd {
	padding: 0px;
	margin: 0px;
	border: 0px;
	padding-left: 11px;
	width: 145px;
	float: left;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 8pt;
	font-weight: bolder;
	color: #FFF;
	vertical-align: middle;
}
div.form_grey_30 input.radio {
	padding: 0px;
	margin: 0px;
	border: 0px;
	margin-right: 4px;
	margin-top: 2px;
	font-size: 8pt;
	background-color: #797a7a;
}
div.form_grey_30 label {
	vertical-align: middle;
}
div.form_grey_footer{
	margin-left: 11px;
	width: 518px;
	height: 11px;
	background-image: url(images/form_grey_footer_bg.gif);
}
div.form_grey_year {
	padding: 0px;
	margin: 0px;
	margin-top: 9px;
	width: 300px;
	float: left;
	text-align: left;
}
div.form_grey_year_in {
	padding: 0px;
	margin: 0px;
	border: 0px;
	padding-left: 236px;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;	
	font-size: 8pt;
	color: #FFF;
	font-weight: bolder;
	float: left;
	text-align: left;
	line-height: 12px;
}
div.form_grey_month {
	padding: 0px;
	margin: 0px;
	margin-top: 9px;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;	
	font-size: 8pt;
	color: #FFF;
	font-weight: bolder;
	float: left;
	text-align: left;
	line-height: 12px;
}
div.form_text{
	padding: 0px;
	margin: 0px;
	margin-top: 9px;
	padding-left: 20px;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;	
	font-size: 8pt;
	color: #FFF;
	font-weight: bolder;
	width: 105px;
	float: left;
}
div.form_text_longish{
	padding: 0px;
	margin: 0px;
	margin-top: 9px;
	padding-left: 20px;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 8pt;
	color: #FFF;
	font-weight: bolder;
	width: 166px;
	float: left;
}
div.form_text_short {
	padding: 0px;
	margin: 0px;
	padding-left: 20px;
	margin-top: 9px;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 8pt;
	color: #FFF;
	font-weight: bolder;
	width: 45px;
	float: left;
}
div.form_text_100 {
	padding: 0px;
	margin: 0px;
	margin-top: 9px;
	padding-left: 20px;
	font-family: Tahoma, "Trebuchet MS", Verdana, Arial;
	font-size: 8pt;
	color: #FFF;
	font-weight: bolder;
	width: 502px;
	float: left;
	line-height: 10px;
}
div.form_top_spacer {
	height: 7px;
	clear: both;
}
div.short_container {
	padding: 0px;
	margin: 0px;
	width: 280px;
	float: left;	
}
div.shorter_container {
	padding: 0px;
	margin: 0px;
	width: 220px;
	float: left;	
}
input {
	padding: 0px;
	margin: 0px;
	margin-top: 9px;
	height: 14px;
	background-color: #FFFFFF;
	border: 0px;
	float: left;
}
input.long {
	width: 370px;
}
input.longish {
	width: 309px;
}
.textarea {
	padding: 0px;
	margin: 0px;
	width: 460px;
	height: 97px;
}
textarea.form_grey {
	padding: 0px;
	margin: 0px;
	width: 460px;
	height: 97px;
	margin-left: 20px;
}
input.short {
	width: 150px;
	float: left;
} 
img.submit {
	padding: 0px;
	padding-right: 8px;	
	margin-top: 4px;
	border: 0px;
	margin: 0px;
	width: 100px;
	height: 20px;
	cursor: hand;
	float: left;
}
input.submit {
	padding: 0px;
	margin-top: 4px;
	border: 0px;
	margin: 0px;
	width: 100px;
	height: 20px;
	cursor: hand;
	float: left;
}
div.submit {
	padding: 0px;
	border: 0px;
	margin: 0px;
	width: 208px;	
	float: right;
	padding-right: 15px;	
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.error {
	font-size: 12px;
	font-weight: bolder;
	color: #F00;
	margin-bottom: 15px;
}
#partners {
	width: 690px;
	height: 74px;
	background: url(images/partners_bg.gif);
	position: relative;
	left: 280px;
	top: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#partners img {
	float: left;
	margin-top: 0px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
	behavior: url(iepngfix.htc);
}
