body, td, .td {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : normal;
}

input, textarea, button, select, option {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : normal;
}

.light {
   color: #FFFFFF;
}

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}