

/* Top Elements */
* { margin: 0; padding: 0; outline: 0 }

body {
	background: #CCC;
	font: 70%/1.5em Verdana, Tahoma, arial, sans-serif;
	color: #666666; 
	text-align: left;
	margin: 15px 0;
}

/* links */
a, a:visited {	
	color: #5A93C9;
	background: inherit;
	text-decoration: none;
}
a:hover {
	color: #88ac0b;
	background: inherit;
	text-decoration: underline;
}

/* headers */
h1, h2, h3 {
	font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	font-weight: Bold; 	

	    
	
}
h1 {
	font-size: 190%;	
	font-weight: normal;
	color: #555;
}
h2 {
	font-size: 130%;
	text-transform: uppercase;
	color: #52526C;
}
h3 {
	font-size: 130%;	
}

h1, h2, h3, p {
	padding: 5px;		
	margin: 0;
}
ul, ol {
	margin: 5px 5px;
	padding: 0 10px;
}
ul {
	list-style: none;
}

/* images */
img {
	background: #FAFAFA;
   border: none;
	padding: 0px;
}
img.float-right {
  	margin: 5px 0px 10px 10px;  
}
img.float-left {
  	margin: 5px 10px 10px 0px;
}

code {
  	margin: 5px 0;
  	padding: 10px;
  	text-align: left;
  	display: block;
  	overflow: auto;  
  	font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
  	/* white-space: pre; */
  	background: url(post.jpg);
	border: 1px solid #E0DBC9;  
}
acronym {
  cursor: help;
  border-bottom: 1px dashed #777;
}
blockquote {
	margin: 10px;
 	padding: 0 0 0 25px;  
  	 background: url(post.jpg);
	border: 1px solid #E0DBC9;
	font: bold 1.3em/1.5em 'Trebuchet MS', Tahoma, Sans-serif;
	color: #A89A6A;
}


/* start - table */
table {
	border-collapse: collapse;
	margin: 2px;	
}
th strong {
	color: #fff;
}
th {
	background: #93BC0C url(nav6.jpg) repeat-x;
	height: 4px;
	padding-left: 12px;
	padding-right: 12px;
	color: #FFF;
	text-align: left;
/*
	border-left: 1px solid #B6D59A;
	border-bottom: solid 2px #FFF;
*/
}
tr {
	height: 30px;
}
td {
	padding-left: 1px;
	padding-right: 1px;
/*
	border-left: 1px solid #E8E8E8;
	border-bottom: 1px solid #DFDFDF;
*/
}
td.first,th.first {
	border-left: 0px;
}
tr.row-a {
	background: #F8F8F8;
}
tr.row-b {
	background: #EFEFEF;		
}
/* end - table */

/* form elements */
form {
	margin:0px; padding: 0 5px;
	border: 1px solid #D5D5D5; 
	background-color: #DFDFDF; 	
}
label {
	float: left;
	width: 110px;
    text-align: left;
	border-top:1px solid #CCC;
	background-color: #eee;
	padding: 2px 1px 2px 1px;
	margin: 3px 1px 0px 1px;
	font-size: 10px;
	font-weight: bold;		
}
input {
border:1px solid #8792e3;
	margin: 3px 1px 0px 1px;
	padding:2px 1px 2px 1px;
	width: 140px;
}



input.button { 
	font: bold 12px Arial, Sans-serif; 
	height: 22px;
	margin: 3;
	padding: 2px 3px; 
	color: #FFF;
	background: #52526C;
	border: none;
}

.button { 
	font: bold 12px Arial, Sans-serif; 
	height: 22px;
	margin: 3;
	padding: 2px 3px; 
	color: #FFF;
	background: #52526C;
	border: none;
}

/* search form */
.searchform {
	background-color: transparent;
	border: none;	
	margin: 0 0 0 1px; padding: 1px 0 1px 0;	
	width: 250px;

}
.searchform p { margin: 0; padding: 0; }
.searchform input.textbox { 
	width: 120px;
	color: #777; 
	height: 18px;
	padding: 1px;	
	border: 1px solid #E5E5E5;
	vertical-align: top;
}
.searchform input.button { 
	width: 80px;
	height: 20px;
	padding: 2px 5px;
	vertical-align: top;
}
