body {vertical-align:top;font-size: 12px;}

form {text-align: left;}

form input, form select, form textarea
{
	border:1px solid #8792e3;
	margin: 3px 1px 0px 8px;
	padding:2px 1px 2px 1px;}

form br{clear: left;}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	padding: 0.5em;
	border: 1px solid #CCC;
	vertical-align:top;
}

thead, tfoot {
	background-color: #DDD;
}



.fillError {background-color:#e0a0a0;}

.notreq {background-color:white;}

form fieldset legend {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
}
h1 {
		color: #bbc2aa;
		margin-top:0px ;

		font-family: Verdana, "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
		font-size: 22px;
	     border-left:1em solid #ccc;
	     border-right:1em solid #ccc;
	     padding: 0 0 0 10px;
   }

h2 {
		color: #bbc2aa;
		font-family: Verdana, "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
		font-size: 16px;
	     border-left:1em solid #fc6;
	     padding: 0 0 0 10px;
   }


form label{
	float: left;
	width: 180px;
    text-align: left;
	border-top:1px solid #CCC;
	background-color: #eee;
	padding: 5px 5px 5px 5px;
	font-size: 11px;
	font-weight: normal;
	}
a{
    color: #000;
    text-decoration: none;
/*
    cursor: hand;
*/
}
a:hover {background-color:#55624a;color:#fff;}

div#logo1 {                                                                                                                                                  
            background-color: #ddd;
            width:100%;
            height:100px;
            font-size: 16px;
            text-align:right;
	    vertical-align: top;
	    padding:0;
	    display:block;
}

.loginscreen{
    margin-top: 5px;
    border: 1px solid #509050;
    background-color:#ddd;
    width: 300px;
    float: left;
    margin-right: 20px;
}

.loginscreen div{
    margin: 0 auto;
    width: 150px;
}
.loginscreen h1,.sidebar h1{
    color: black;
}
.loginscreen label
{
    width: 200px;
    border: 0;
}
.loginscreen input
{
    width: 145px;
}
.nyitotext
{
	font-size: 6px;
	vertical-align:top;
}

.vermenu{
	vertical-align:bottom;
}

.vermenu ul{
	margin: 3px 0px 0px 0px;
	padding: 0px;
	vertical-align:bottom;
	
}

#mainpan
{

	padding-left: 160px;
	vertical-align:top;
}
/* main block */
.mblock
{
	margin: 0px 0px 10px 0px;
	padding: 0px;
	border: 1px solid #999;
	vertical-align:top;
}
.inmblock
{
	margin: 0px 0px 0px 0px;
	padding: 0px;
	border: 5px solid #eee;
	vertical-align:top;
}

.inmblock h1{
	font-size: 120%;
	line-height: 20px;
    color: #002244;
    border-top: 0;
    border-bottom: 0;
    text-indent: 10px;
    text-align: center;
}

.inmblock h3
{
	margin: 2px;
	padding: 1px;
	font-size: 1.1em;
}

/* menu blok */
div.sdmenu {
	width: 150px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding-bottom: 10px;
	background: url(bottom.gif) no-repeat  right bottom;
	color: #fff;
}
div.sdmenu div {
	background: url(title.gif) repeat-x;
	overflow: hidden;
}
div.sdmenu div:first-child {
	background: url(toptitle.gif) no-repeat;
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 25px;
	font-weight: bold;
	color: white;
	background: url(expanded.gif) no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
	background-image: url(collapsed.gif);
}
div.sdmenu div a {
	padding: 5px 10px;
	background: #eee;
	display: block;
	border-bottom: 1px solid #ddd;
	color: #066;
}
div.sdmenu div a.current {
	background : #ccc;
}
div.sdmenu div a:hover {
	background : #066 url(linkarrow.gif) no-repeat right center;
	color: #fff;
	text-decoration: none;
}

.panel {
	clear: both;
	display: none;
	border: 3px solid #ccc;
	padding: 1em;
	background-color: #FFF;
	margin: 1px;
	vertical-align:top;
	
}
.panel.active-tab-body {
	display: block;
	vertical-align:top;
}
#tabs {
	list-style: none;
	padding: 0;
	margin: 0;
}
#tabs li {
	position: relative;
	margin: 1px;
	float: left;
}

#tabs li.empty { 
	border-bottom: 1px solid #ccc;
	padding: 3px 0px;
}

#tabs a {
	float: left;
	padding: 3px 10px;
	margin-right: 0px;
	border: 1px solid #ccc;
	border-width: 1px 1px 0 1px;
	text-decoration: none;
/*
	color: #000;
*/
}
#tabs a:hover {
	background-color: #aaa;
	color: #FFF;
}
#tabs a.active-tab {
	background-color: #066;
	color: #FFF;
}

tr.rowodd {
	background-color: #FFF;
}

tr.roweven {
	background-color: #F2F2F2;
}

.sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
}
.sortasc {
	background-color: #DDFFAC;
	background-image: url(up.gif);
}
.sortdesc {
	background-color: #B9DDFF;
	background-image: url(down.gif);
}
.nosort {
	cursor: default;
}

.urg1, .urg2, .urg3, .urg4, .urg5 {
	padding: 3px;
	text-align: center;
	border: 1px solid #333;
	width: 3em;
}

.urg1 {
	background-color: #FFFACD;
}
.urg2 {
	background-color: #FFD700;
}
.urg3 {
	background-color: #FFA500;
}
.urg4 {
	background-color: #E13E00;
}
.urg5 {
	background-color: Red;
}

th.resize-handle-active {
	cursor: e-resize;
}

div.resize-handle {
	cursor: e-resize;
	width: 2px;
	border-right: 1px dashed #1E90FF;
	position:absolute;
	top:0;
	left:0;
}
