.gurtl0norm {
	padding: 2px;
	line-height: 25px;
	font: 12px Arial ;
	text-decoration: none;
	background: transparent;
	color: White;
	cursor: hand;
	text-align: left;
}
.gurtl0norm:hover {
	padding: 2px;
	font: 12px Arial ;
	text-decoration: none;
	background: Black;
	color: White;
	cursor: hand;
	text-align: left;
}
a.gurtl0norm {
	padding: 0px 0 0 4px;
	line-height: 25px;
	font: 12px Arial ;
	text-decoration: none;
	background: transparent;
	color: White;
	cursor: hand;
	text-align: left;
}
a.gurtl0norm:hover {
	padding: 0px 0 0 4px;
	font: 12px Arial ;
	text-decoration: none;
	background: Black;
	color: White;
	cursor: hand;
	text-align: left;
}
.gurtl0clck {
	padding: 4px;
	font: 12px Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
	text-decoration: none;
	border-left: 4px solid White;
	background: #949494;
	color: white;
	cursor: hand;
}
.gurtl1norm {
	padding: 3px;
	font: 12px Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
	text-decoration: none;
	border-left: 4px solid #DAA520;
	background: Black;
	color: White;
	cursor: hand;
}
.gurtl1over {
	padding: 3px;
	font: 12px Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
	text-decoration: none;
	border-left: 4px solid #DAA520;
	background: White;
	color: #243D4B;
	cursor: hand;
}
.gurtl1clck {
	padding: 3px;
	font: 12px Arial, Tahoma, Verdana, Geneva, Helvetica, sans-serif;
	text-decoration: none;
	border: 1px solid white;
	border-left: 4px solid #E1B700;
	background: #DBDFDF;
	color: #243D4B;
	cursor: hand;
}