<?php
 session_start();
/*
 require_once("../config.inc.php");
 require_once("../library.inc.php");

 $user=http_post_var("edt_user");
 $pass=http_post_var("edt_pass");

 
 
 if ($user=="" or $pass=="")
  {
   include("login.html");
  }
   else
  {
   $db=mysql_connect(DB_SERVER,DB_USER,DB_PASSWORD) or die(mysql_error());
   mysql_select_db(DB_NAME,$db) or die(mysql_error());
        
   $res_login=mysql_query("SELECT default_category_id, superuser FROM contentwriters WHERE login='".$user."' AND passwd='".$pass."'") or die(mysql_error());
        
   mysql_close($db);
       
   if (mysql_num_rows($res_login)==0)
    {
     header('WWW-Authenticate: Basic realm="HR Portal Content Management System"');
     header('HTTP/1.0 401 Unauthorized');
    } else
    {
     session_register("contentwriter_login"); $contentwriter_login=$user; 
     session_register("contentwriter_default_category_id"); $contentwriter_default_category_id=mysql_result($res_login,0,0);  
     session_register("contentwriter_superuser"); $contentwriter_superuser=mysql_result($res_login,0,1); 
     
//     $HTTP_SESSION_VARS['contentwriter_login']=$user;
//     $HTTP_SESSION_VARS['contentwriter_default_category_id']=mysql_result($res_login,0,0);      
//     $HTTP_SESSION_VARS['contentwriter_superuser']=mysql_result($res_login,0,1);        


     header("location: input.phtml?".SID);
    }
  } // end if
*/
if (isset($_POST['adm_passwd']) || $_POST['adm_passwd'] != ""){
	include_once dirname(__FILE__) . "/include/functions.php";
		$usrow=db_row("select * from ps_user where u_login='".$_POST['adm_login']."' and status=1");
  		$passwd=$usrow['u_pass'];
		$passwd=substr($passwd,7);
   		if (crypt($_POST['adm_passwd'], $passwd) == $passwd){
			$_SESSION['planet'] = array("uid" => $usrow['id'],"csid" => $usrow['jcs_id'],"email" => $usrow['u_mail'],"element" => array());	
			if(date("H",time())>18 || date("H",time())<8){
				db_execute("insert into user_activity (user_id,rdate,megjegyzes,ip) values ('".$usrow['id']."',NOW(),'login - ".$usrow['u_realname']."','".$_SERVER['REMOTE_ADDR']."')");
			}
			//gonaplo("0","login","ok","Sikeres belépés");
		}
		else{
			//gonaplo("0","login","error",$_SERVER['REMOTE_ADDR']);
		}
   	}


if(isset($_SESSION['planet'])){
	//print_r($_SESSION);
	?>
	<script type="text/javascript">
		document.location="input.phtml";
	</script>
	<?
	//header("location: input.phtml?".SID); 
	
}
else{
	?>
	<h1 style="border-top:3px solid #CECECE;border-bottom:3px solid #CECECE;color:#666;font-size:18px;text-align:center;">HR Portal Adminisztrációs Belépés</h1>	
		
        <div style="width:300px;float:left;">
          <form method="post" action="index.phtml"> 
            <p><input type="hidden" name="rememberme" value="0" /></p>
            <fieldset style="border:3px solid #CECECE;">
              <p><label for="adm_login" class="top">Felhasználónév:</label><br />
                <input type="text" name="adm_login" id="adm_login" tabindex="1" style="border:3px solid #CECECE;" value="" /></p>
    	      <p><label for="adm_passwd" class="top">Jelszó:</label><br />
                <input type="password" name="adm_passwd" id="adm_passwd" tabindex="2" style="border:3px solid #CECECE;" value="" /></p>
    	        <p><input type="submit" name="cmdweblogin" style="border:3px solid #CECECE;" value="Belépés"  /></p>
	        </fieldset>
          </form>
        </div>	
	<?	
}

?>
