<?php
 session_start();
  error_reporting(E_ALL);
 ini_set("display_errors", 1); 
 if (!isset($_SESSION['planet']))
  {
   header("location: index.phtml");
   die();
  }
 header("Content-Type: text/html; charset=utf-8");
 setlocale(LC_CTYPE, 'hu_HU');
 $contentwriter_login="hrportal";
 $contentwriter_default_category_id="0";
 $contentwriter_superuser="yes";

define("DB_SERVER","localhost");
define("DB_USER","hrportal");
define("DB_PASSWORD","qawUcAd8");
define("DB_NAME","hrportal_new");
 require_once("include/library2.inc.php");
 include("include/functions.php");
 ?>
 <script type="text/javascript"  src="js/ajax.js">;</script>
 <script type="text/javascript" language="JavaScript"  src="js/plajax.js">;</script>
 <?
 
 $db=mysql_connect(DB_SERVER,DB_USER,DB_PASSWORD) or die(mysql_error());
 mysql_select_db(DB_NAME,$db) or die(mysql_error());
 $result = mysql_query("SET NAMES utf8");
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
    <title>HRP</title>
    <link rel="STYLESHEET" type="text/css" href="style.css">

<script language="JavaScript" type="text/javascript">

function sack(file) {
    this.xmlhttp = null;

    this.resetData = function() {
	this.method = "GET";
	this.queryStringSeparator = "?";
	this.argumentSeparator = "&";
	this.URLString = "";
	this.encodeURIString = true;
	this.execute = false;
	this.element = null;
	this.elementObj = null;
	this.requestFile = file;
	this.vars = new Object();
	this.responseStatus = new Array(2);
    };

    this.resetFunctions = function() {
	this.onLoading = function() { };
	this.onLoaded = function() { };
	this.onInteractive = function() { };
	this.onCompletion = function() { };
	this.onError = function() { };
	this.onFail = function() { };
    };

    this.reset = function() {
	this.resetFunctions();
	this.resetData();
    };

    this.createAJAX = function() {
	try {
	    this.xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
	} catch (e1) {
	    try {
		this.xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
	    } catch (e2) {
		this.xmlhttp = null;
	    }
	}

	if (! this.xmlhttp) {
	    if (typeof XMLHttpRequest != "undefined") {
		this.xmlhttp = new XMLHttpRequest();
	    } else {
		this.failed = true;
	    }
	}
    };

    this.setVar = function(name, value){
	this.vars[name] = Array(value, false);
    };

    this.encVar = function(name, value, returnvars) {
	if (true == returnvars) {
	    return Array(encodeURIComponent(name), encodeURIComponent(value));
	} else {
	    this.vars[encodeURIComponent(name)] = Array(encodeURIComponent(value), true);
	}
    }

    this.processURLString = function(string, encode) {
	encoded = encodeURIComponent(this.argumentSeparator);
	regexp = new RegExp(this.argumentSeparator + "|" + encoded);
	varArray = string.split(regexp);
	for (i = 0; i < varArray.length; i++){
	    urlVars = varArray[i].split("=");
	    if (true == encode){
		this.encVar(urlVars[0], urlVars[1]);
	    } else {
		this.setVar(urlVars[0], urlVars[1]);
	    }
	}
    }

    this.createURLString = function(urlstring) {
	if (this.encodeURIString && this.URLString.length) {
	    this.processURLString(this.URLString, true);
	}

	if (urlstring) {
	    if (this.URLString.length) {
		this.URLString += this.argumentSeparator + urlstring;
	    } else {
		this.URLString = urlstring;
	    }
	}

	// prevents caching of URLString
	this.setVar("rndval", new Date().getTime());

	urlstringtemp = new Array();
	for (key in this.vars) {
	    if (false == this.vars[key][1] && true == this.encodeURIString) {
		encoded = this.encVar(key, this.vars[key][0], true);
		delete this.vars[key];
		this.vars[encoded[0]] = Array(encoded[1], true);
		key = encoded[0];
	    }

	    urlstringtemp[urlstringtemp.length] = key + "=" + this.vars[key][0];
	}
	if (urlstring){
	    this.URLString += this.argumentSeparator + urlstringtemp.join(this.argumentSeparator);
	} else {
	    this.URLString += urlstringtemp.join(this.argumentSeparator);
	}
    }

    this.runResponse = function() {
	eval(this.response);
    }

    this.runAJAX = function(urlstring) {
	if (this.failed) {
	    this.onFail();
	} else {
	    this.createURLString(urlstring);
	    if (this.element) {
		this.elementObj = document.getElementById(this.element);
	    }
	    if (this.xmlhttp) {
		var self = this;
		if (this.method == "GET") {
//		    totalurlstring = this.requestFile + this.queryStringSeparator + this.URLString;
		    totalurlstring = this.requestFile + this.argumentSeparator + this.URLString;
		    this.xmlhttp.open(this.method, totalurlstring, true);
		} else {
		    this.xmlhttp.open(this.method, this.requestFile, true);
		    try {
			this.xmlhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
		    } catch (e) { }
		}

		this.xmlhttp.onreadystatechange = function() {
		    switch (self.xmlhttp.readyState) {
			case 1:
			    self.onLoading();
			    break;
			case 2:
			    self.onLoaded();
			    break;
			case 3:
			    self.onInteractive();
			    break;
			case 4:
			    self.response = self.xmlhttp.responseText;
			    self.responseXML = self.xmlhttp.responseXML;
			    self.responseStatus[0] = self.xmlhttp.status;
			    self.responseStatus[1] = self.xmlhttp.statusText;

			    if (self.execute) {
				self.runResponse();
			    }

			    if (self.elementObj) {
				elemNodeName = self.elementObj.nodeName;
				elemNodeName.toLowerCase();
				if (elemNodeName == "input"
				|| elemNodeName == "select"
				|| elemNodeName == "option"
				|| elemNodeName == "textarea") {
				    self.elementObj.value = self.response;
				} else {
				    self.elementObj.innerHTML = self.response;
				}
			    }
			    if (self.responseStatus[0] == "200") {
				self.onCompletion();
			    } else {
				self.onError();
			    }

			    self.URLString = "";
			    break;
		    }
		};

		this.xmlhttp.send(this.URLString);
	    }
	}
    };

    this.reset();
    this.createAJAX();
}

var requestVan = 0;
var pla_ajaxObjects = new Array();
// Ez azert tomb, mert ugye elkepzelheto, hogy nem egy AJAX-os mezo lesz
// a kepernyon, es a tomb egy eleme fog azonositani egy AJAX-os kapcsolatot

function trimString(sInString) {
// Ez a fuggveny csak legyomlalja egy stringrol a felesleget
  sInString = sInString.replace( /^\s+/g, "" );
  return sInString.replace( /\s+$/g, "" );
}

function goelonezet(){
	var ajaxIndex = pla_ajaxObjects.length;
	pla_ajaxObjects[ajaxIndex] = new sack();
	var teaser=document.getElementById('edt_teaser').value;
	var lead=document.getElementById('edt_lead').value;
	var body=document.getElementById('edt_body').value;
	var category=document.getElementById('edt_category_id').value;
	pla_ajaxObjects[ajaxIndex].setVar("teaser", teaser);
	pla_ajaxObjects[ajaxIndex].setVar("lead", lead);
	pla_ajaxObjects[ajaxIndex].setVar("category", category);
	pla_ajaxObjects[ajaxIndex].setVar("body", body);
	pla_ajaxObjects[ajaxIndex].requestFile = 'ajax_elonezet.php';
	pla_ajaxObjects[ajaxIndex].method =  'POST';
	pla_ajaxObjects[ajaxIndex].onCompletion = function(){ displayelonezet(ajaxIndex); };
	pla_ajaxObjects[ajaxIndex].runAJAX();
}

function displayelonezet(ajaxIndex){
    var itemsToBeCreated = new Array();
	var newWin=window.open('../index.phtml?page=elonezet', 'mydoc', 'status=1,toolbar=1,menubar=1,resizable=1,scrollbars=1,width=800,height=600'); 
	requestVan=0;
}
</script>    
    
<SCRIPT LANGUAGE="JavaScript">
<!--

var FormNumber          = 0;
var LastFocus           = "";
var LastDirection       = 1;
var InsertionCounter    = 0;
var MaxInsertionCounter = 0;
var InsertionHistory    = new Array();
var FocusHistory        = new Array();
var InitialState        = new Array();

function Undo() {
  if ( LastFocus != "" ) {
    if ( LastDirection == 1 ) SavePreviousTextInput();
    LastDirection = -1;
    if ( InsertionCounter > 0 ) {
      InsertionCounter = InsertionCounter - 2;
      
document.forms[FormNumber].elements[FocusHistory[InsertionCounter]].value

= InsertionHistory[InsertionCounter];
    }
  }
}
function Redo() {
  LastDirection = 1;
  if ( InsertionCounter < MaxInsertionCounter ) {
    InsertionCounter = InsertionCounter + 2;
    
document.forms[FormNumber].elements[FocusHistory[InsertionCounter-1]].value

= InsertionHistory[InsertionCounter-1];
  }
}
function SavePreviousTextInput() {
    lastSavedFocusIndex = -1;
    for ( I = 0; I < InsertionCounter; I++ ) {
    if ( FocusHistory[I] == LastFocus ) lastSavedFocusIndex = I;
    }
    if ( lastSavedFocusIndex == -1 ) {
    previousState = InitialState[LastFocus];
    } else {
    previousState = InsertionHistory[lastSavedFocusIndex];
    }
    if ( previousState != 
document.forms[FormNumber].elements[LastFocus].value ) {
    InsertionHistory[InsertionCounter] = previousState;
    FocusHistory[InsertionCounter] = LastFocus;
    InsertionCounter = InsertionCounter + 1;
    InsertionHistory[InsertionCounter] = 
document.forms[FormNumber].elements[LastFocus].value;
    FocusHistory[InsertionCounter] = LastFocus;
    InsertionCounter = InsertionCounter + 1;
    MaxInsertionCounter = InsertionCounter;
    }
}

function GetLastEntry(ObjectName) {
    if ( !InitialState[ObjectName] ) {
    // this field has never been focused before, save initial state
    InitialState[ObjectName] = 
document.forms[FormNumber].elements[ObjectName].value;
    }
    if ( LastFocus != "" ) SavePreviousTextInput();
    LastFocus = ObjectName;
}

function InsertHtml(TagNum) {
  //var selected = document.activeElement;
	textAreaId= 'edt_body';
	//textAreaId= document.activeElement.id;
		switch ( TagNum ) {
    case "1" :
      HtmTag1 = "<strong>";
      HtmTag2 = "</strong>";
      break;
    case "2" :
      HtmTag1 = "<i>";
      HtmTag2 = "</i>";
      break;
    case "3" :
      HtmTag1 = "<p>";
      HtmTag2 = "";
      break;
    case "4" :
      HtmTag1 = "<ul>\n<li>";
      HtmTag2 = "</li>\n</ul>";
      break;
    case "5" :
      HtmTag1 = "";
      HtmTag2 = "<br>";
      break;
    case "6" :
      HtmTag1 = "<div align='center'>";
      HtmTag2 = "</div>";
      break;
    case "7" :
      HtmTag1 = "<div align='justify'>";
      HtmTag2 = "</div>";
      break;
    case "8" :
      HtmTag1 = "<div align='right'>";
      HtmTag2 = "</div>";
      break;
    case "9" :
      HtmTag1 = "<a target=\"_blank\" class=\"td\" href=\"http://";
      HtmTag2 = "</a>";
      break;
    case "10" :
      HtmTag1 = "<a style=\"font-weight:bold\" href=\"mailto:";
      HtmTag2 = "</a>";
      break;
    case "14" :
      HtmTag1 = "[img1]";
      HtmTag2 = "";
      break;      
    default :
      HtmTag = "";
    }
    
   

		var browser=navigator.appName
        var b_version=navigator.appVersion

		if (browser=="Microsoft Internet Explorer" && b_version>='4')
        {
            var str = document.selection.createRange().text;
            document.getElementById(textAreaId).focus();
            var sel = document.selection.createRange();
            if (TagNum == 9) {
				sel.text = HtmTag1 + str +' ">'+ str + HtmTag2;	
			}
			else if(TagNum == 10) {
				sel.text = HtmTag1 + str +' ">'+ str + HtmTag2;	
			}
			else if(TagNum == 4) {
				SelText = range.text;
				var Ergebnis = SelText.match(/\n/);
				if ( Ergebnis != null ) {
				  var NewSelText = SelText.replace(/\n/g,"\n<li>");
				  HtmTag1 = "<ul>\n<li>";
				  HtmTag2 = "\n</ul>\n";
				  SelText = HtmTag1 + NewSelText + HtmTag2;
				}
			}
			else{
				sel.text = HtmTag1 + str + HtmTag2;	
			}
            
            return;
        }

        field = document.getElementById(textAreaId);
        startPos = field.selectionStart;
        endPos = field.selectionEnd;
        before = field.value.substr(0, startPos);
        selected = field.value.substr(field.selectionStart, (field.selectionEnd - field.selectionStart));
        after = field.value.substr(field.selectionEnd, (field.value.length - field.selectionEnd));
        if (TagNum == 9) {
			field.value = before + HtmTag1 + selected +'" >'+ selected + HtmTag2 + after;
		}
        else if (TagNum == 10) {
			field.value = before + HtmTag1 + selected +'" >'+ selected + HtmTag2 + after;
		}
        else if (TagNum == 4) {
			//field.value = before + HtmTag1 + selected +'" >'+ selected + HtmTag2 + after;
			var Ergebnis = selected.match(/\n/);
				if ( Ergebnis != null ) {
				  var NewSelText = selected.replace(/\n/g,"\n<li>");
				  HtmTag1 = "<ul>\n<li>";
				  HtmTag2 = "\n</ul>\n";
				  SelText = HtmTag1 + NewSelText + HtmTag2;
				  field.value = before + SelText + after;
				}
		}
		else{
			field.value = before + HtmTag1 + selected + HtmTag2 + after;
		}
    

  
}
//-->
</SCRIPT>
   <script type="text/javascript" language="JavaScript" src="js/do.js"></script> 
    			<link type="text/css" href="css/redmond/jquery-ui-1.8.20.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.20.custom.min.js"></script>
</head>
<body topmargin='0' leftmargin='0' marginheight='0' marginwidth='0' text='#000000' link='#000000' vlink='#000000' alink='#000000'>
<script language='Javascript'>


 function submit_frm_input()
  {
   var f=document.forms.frm_input;

   if (confirm("Valóban fel akarja vinni a cikket?")) { 
    if ( f.edt_teaser.value!='' && f.edt_category_id.value!='0')
     {
		
			
				f.submit();		
			}
      else
     {
      alert("Nincs kitöltve minden kötelező mező!");
     }
   
  }

}
</script>
 <script language="Javascript">
  
   
  function add_url()
   {
    var f=document.forms.frm_input;
    
    var url="";
    url=prompt("URL: (http:// kell az elejére!)","http://");    
    var txt="";
    txt=prompt("A link szövege (erre kell majd kattintani)","");    
    
    var target="";
    if (confirm("Új ablakban nyíljon meg?"))
     target="_blank";          
    
    if (url!=null && url!="" && txt!=null && txt!="")
     {
      f.edt_teaser.value="<a target=\""+target+"\" class=\"td\" href=\""+url+"\">"+txt+"</a>";
     }
      else
     {
      alert("Valamelyik érték üres maradt!");
     }
   }
   
 
   
 </script>
<table width='100%' cellpadding='0' cellspacing='0' border='0'>
 <tr>
  <td align='left' width='100%' background='images/pixel.gif' bgcolor='#004989'><img src='images/title.gif' border='0'></td>
 </tr>
</table>

<table>
 <tr>
  <td>
<button onclick="javascript:goelonezet(); " id='frst'>Előnézet</button>
<form name='frm_input' action='do_input.phtml?<?=SID?>' method='post' enctype="multipart/form-data">
<table cellpadding='5' cellspacing='5' border='0'>
 <tr>
  <td colspan='2'></td>
  <td><font color='#FF0000'>FONTOS: a külső cikekknél is be KELL másolni pontosan a leadet és a cikktörzset, <br>mert pl. szekciók főcikkeként is megjelenhetnek a cikkek, ill. keresőrobotok átveszik. <br>(Mintha belső cikket készítenénk, csak a Cím lesz külső linkes)</font>
  </td>
 </tr>
 <tr>
  <td align='right' width='200' bgcolor='#ace6ac'><b>Cím:</b><li>Minden cikken belül, <li>a címlapon és az aloldalakon pöttyözésnél, <li>az aloldalakon a további cikkek listázásánál, <li>valamint a címlapon a Munkaügyi hírek boxnál jelenik meg.</td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#ace6ac'><textarea name='edt_teaser' id='edt_teaser' style='width: 350px;height:40px;'></textarea><input type='button' onClick='add_url();' value='Linket vinnék be'></td>
 </tr>

 <tr>
  <td align='right' width='200' bgcolor='#ace6ac'><b>Kategória:</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#ace6ac'>
   <select name='edt_category_id' id='edt_category_id'>
    <?php
     
       $res_categories=mysql_query("SELECT
                                     c.id AS c_id,
                                     c.name AS c_name
                                    FROM
                                     categories c where c.status=1
                                    ORDER BY
                                     c_name") or die(mysql_error());
     
     
     while ($categories=mysql_fetch_array($res_categories))
      {
       echo "<option value='".$categories['c_id']."'>".$categories['c_name']."</option>";
      }
    ?>
   </select>
  </td>
 </tr> 

  



 <tr>
  <td colspan='2' height='80'>&nbsp;</td>
  <td align='center' height='80'>
   <input type='button' value='          Felvitel          ' onClick='submit_frm_input()'>
  
  <br>
  <br>
  <?php
   if ($contentwriter_superuser!='yes')
    {
     echo "<a href='mailto:julia.szegedi@hrportal.hu?subject=ÚJ $contentwriter_login cikk - feltöltendő kép'>Amennyiben szeretne képet, képeket elhelyezni a cikkben,<br>kérjük, küldje el a katalin.szilagyi@hrportal.hu címre!</a>";
    }
  ?>
    
  </td>
 </tr>
</table>
</form>


  </td>
  <td valign='top'>
  
<table border="0" cellspacing="0"
cellpadding="0">
<form>
<tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Félkövér"
name="B1" 
onclick="InsertHtml('1');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Dőlt" name="B2"
onclick="InsertHtml('2');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Új bekezdés"
name="B3" 
onclick="InsertHtml('3');"></td></tr><tr>

<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Lista" name="B4"
onclick="InsertHtml('4');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Sortörés"
name="B5" 
onclick="InsertHtml('5');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Középre zárás"
name="B6" 
onclick="InsertHtml('6');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Sorkizárás"
name="B7" 
onclick="InsertHtml('7');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Jobbra zárás"
name="B8" 
onclick="InsertHtml('8');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Internet link"
name="B9" 
onclick="InsertHtml('9');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="E-mail link"
name="B10" 
onclick="InsertHtml('10');"></td>
</tr><tr>
<td>&nbsp;</td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Kép"
name="B14" 
onclick="InsertHtml('14');"></td>
</tr><tr>
<td>&nbsp;</td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Visszavonás"
name="B11" onclick="Undo();"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Mégis"
name="B12" onclick="Redo();"></td>
</tr>
</form>
</table>

  </td>
 </tr>
</table>  
</body>
<script language="JavaScript" type="text/javascript">
 var activt="frst";
//document.getElementById(activt).focus();







</script>
<?php
 mysql_close($db);
?>
