<?php
 session_start();
 if(!isset($_SESSION['planet']['uid']) && $_SESSION['planet']['uid']=="" && $_SESSION['planet']['uid']=="0"){
	die("Helytelen hozzáférés");	
}
 header("Content-Type: text/html; charset=utf-8");
 setlocale(LC_CTYPE, 'hu_HU');


//  include("../functions.php");
 $max_small_pic_filesize=10240*10240;
 $max_large_pic_filesize=10240*10240;
  	define("DB_SERVER","localhost");
  define("DB_USER","hrportal");
  define("DB_PASSWORD","qawUcAd8");
  define("DB_NAME","hrportal_new");
  define("SITE_URL","http://www.hrportal.hu");
  define("CONTENT_UPLOAD_DIR","/home/www-data/new.hrportal.hu/images/uploaded/");
  define("CONTENT_ALERT_MAIL_TO","info@hrportal.hu");
 require_once("include/library2.inc.php");
 include("functions.php");
 
 echo"<pre>";
 //print_r($_POST);
 echo"</pre>";
 
function msword_conversion($str){
	return $str;
}
 
function rp($text){
	return $text;
}

 
 
  foreach ($_POST as $postkey => $postval){
		$mit=array("'","’","–");
		$mire=array("'","'","-");
        $_POST[$postkey] = rp(str_replace($mit,$mire,$postval));
    }
 
 # getting incoming vars
 $id=http_post_var("edt_id"); 
 $teaser=addslashes($_POST['edt_teaser']);
 echo $teaser;
// echo addslashes($teaser);
 $lead=addslashes(http_post_var("edt_lead"));
 $body=addslashes(msword_conversion(http_post_var("edt_body")));
 $category_id=http_post_var("edt_category_id");
 $small_pic=http_file_var("edt_small_pic");
 $small_pic_align=http_post_var("edt_small_pic_align");
 $large_pic=http_file_var("edt_large_pic");
 $large_pic_align=http_post_var("edt_large_pic_align"); 
 $contentwriter_login=http_post_var("edt_contentwriter_login");
 $journalist_id=$_POST['edt_journalist_id'];
 $expert_id=$_POST['edt_expert_id'];
 $expert_cat_id=$_POST['edt_expert_cat_id'];
 $sponsor_id=$_POST['edt_sponsor_id'];
 $blog_name=$_POST['blog_name'];
 $priority=http_post_var("edt_priority");
 $small_pic_action=http_post_var("edt_small_pic_action");
 $large_pic_action=http_post_var("edt_large_pic_action");
 $small_pic_filename=http_post_var("edt_small_pic_filename");
 $large_pic_filename=http_post_var("edt_large_pic_filename"); 
 $limit=http_post_var("limit");  
 $nl2br=http_post_var("edt_nl2br");   
 $is_hrparticle=http_post_var("edt_is_hrparticle");   
 $is_visited=http_post_var("edt_is_visited");   
 $source=http_post_var("edt_source");    
 $orderby=http_post_var("orderby");    
 $order=http_post_var("order");    
 $show=http_post_var("show");   
 
 $search_string=http_post_var("search_string");
 $search_what=http_post_var("search_what");
 $filter_c_id=http_post_var("filter_c_id");
 $filter_cw_login=http_post_var("filter_cw_login");
 /* 
 $keyword1=addslashes($_POST['edt_keyword1']); 
 $keyword2=addslashes($_POST['edt_keyword2']); 
 $keyword3=addslashes($_POST['edt_keyword3']); 
 $keyword4=addslashes($_POST['edt_keyword4']); 
 $keyword5=addslashes($_POST['edt_keyword5']); 
 */
 $picalttag=addslashes($_POST['edt_picalttag']); 
 
 $editorial=http_post_var("edt_editorial"); 
 $e_year=http_post_var("edt_e_year"); 
 $e_month=http_post_var("edt_e_month"); 
 $e_day=http_post_var("edt_e_day"); 
 $e_hour=http_post_var("edt_e_hour"); 
 
 $editorial_i=http_post_var("edt_editorial_i"); 
 $e_year_i=http_post_var("edt_e_year_i"); 
 $e_month_i=http_post_var("edt_e_month_i"); 
 $e_day_i=http_post_var("edt_e_day_i"); 
 $e_hour_i=http_post_var("edt_e_hour_i");  
 
  
 $p_year_i=http_post_var("edt_p_year_i"); 
 echo $p_year_i."<br />";
 $p_month_i=http_post_var("edt_p_month_i"); 
 echo $p_month_i."<br />";
 $p_day_i=http_post_var("edt_p_day_i"); 
 echo $p_day_i."<br />";
 $p_hour_i=http_post_var("edt_p_hour_i");  
 echo $p_hour_i."<br />";
 $pdate=$p_year_i."-".$p_month_i."-".$p_day_i." ".$p_hour_i.":00:00";
 
 
 $static_dir=trim(http_post_var("edt_static_dir"));  
 
 $rss_karrier=http_post_var("edt_rss_karrier");
 $rss_hr_napipercek=http_post_var("edt_rss_hr_napipercek");
 $rss_hr_napionline=http_post_var("edt_rss_hr_napionline");
 
 $s_teaser=addslashes($_POST['edt_s_teaser']);
 $s_lead=addslashes(http_post_var("edt_s_lead"));
 $m_lead=addslashes(http_post_var("edt_m_lead"));
 $spot1=trim(http_post_var("edt_spot1"));
 $spot2=trim(http_post_var("edt_spot2"));
 $spot3=trim(http_post_var("edt_spot3")); 
 $frame_pic=http_file_var("edt_frame_pic");
 $frame_pic_action=http_post_var("edt_frame_pic_action");
 $frame_pic_filename=http_post_var("edt_frame_pic_filename");  
 $frame_text=http_post_var("edt_frame_text");  
 $main_pic=http_file_var("edt_main_pic");
 $main_pic_action=http_post_var("edt_main_pic_action");
 $main_pic_filename=http_post_var("edt_main_pic_filename");   
  
 $db=mysql_connect(DB_SERVER,DB_USER,DB_PASSWORD) or die(mysql_error());
 mysql_select_db(DB_NAME,$db) or die(mysql_error());
$result = mysql_query("SET NAMES utf8");

 clearstatcache();
  mysql_query("INSERT INTO articles_crrelated (art_id,kw1,kw2,kw3,kw4,kw5,insdate,status) VALUES ('".$id."','".$keyword1."','".$keyword2."','".$keyword3."','".$keyword4."','".$keyword5."',NOW(),'0')") or die(mysql_error());
 if ($small_pic_action=="new")
  {
   if ($small_pic['name']!="")
    {
     if (filesize($small_pic['tmp_name'])>$max_small_pic_filesize)
      die("Hiba: a kis kép túl nagy méretű. A megendegett legnagyobb méret: ".$max_small_pic_filesize." byte.");
     if (!move_uploaded_file($small_pic['tmp_name'], CONTENT_UPLOAD_DIR.$small_pic['name']))
      die("Hiba: sikertelen feltöltés (kis kép)");
    }
     else
    {
     $small_pic_align="";
    }
  }
   elseif ($small_pic_action=="del")
  {
   unlink(CONTENT_UPLOAD_DIR.$small_pic_filename);
   $small_pic_align="";  
   $small_pic['name']=""; 
  }

 if ($large_pic_action=="new")
  {  
   if ($large_pic['name']!="")
    {
     if (filesize($large_pic['tmp_name'])>$max_large_pic_filesize)
      die("Hiba: a nagy kép túl nagy méretű. A megendegett legnagyobb méret: ".$max_large_pic_filesize." byte.");  
     if (!move_uploaded_file($large_pic['tmp_name'], CONTENT_UPLOAD_DIR.$large_pic['name']))
     die("Hiba: sikertelen feltöltés (nagy kép)");
    }
     else
    {
     $large_pic_align="";
    }  
  }
   elseif ($large_pic_action=="del")
  {
   unlink(CONTENT_UPLOAD_DIR.$large_pic_filename);
   $large_pic_align="";
   $large_pic['name']="";    
  }
  
   if ($frame_pic_action=="new")
  {  
   if ($frame_pic['name']!="")
    {
     if (filesize($frame_pic['tmp_name'])>$max_large_pic_filesize)
      die("Hiba: a keretes kép túl nagy méretű. A megendegett legnagyobb méret: ".$max_large_pic_filesize." byte.");  
     if (!move_uploaded_file($frame_pic['tmp_name'], CONTENT_UPLOAD_DIR.$frame_pic['name']))
     die("Hiba: sikertelen feltöltés (keretes kép)");
	 }
  }
   elseif ($frame_pic_action=="del")
  {
   unlink(CONTENT_UPLOAD_DIR.$frame_pic_filename);
   $frame_pic['name']="";    
  }
  
   if ($main_pic_action=="new")
  {  
   if ($main_pic['name']!="")
    {
     if (filesize($main_pic['tmp_name'])>$max_large_pic_filesize)
      die("Hiba: a keretes kép túl nagy méretű. A megendegett legnagyobb méret: ".$max_large_pic_filesize." byte.");  
     if (!move_uploaded_file($main_pic['tmp_name'], CONTENT_UPLOAD_DIR.$main_pic['name']))
     die("Hiba: sikertelen feltöltés (keretes kép)");
	 }
  }
   elseif ($main_pic_action=="del")
  {
   unlink(CONTENT_UPLOAD_DIR.$main_pic_filename);
   $main_pic['name']="";    
  }  
  
  


  
if ($rss_karrier OR $rss_karrier=='yes')  $rss_karrier='yes';
else $rss_karrier='no';
if ($rss_hr_napipercek OR $rss_hr_napipercek=='yes')  $rss_hr_napipercek='yes';
else $rss_hr_napipercek='no';
if ($rss_hr_napionline OR $rss_hr_napionline=='yes')  $rss_hr_napionline='yes';
else $rss_hr_napionline='no';
  
  
  
 $sql="UPDATE
        articles
       SET
        category_id='$category_id',
        teaser='$teaser',
        lead='$lead',
        body='$body',
        date_last_modified=NOW(),
		date_publish='".$pdate."',";
 
 if ($small_pic_action!='no_action')
  $sql.="small_pic='".$small_pic['name']."',
        small_pic_align='$small_pic_align',";
 if ($large_pic_action!='no_action')
  $sql.="large_pic='".$large_pic['name']."',
        large_pic_align='$large_pic_align',";
 if ($frame_pic_action!='no_action')
  $sql.="frame_pic='".$frame_pic['name']."',";		
 if ($main_pic_action!='no_action')
  $sql.="main_pic='".$main_pic['name']."',";		  
 
 $sql.="contentwriter_login='$contentwriter_login',
 
        priority='$priority',
        nl2br='$nl2br',
        is_hrparticle='$is_hrparticle',
        is_visited='$is_visited',
        source='$source',
		journalist_id='$journalist_id',
		expert_id='$expert_id',
		sponsor_id='$sponsor_id',
		expert_cat_id='$expert_cat_id',
		blog_name='$blog_name',
        picalttag='$picalttag',
		rss_karrier='$rss_karrier',
		rss_hr_napipercek='$rss_hr_napipercek',
		rss_hr_napionline='$rss_hr_napionline',
		s_teaser='$s_teaser',
		s_lead='$s_lead',
		m_lead='$m_lead',
		spot1='$spot1',
		spot2='$spot2',
		spot3='$spot3',
		frame_text='$frame_text'
       WHERE id='$id'";  

/*
 *        keyword1='$keyword1',
        keyword2='$keyword2',
        keyword3='$keyword3',
        keyword4='$keyword4',
        keyword5='$keyword5',
 */ 
 
//if(date("H",time())>18 || date("H",time())<8){
	mysql_query("insert into user_activity (user_id,rdate,category,category_id,megjegyzes,ip) 
		values ('".$_SESSION['planet']['uid']."',NOW(),'article','".$category_id."','article edit -  ".$id."','".$_SERVER['REMOTE_ADDR']."')");
//}
 
 
 mysql_query($sql) or die(mysql_error());
	mysql_query("insert into articles_backup (art_id,content,rdate) values('".$id."','".addslashes($sql)."',NOW())");
 
 if ($_POST['edt_editorial']=='no')
  {
   mysql_query("DELETE FROM articles_editorial_q WHERE article_id='$id'") or die(mysql_error());
  }
   elseif ($_POST['edt_editorial']=='yes')
  {
   $start=$e_year."-".$e_month."-".$e_day." ".$e_hour.":00:00";
   mysql_query("DELETE FROM articles_editorial_q WHERE article_id='$id'") or die(mysql_error());   
   mysql_query("INSERT INTO articles_editorial_q (article_id,start) VALUES ('$id','$start')") or die(mysql_error());
  }
  
 if ($edt_editorial_i=='no')
  {
   mysql_query("DELETE FROM articles_editorial_q_index WHERE article_id='$id'") or die(mysql_error());
  }
   elseif ($edt_editorial_i=='yes')
  {
   $start_i=$e_year_i."-".$e_month_i."-".$e_day_i." ".$e_hour_i.":00:00";
   mysql_query("DELETE FROM articles_editorial_q_index WHERE article_id='$id'") or die(mysql_error());   
   mysql_query("INSERT INTO articles_editorial_q_index (article_id,start) VALUES ('$id','$start_i')") or die(mysql_error());
  }  
 
 
	$at=db_row("select *  from articles  where id='".$id."'  ");
	$aha=safe_filename(strtolower(trim(strip_tags($at['teaser']))));
	$mlink=sqlize_no($aha)."-".str_replace("-","",substr($at['date_added'],0,10)).".html";
	echo $mlink;
	
	if($category_id==1 || $category_id==13 || $category_id==7 || $category_id==55 || $category_id==110){
		$type="news";	
		$mlink="/c/".$mlink;
	}
	else{
		$type="article";
		$mlink="/hr/".$mlink;
	}
	
	
	if($at['id']!=0){
		$check=db_one("select id from links where link='".$mlink."'");
		if($check==""){
			
			db_execute("update links set def=0,redirect='".$mlink."' where art_id='".$at['id']."' and (type='news' || type='article' )");
			db_execute("insert into links (art_id,category_id,jurnalist_id,publish_date,type,link,title,keywords,og_title,
			description,og_description,def,aproved,status) 
			values ('".$at['id']."','".$at['category_id']."','".$at['journalist_id']."','".$at['date_publish']."','".$type."',
			'".$mlink."','".$at['teaser']."','','".$at['teaser']."','".$at['lead']."','".$at['lead']."','1','1','1')");	
		}
		else{
			db_execute("update links set def=0 where art_id='".$at['id']."' where link!='".$mlink."'");
			db_execute("update links set type='".$type."',category_id='".$at['category_id']."',jurnalist_id='".$at['journalist_id']."',publish_date='".$at['date_publish']."',title='".$at['teaser']."',og_title='".$at['teaser']."',	description='".$at['lead']."',og_description='".$at['lead']."' where art_id='".$at['id']."'");
		}
  }
  
  //[page



$pos = strpos($body, '[page');
if ($pos === false) {$checkpage=1;}
else{$checkpage=0;}


 //Mindenképpen generálunk statikusat
 if($category_id!='4' && $checkpage!='0'){
		writestatic($id);
	}
 
 ///
 

   
 mysql_close($db);
 
?>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
    <title>HRP</title>
    <link rel="STYLESHEET" type="text/css" href="style.css">
</head>
<body topmargin='0' leftmargin='0' marginheight='0' marginwidth='0' text='#000000' link='#000000' vlink='#000000' alink='#000000'>
A cikk sikeresen módosult. <a href='index.phtml?limit=<?=$limit?>&order=<?=$order?>&orderby=<?=$orderby?>&show=<?=$show?>&search_string=<?=$search_string?>&search_what=<?=$search_what?>&filter_c_id=<?=$filter_c_id?>&filter_cw_login=<?=$filter_cw_login?>' class='td'>Kattintson ide a továbblépéshez!</a>
</body>
</html>
