<?php
 session_start();

 //require_once("include/config.inc.php");
 	define("DB_SERVER","localhost");
  define("DB_USER","hrportal");
  define("DB_PASSWORD","qawUcAd8");
  define("DB_NAME","hrportal_new");
  define("SITE_URL","http://www.hrportal.hu");
  define("CONTENT_UPLOAD_DIR","/home/www-data/new.hrportal.hu/images/uploaded/");
  define("CONTENT_ALERT_MAIL_TO","info@hrportal.hu");
	
 require_once("include/library2.inc.php");
 include("functions.php");
 ?>
 <script type="text/javascript"  src="js/ajax.js">;</script>
 <script type="text/javascript" language="JavaScript"  src="js/plajax.js">;</script>
 <?
 $db=mysql_connect(DB_SERVER,DB_USER,DB_PASSWORD) or die(mysql_error());
 mysql_select_db(DB_NAME,$db) or die(mysql_error());
  $result = mysql_query("SET NAMES utf8");

 $id=$_GET['id'];
 $limit=$_GET['limit'];
 $orderby=$_GET['orderby'];    
 $order=$_GET['order'];;    
 $show=$_GET['show']; 
    
 $search_string=$_GET['search_string'];
 $search_what=$_GET['search_what'];
 $filter_c_id=$_GET['filter_c_id'];
 $filter_cw_login=$_GET['filter_cw_login']; 

 $article=db_row("SELECT
                              a.id AS a_id,
                              a.teaser AS a_teaser,
                              a.lead AS a_lead,
                              a.body AS a_body,
                              a.small_pic AS a_small_pic,
                              a.small_pic_align AS a_small_pic_align,
                              a.large_pic AS a_large_pic,
                              a.large_pic_align AS a_large_pic_align,
                              a.date_added AS a_date_added,
                              a.date_last_modified AS a_date_last_modified,
							  a.date_publish AS a_date_publish,
							  a.blog_name AS a_blog_name,
                              a.priority AS a_priority,
                              a.click_counter AS a_click_counter,
                              a.is_editorial AS a_is_editorial,
                              a.is_approved AS a_is_approved,
                              a.nl2br AS a_nl2br,
                              a.is_hrparticle AS a_is_hrparticle,
                              a.is_visited AS a_is_visited,
                              a.source AS a_source,
							  a.journalist_id AS a_journalist_id,
							  a.expert_id AS a_expert_id,
							  a.sponsor_id AS a_sponsor_id,
							  a.expert_cat_id AS a_expert_cat_id,
                              a.keyword1 AS a_keyword1,
                              a.keyword2 AS a_keyword2,
                              a.keyword3 AS a_keyword3,
                              a.keyword4 AS a_keyword4,
                              a.keyword5 AS a_keyword5,
                              a.picalttag AS a_picalttag,
							  a.rss_karrier AS a_rss_karrier,
							  a.rss_hr_napipercek AS a_rss_hr_napipercek,
							  a.rss_hr_napionline AS a_rss_hr_napionline,
							  a.s_teaser AS a_s_teaser,
							  a.s_lead AS a_s_lead,
							  a.m_lead AS a_m_lead,
							  a.spot1 AS a_spot1,
							  a.spot2 AS a_spot2,
							  a.spot3 AS a_spot3,							  							  
							  a.frame_pic AS a_frame_pic,	
							  a.frame_text AS a_frame_text,					
							  a.main_pic AS a_main_pic,								  		  							  							  
                              c.name AS c_name,
                              c.id AS c_id,
                              l.link as link,
                              cw.shown_name AS cw_shown_name,
                              cw.login AS cw_login
                             FROM
                              (articles a LEFT JOIN categories c ON a.category_id=c.id)
                             LEFT JOIN
                              contentwriters cw ON a.contentwriter_login=cw.login
                             LEFT JOIN
                              links l ON a.id=l.art_id
                             WHERE
                              a.id='$id'
                              and
                              l.def=1
                              ");
                             
 if ($article=="") die("Hiba: a megadott cikk nem található");
 ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
<?
 header("Content-Type: text/html; charset=utf-8");
 setlocale(LC_CTYPE, 'hu_HU');

?>
    <title>HRP Admin</title>
    <link rel="STYLESHEET" type="text/css" href="style.css">
 	<script type="text/javascript" language="JavaScript" src="js/do.js"></script>
 			<link type="text/css" href="css/redmond/jquery-ui-1.8.20.custom.css" rel="stylesheet" />
		<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.20.custom.min.js"></script>
    
<script type="text/javascript" >


var FormNumber          = 0;
var LastFocus           = "";
var LastDirection       = 1;
var InsertionCounter    = 0;
var MaxInsertionCounter = 0;
var InsertionHistory    = new Array();
var FocusHistory        = new Array();
var InitialState        = new Array();

function Undo() {
  if ( LastFocus != "" ) {
    if ( LastDirection == 1 ) SavePreviousTextInput();
    LastDirection = -1;
    if ( InsertionCounter > 0 ) {
      InsertionCounter = InsertionCounter - 2;
      
document.forms[FormNumber].elements[FocusHistory[InsertionCounter]].value

= InsertionHistory[InsertionCounter];
    }
  }
}
function Redo() {
  LastDirection = 1;
  if ( InsertionCounter < MaxInsertionCounter ) {
    InsertionCounter = InsertionCounter + 2;
    
document.forms[FormNumber].elements[FocusHistory[InsertionCounter-1]].value

= InsertionHistory[InsertionCounter-1];
  }
}
function SavePreviousTextInput() {
    lastSavedFocusIndex = -1;
    for ( I = 0; I < InsertionCounter; I++ ) {
    if ( FocusHistory[I] == LastFocus ) lastSavedFocusIndex = I;
    }
    if ( lastSavedFocusIndex == -1 ) {
    previousState = InitialState[LastFocus];
    } else {
    previousState = InsertionHistory[lastSavedFocusIndex];
    }
    if ( previousState != 
document.forms[FormNumber].elements[LastFocus].value ) {
    InsertionHistory[InsertionCounter] = previousState;
    FocusHistory[InsertionCounter] = LastFocus;
    InsertionCounter = InsertionCounter + 1;
    InsertionHistory[InsertionCounter] = 
document.forms[FormNumber].elements[LastFocus].value;
    FocusHistory[InsertionCounter] = LastFocus;
    InsertionCounter = InsertionCounter + 1;
    MaxInsertionCounter = InsertionCounter;
    }
}

function GetLastEntry(ObjectName) {
    if ( !InitialState[ObjectName] ) {
    // this field has never been focused before, save initial state
    InitialState[ObjectName] = 
document.forms[FormNumber].elements[ObjectName].value;
    }
    if ( LastFocus != "" ) SavePreviousTextInput();
    LastFocus = ObjectName;
}

function InsertHtml(TagNum) {
  //var selected = document.activeElement;
	textAreaId= 'edt_body';
	//textAreaId= document.activeElement.id;
		switch ( TagNum ) {
    case "1" :
      HtmTag1 = "<strong>";
      HtmTag2 = "</strong>";
      break;
    case "2" :
      HtmTag1 = "<i>";
      HtmTag2 = "</i>";
      break;
    case "3" :
      HtmTag1 = "<p>";
      HtmTag2 = "";
      break;
    case "4" :
      HtmTag1 = "<ul class=\"list-disc\">\n<li>";
      HtmTag2 = "</li>\n</ul>";
      break;
    case "5" :
      HtmTag1 = "";
      HtmTag2 = "<br>";
      break;
    case "6" :
      HtmTag1 = "<div align='center'>";
      HtmTag2 = "</div>";
      break;
    case "7" :
      HtmTag1 = "<div align='justify'>";
      HtmTag2 = "</div>";
      break;
    case "8" :
      HtmTag1 = "<div align='right'>";
      HtmTag2 = "</div>";
      break;
    case "9" :
      HtmTag1 = "<a target=\"_blank\" class=\"td\" href=\"http://";
      HtmTag2 = "</a>";
      break;
    case "10" :
      HtmTag1 = "<a style=\"font-weight:bold\" href=\"mailto:";
      HtmTag2 = "</a>";
      break;
    case "14" :
      HtmTag1 = "[img1]";
      HtmTag2 = "";
      break;      
    default :
      HtmTag = "";
    }
    
   

		var browser=navigator.appName
        var b_version=navigator.appVersion

		if (browser=="Microsoft Internet Explorer" && b_version>='4')
        {
            var str = document.selection.createRange().text;
            document.getElementById(textAreaId).focus();
            var sel = document.selection.createRange();
            if (TagNum == 9) {
				sel.text = HtmTag1 + str +' ">'+ str + HtmTag2;	
			}
			else if(TagNum == 10) {
				sel.text = HtmTag1 + str +' ">'+ str + HtmTag2;	
			}
			else if(TagNum == 4) {
				SelText = range.text;
				var Ergebnis = SelText.match(/\n/);
				if ( Ergebnis != null ) {
				  var NewSelText = SelText.replace(/\n/g,"\n<li>");
				  HtmTag1 = "<ul class=\"list-disc\">\n<li>";
				  HtmTag2 = "\n</ul>\n";
				  SelText = HtmTag1 + NewSelText + HtmTag2;
				}
			}
			else{
				sel.text = HtmTag1 + str + HtmTag2;	
			}
            
            return;
        }

        field = document.getElementById(textAreaId);
        startPos = field.selectionStart;
        endPos = field.selectionEnd;
        before = field.value.substr(0, startPos);
        selected = field.value.substr(field.selectionStart, (field.selectionEnd - field.selectionStart));
        after = field.value.substr(field.selectionEnd, (field.value.length - field.selectionEnd));
        if (TagNum == 9) {
			field.value = before + HtmTag1 + selected +'" >'+ selected + HtmTag2 + after;
		}
        else if (TagNum == 10) {
			field.value = before + HtmTag1 + selected +'" >'+ selected + HtmTag2 + after;
		}
        else if (TagNum == 4) {
			//field.value = before + HtmTag1 + selected +'" >'+ selected + HtmTag2 + after;
			var Ergebnis = selected.match(/\n/);
				if ( Ergebnis != null ) {
				  var NewSelText = selected.replace(/\n/g,"\n<li>");
				  HtmTag1 = "<ul class=\"list-disc\">\n<li>";
				  HtmTag2 = "\n</ul>\n";
				  SelText = HtmTag1 + NewSelText + HtmTag2;
				  field.value = before + SelText + after;
				}
		}
		else{
			field.value = before + HtmTag1 + selected + HtmTag2 + after;
		}
    

  
}
function addtag(id){
	$.ajax({
		type:'POST',
		url: 'ajax_addtag.php',
		data:'id='+id+'&tagname='+$('#newkeyword').val(),
		success: function(data){
			$('#newkeyword').val('');
			showtags(id);
			showrelatedarticles(id);
		}
	});
}
function deltag(id,tagid){
	$.ajax({
		type:'POST',
		url: 'ajax_deltag.php',
		data:'id='+tagid,
		success: function(data){
			showtags(id);
			showrelatedarticles(id);
		}
	});
}
function showtags(id){
	$.ajax({
		type:'POST',
		url: 'ajax_showtags.php',
		data:'id='+id,
		success: function(data){
			$('#keywordplace').html(data);
			
		}
	});
}
function showrelatedarticles(id){
	$.ajax({
		type:'POST',
		url: 'ajax_showrelatedarticles.php',
		data:'id='+id,
		success: function(data){
			$('#keyarticle').html(data);
		}
	});
}
function saverelated(related,id){
	$.ajax({
		type:'POST',
		url: 'ajax_saverelated.php',
		data:'id='+id+'&related_id='+related,
		success: function(data){
			showrelatedarticles(id);
			//$('#keyarticle').html(data);
			//$('#keyarticle').html(data);
		}
	});
}

var spot;
function addspot(spot,id){
	$('#'+spot).val(id);
}
$(function() {
	$("#newkeyword").autocomplete({source: 'ajax_newkeyword.php',minLength: 2,select: function(event, ui) {}});
	showtags(<?=$id;?>);
	showrelatedarticles(<?=$id;?>);
});



</script>   
</head>
<body topmargin='0' leftmargin='0' marginheight='0' marginwidth='0' text='#000000' link='#000000' vlink='#000000' alink='#000000'>
<?

	eregi("^([0-9]{4})-([0-9]{2})-([0-9]{2})$",$article['a_date_added'],$da);
	$currentdate = mktime(0,0,0,$da[2], $da[3], $da[1]);
	$stdate=mktime(0,0,0,23, 11, 2009);
	if($stdate>$currentdate){
		?>
<script language='Javascript'>
var szamolka="0";
 function submit_frm_input()
  {
   var f=document.forms.frm_input;

   if (confirm("Valóban módosítja a cikket?"))  
    if ( f.edt_teaser.value!='' && f.edt_lead.value!='' && f.edt_body.value!='' )
     {
		
			f.submit();
		
      
     }
      else
     {
      alert("Nincs kitöltve minden kötelező mező!");
     }
   
  }
</script>		
		<?
	}
	else{
?>
<script language='Javascript'>
var szamolka="1";
 function submit_frm_input()
  {
   var f=document.forms.frm_input;

   if (confirm("Valóban módosítja a cikket?"))  
    if ( f.edt_teaser.value!='' && f.edt_lead.value!='' && f.edt_body.value!='' && f.edt_category_id.value!='0' )
     {
		var el=szamol('edt_lead','320');
		var et=szamol('edt_s_teaser','45');
		var ml=szamol('edt_m_lead','380');
		var sl=szamol('edt_s_lead','110');
		if(((el==1) && (et==1) && (ml==1) && (sl==1)) || document.getElementById('edt_category_id').value==4 || document.getElementById('edt_category_id').value==59){
			f.submit();
		}
      
     }
      else
     {
      alert("Nincs kitöltve minden kötelező mező!");
     }
   
  }
</script>
<?
}
?>
<table width='100%' cellpadding='0' cellspacing='0' border='0'>
 <tr>
  <td align='left' width='100%' background='images/pixel.gif' bgcolor='#004989'><img src='images/title_edit.gif' border='0'><br>
  <a href="http://www.hrportal.hu<?=$article['link'];?>" target="_blank">Előnézet</a></td>
 </tr>
</table>

<table>
 <tr>
  <td>
  
<form name='frm_input' action='do_edit.phtml' method='post' enctype="multipart/form-data" >
<input type='hidden' name='edt_id' value='<?=$id?>'>
<input type='hidden' name='limit' value='<?=$limit?>'>
<input type='hidden' name='order' value='<?=$order?>'>
<input type='hidden' name='orderby' value='<?=$orderby?>'>
<input type='hidden' name='show' value='<?=$show?>'>

<input type='hidden' name='search_string' value='<?=$search_string?>'>
<input type='hidden' name='search_what' value='<?=$search_what?>'>
<input type='hidden' name='filter_c_id' value='<?=$filter_c_id?>'>
<input type='hidden' name='filter_cw_login' value='<?=$filter_cw_login?>'>

<table cellpadding='5 cellspacing='5' border='0'>
 <tr>
  <td align='right' width='200' bgcolor='#ace6ac'><b>Cím:</b><li>Minden cikken belül, <li>a címlapon és az aloldalakon pöttyözésnél, <li>az aloldalakon a további cikkek listázásánál, <li>valamint a címlapon a Munkaügyi hírek boxnál jelenik meg.</td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#ace6ac'><textarea name='edt_teaser' id='edt_teaser' style='width: 450px;height:40px;' ><?=$article['a_teaser']?></textarea> <input type='button' onClick='add_url();' value='Linket vinnék be'></td>
 </tr>
 <tr>
  <td align='right' width='200' valign='top' bgcolor='#ace6ac'><b>Lead:</b><br> A cikkoldalakon, megjelenő lead (6 sor, kb. 320 karakter)<div id="edt_lead_szam">Hátralev&#x0151; karaktersz&aacute;m: <b>320</b></div></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#ace6ac'><textarea name='edt_lead' id='edt_lead' style='width: 365px; height: 80px;' onfocus="GetLastEntry('edt_lead');"><?=$article['a_lead']?></textarea></td>
 </tr> 
 <tr>
  <td align='right' width='200' valign='top' bgcolor='#ace6ac'><b>Cikktörzs:</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#ace6ac'><textarea name='edt_body' id='edt_body' style='width: 400px; height: 200px;' onfocus="GetLastEntry('edt_body');"><?=$article['a_body']?></textarea>
  <?
  	echo"<img src=\"format/jarea_images/image.gif\" width=\"25\" height=\"24\" alt=\"K&eacute;p hozz&aacute;d&aacute;sa\" title=\"K&eacute;p hozz&aacute;d&aacute;sa\" onmousedown=\"ReqPic('edt_body','frm_input')\">";
	echo"<img src=\"format/jarea_images/copy.gif\" width=\"25\" height=\"24\" alt=\"&Uacute;j oldal hozz&aacute;d&aacute;sa\" title=\"&Uacute;j oldal hozz&aacute;d&aacute;sa\" onmousedown=\"addplanepage('edt_body','frm_input')\">";
	echo"<img src=\"format/jarea_images/insert_bbbox.gif\" width=\"25\" height=\"24\" alt=\"Keretes doboz hozz&aacute;ad&aacute;sa\" title=\"Keretes doboz hozz&aacute;ad&aacute;sa\" onmousedown=\"addplanbox('edt_body','frm_input')\">";
	echo"<img src=\"format/jarea_images/hyperlink.gif\" width=\"25\" height=\"24\" alt=\"Link hozz&aacute;ad&aacute;sa\" title=\"Link hozz&aacute;ad&aacute;sa\" onmousedown=\"InsertLink('edt_body','frm_input');\">";	
?>
  </td>
 </tr>  
 <tr>
  <td align='right' width='200' bgcolor='#ace6ac'><b>Kategória:</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#ace6ac'>
   <select name='edt_category_id' id='edt_category_id'>
    <?php
       $res_categories=mysql_query("SELECT
                                     c.id AS c_id,
                                     c.name AS c_name
                                    FROM
                                     categories c where c.status =1
                                    ORDER BY
                                     c_name") or die(mysql_error());

     while ($categories=mysql_fetch_array($res_categories))
      {
       echo "<option value='".$categories['c_id']."'";
       if ($categories['c_id']==$article['c_id']) echo " selected";
       echo ">".$categories['c_name']."</option>";
      }
    ?>
   </select>
  </td>
 </tr> 
 <tr>
  <td align='right' width='200' bgcolor='#eeeeee'><b>Kis kép (ajánlott: 57*58px):</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#eeeeee'>
   <select name='edt_small_pic_action'>
    <option value='no_action'>nincs változás</option>
    <option value='del'>töröl</option>
    <option value='new'>újat visz fel</option>
   </select>
   <input type='hidden' name='edt_small_pic_filename' value='<?=$article['a_small_pic']?>'>   
   <input type='file' name='edt_small_pic' value='<?=$article['a_small_pic']?>'>&nbsp;&nbsp;elhelyezkedés:&nbsp;
   <select name='edt_small_pic_align'>
    <option value='left' <?=($article['a_small_pic_align']=="left"?"selected":"")?>>bal</option>
    <option value='right' <?=($article['a_small_pic_align']=="right"?"selected":"")?>>jobb</option>
   </select>
   <?=$article['a_small_pic'];?>
  </td>
 </tr>  
 <tr>
  <td align='right' width='200' bgcolor='#eeeeee'><b>Nagy kép (ajánlott: 140*93px, új designba: 150x100px):</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#eeeeee'>
   <select name='edt_large_pic_action'>
    <option value='no_action'>nincs változás</option>
    <option value='del'>töröl</option>
    <option value='new'>újat visz fel</option>
   </select>  
   <input type='hidden' name='edt_large_pic_filename' value='<?=$article['a_large_pic']?>'>
   <input type='file' name='edt_large_pic'>&nbsp;&nbsp;elhelyezkedés:&nbsp;
   <select name='edt_large_pic_align'>
    <option value='left' <?=($article['a_large_pic_align']=="left"?"selected":"")?>>bal</option>
    <option value='right' <?=($article['a_large_pic_align']=="right"?"selected":"")?>>jobb</option>
   </select>
   <?=$article['a_large_pic'];?>
  </td>
 </tr>  
 <script language="Javascript">

   
  function add_url()
   {
    var f=document.forms.frm_input;
    
    var url="";
    url=prompt("URL: (http:// kell az elejére!)","http://");    
    var txt="";
    txt=prompt("A link szövege (erre kell majd kattintani)","");    
    
    var target="";
    if (confirm("Új ablakban nyíljon meg?"))
     target="_blank";          
    
    if (url!=null && url!="" && txt!=null && txt!="")
     {
      f.edt_teaser.value="<a target=\""+target+"\" class=\"td\" href=\""+url+"\">"+txt+"</a>";
     }
      else
     {
      alert("Valamelyik érték üres maradt!");
     }
   }
   
  function add_s_teaser_url()
   {
    var f=document.forms.frm_input;
    
    var url="";
    url=prompt("URL: (http:// kell az elejére!)","http://");    
    var txt="";
    txt=prompt("A link szövege (erre kell majd kattintani)","");    
    
    var target="";
    if (confirm("Új ablakban nyíljon meg?"))
     target="_blank";          
    
    if (url!=null && url!="" && txt!=null && txt!="")
     {
      f.edt_s_teaser.value="<a target=\""+target+"\" class=\"td\" href=\""+url+"\">"+txt+"</a>";
     }
      else
     {
      alert("Valamelyik érték üres maradt!");
     }
   }   
      
 </script>
<?php
   echo "<tr>
   	<td colspan='3'>
   		<a href=\"http://www.hrportal.hu".$article['link']."\" target=\"_blank\">Előnézet</a></td></tr>";
   $contentwriters=db_all("SELECT login, shown_name, source FROM contentwriters ORDER BY login") or die(mysql_error());
   //print_r($contentwriters);
   echo " <tr>
           <td align='right' width='200' bgcolor='#ace6ac'><b>Szerző /Médium/</b></td>
           <td width='2'><img src='../../images/pixel.gif'></td>
           <td align='left' bgcolor='#ace6ac'>
           <div id='contw'>
            <select name='edt_contentwriter_login' id='edt_contentwriter_login'  onChange='login_onchange();chjour();'>";
            for($i=0;$i<count($contentwriters);$i++){
				echo "<option value='".$contentwriters[$i]['login']."'";
				if ($contentwriters[$i]['login']==$article['cw_login']) echo " selected";
				echo ">".$contentwriters[$i]['shown_name']."</option>\n";
           	}
   echo "   </select>
   			&nbsp;<a href=\"javascript:newwriter(".$_GET['id'].");\" >Új szerz&#x0151; hozzáadása</a><br />
   			</div>
   			
   			</td>
          </tr>";
?>           
 <tr>
  <td align='right' width='200'><b>Forrás: /Link/</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left'><div id="esource"><input type='text' name='edt_source' style='width: 565px;' id='edt_source' value='<?=$article['a_source']?>' /></div></td>
 </tr>
 <?php
   $journals=db_all("SELECT id,name from jurnalist order by name");
   $pa=array();
   $pa['id']="0";
   $pa['name']="Kérem válasszon";
   $journals[]=$pa;
   if($article['cw_login']=="hrportal"){
	$dp="block";   
	}
	else{
		$dp="none";   
	}

   echo " <tr ><div id=\"jou\" >
           <td align='right' width='200' bgcolor='#ace6ac'><b>Újságíró:</b></td>
           <td width='2'><img src='../../images/pixel.gif'></td>
           <td align='left' bgcolor='#ace6ac'>
           <div id='jour' >
            <select name='edt_journalist_id'>";
            for($i=0;$i<count($journals);$i++){
				echo "<option value='".$journals[$i]['id']."'";
				if ($journals[$i]['id']==$article['a_journalist_id']) echo " selected";
				echo ">".$journals[$i]['name']."</option>\n";
           	}
   echo "   </select>
   			&nbsp;<a href=\"javascript:newwjurnalist(".$_GET['id'].");\" >Új újságíró hozzáadása</a><br />
   			</div>
   			
   			</td>
          </div></tr>";
?>
<script language="Javascript">chjour();</script>
<?
$experts=db_all("SELECT id,teaser from articles where category_id='121' order by teaser");
 echo"<tr>
  <td align='right' width='200' bgcolor='#eeeeee'><b>Szakértő /ha van/:</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#eeeeee'>
   <select name='edt_expert_id'>
    <option value='' selected >Nincs szakértő kiválasztás</option>";
    for($i=0;$i<count($experts);$i++){
		if($article['a_expert_id']==$experts[$i]['id']){
			echo"<option value=\"".$experts[$i]['id']."\" selected>".$experts[$i]['teaser']."</option>";
		}
		else{
			echo"<option value=\"".$experts[$i]['id']."\" >".$experts[$i]['teaser']."</option>";
		}
	}
	//	<option value='karriermenedzsment' >karriermenedzsment</option>
   echo"</select>
   &nbsp;HA kell szakértő, vagy kérdezz - felelek.
  </td>
 </tr> ";
 
 
 
$partners=db_all("SELECT id,name  from partners where status=1 order by name");
 echo"<tr>
  <td align='right' width='200' bgcolor='#eeeeee'><b>Támogatott cikk /ha szükséges/:</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#eeeeee'>
   <select name='edt_sponsor_id'>
    <option value='' selected >Nincs szponsor kiválasztás</option>";
    for($i=0;$i<count($partners);$i++){
		if($article['a_sponsor_id']==$partners[$i]['id']){
			echo"<option value=\"".$partners[$i]['id']."\" selected>".$partners[$i]['name']."</option>";
		}
		else{
			echo"<option value=\"".$partners[$i]['id']."\" >".$partners[$i]['name']."</option>";
		}
	}
	//	<option value='karriermenedzsment' >karriermenedzsment</option>
   echo"</select>
   &nbsp;HA kell cikk szponzor.
  </td>
 </tr> ";

$experts_cat=db_all("SELECT id,wname from categories where name like 'K_%' order by wname");
 echo"<tr>
  <td align='right' width='200' bgcolor='#eeeeee'><b>Szakértői rovat /ha szükséges/:</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#eeeeee'>
   <select name='edt_expert_cat_id'>
    <option value='' selected >Nincs szakértői rovat kiválasztás</option>";
    for($i=0;$i<count($experts_cat);$i++){
		if($article['a_expert_cat_id']==$experts_cat[$i]['id']){
			echo"<option value=\"".$experts_cat[$i]['id']."\" selected>".$experts_cat[$i]['wname']."</option>";
		}
		else{
			echo"<option value=\"".$experts_cat[$i]['id']."\" >".$experts_cat[$i]['wname']."</option>";
		}
	}
	//	<option value='karriermenedzsment' >karriermenedzsment</option>
   echo"</select>
   &nbsp;HA kell szakértői rovat.
  </td>
 </tr> ";
?>


  <tr>
  <td align='right' width='200' bgcolor='#eeeeee'><b>Blog neve:</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#eeeeee'>
   <select name='blog_name'>
    <option value='' <?=($article['a_blog_name']==""?"selected":"")?>>Nem blog</option>
    <option value='M.H.Terror' <?=($article['a_blog_name']=="M.H.Terror"?"selected":"")?>>Munkahelyi Terror</option>
    <option value='Fejvadász' <?=($article['a_blog_name']=="Fejvadász"?"selected":"")?>>Fejvadász</option>
    <option value='M.védelem' <?=($article['a_blog_name']=="M.védelem"?"selected":"")?>>Munkavédelem</option>
    <option value='Karriervadász' <?=($article['a_blog_name']=="Karriervadász"?"selected":"")?>>Karriervadász</option>
    <option value='S.Coaching' <?=($article['a_blog_name']=="S.Coaching"?"selected":"")?>>Smart Coaching</option>
    <option value='Munkaügyi.Blog' <?=($article['a_blog_name']=="Munkaügyi.Blog"?"selected":"")?>>Munkaügyi.Blog</option>
    <option value='JOB(B).állás' <?=($article['a_blog_name']=="JOB(B).állás"?"selected":"")?>>JOB(B).állás</option>
    <option value='Tudatosvezetés' <?=($article['a_blog_name']=="Tudatosvezetés"?"selected":"")?>>Tudatosvezetés</option>
    <option value='Edina.oldala' <?=($article['a_blog_name']=="Edina.oldala"?"selected":"")?>>Edina.oldala</option>
    <option value='Interim.Blog' <?=($article['a_blog_name']=="Interim.Blog"?"selected":"")?>>Interim.Blog</option>
    <option value='JamJam' <?=($article['a_blog_name']=="JamJam"?"selected":"")?>>JamJam</option>
    <option value='Coach.Club' <?=($article['a_blog_name']=="Coach.Club"?"selected":"")?>>Coach.Club</option>
    <option value='Sikerman' <?=($article['a_blog_name']=="Sikerman"?"selected":"")?>>Sikerman</option>
    <option value='Társamunkában' <?=($article['a_blog_name']=="Társamunkában"?"selected":"")?>>Társamunkában</option>
    <option value='Virágmintásretikül' <?=($article['a_blog_name']=="Virágmintásretikül"?"selected":"")?>>Virágmintásretikül</option>
    <option value='Munkajog' <?=($article['a_blog_name']=="Munkajog"?"selected":"")?>>Munkajog</option>
    <option value='CRM' <?=($article['a_blog_name']=="CRM"?"selected":"")?>>CRM</option>
    <option value='Devise' <?=($article['a_blog_name']=="Devise"?"selected":"")?>>Devise</option>
    <option value='DrPrezi' <?=($article['a_blog_name']=="DrPrezi"?"selected":"")?>>DrPrezi</option>
    <option value='Gyermekpszichologus' <?=($article['a_blog_name']=="Gyermekpszichologus"?"selected":"")?>>Gyermekpszichologus</option>
    <option value='Karriertanácsadó' <?=($article['a_blog_name']=="Karriertanácsadó"?"selected":"")?>>Karriertanácsadó</option>
    <option value='Office.Spotting' <?=($article['a_blog_name']=="Office.Spotting"?"selected":"")?>>Office.Spotting</option>
    <option value='Kelko.Tamás' <?=($article['a_blog_name']=="Kelko.Tamás"?"selected":"")?>>Kelko.Tamás</option>
    <option value='Ifjú.Titánok' <?=($article['a_blog_name']=="Ifjú.Titánok"?"selected":"")?>>Ifjú.Titánok</option>
    <option value='Soreo' <?=($article['a_blog_name']=="Soreo"?"selected":"")?>>Soreo</option>
    <option value='Relocation' <?=($article['a_blog_name']=="Relocation"?"selected":"")?>>Relocation</option>
    <option value='krauthammer' <?=($article['a_blog_name']=="krauthammer"?"selected":"")?>>krauthammer</option>
    <option value='ascon' <?=($article['a_blog_name']=="ascon"?"selected":"")?>>ascon</option>
    <option value='y-generáció' <?=($article['a_blog_name']=="y-generáció"?"selected":"")?>>y-generáció</option>
    <option value='asystems' <?=($article['a_blog_name']=="asystems"?"selected":"")?>>Asystems</option>
    <option value='lean-hr' <?=($article['a_blog_name']=="lean-hr"?"selected":"")?>>lean-hr</option>
    <option value='jobangel' <?=($article['a_blog_name']=="jobangel"?"selected":"")?>>jobangel</option>
    <option value='Stratégiakutatás' <?=($article['a_blog_name']=="Stratégiakutatás"?"selected":"")?>>Stratégiakutatás</option>
    <option value='e-learning' <?=($article['a_blog_name']=="e-learning"?"selected":"")?>>E-learning</option>
    <option value='kompetencia' <?=($article['a_blog_name']=="kompetencia"?"selected":"")?>>Kompetencia</option>
    <option value='azujmt' <?=($article['a_blog_name']=="azujmt"?"selected":"")?>>Az új Mt</option>
    <option value='phoenixprogram' <?=($article['a_blog_name']=="phoenixprogram"?"selected":"")?>>Phoenix Program</option>
    <option value='hrdocshop' <?=($article['a_blog_name']=="hrdocshop"?"selected":"")?>>Hrdocshop</option>
    <option value='coachingesmediacio' <?=($article['a_blog_name']=="coachingesmediacio"?"selected":"")?>>Coachingesmediacio</option>
    <option value='munkaerokolcsonzes'  <?=($article['a_blog_name']=="munkaerokolcsonzes"?"selected":"")?>>Munkaerokolcsonzes</option>
    <option value='dolgozomami' <?=($article['a_blog_name']=="dolgozomami"?"selected":"")?> >DolgozóMami</option>
    <option value='wwieland' <?=($article['a_blog_name']=="wwieland"?"selected":"")?> >A vizuális fejlesztés tárháza</option>
    <option value='chn' <?=($article['a_blog_name']=="chn"?"selected":"")?>>CHN</option>
    <option value='adminzona' <?=($article['a_blog_name']=="adminzona"?"selected":"")?>>Adminzona</option>
    <option value='multikarrier' <?=($article['a_blog_name']=="multikarrier"?"selected":"")?>>multikarrier</option>
    <option value='apagyeden' <?=($article['a_blog_name']=="apagyeden"?"selected":"")?>>Apagyeden</option>
    <option value='advocatus' <?=($article['a_blog_name']=="advocatus"?"selected":"")?>>advocatus</option>
    <option value='joallasomlesz' <?=($article['a_blog_name']=="joallasomlesz"?"selected":"")?>>joallasomlesz</option>
    <option value='lorinczorsolya' <?=($article['a_blog_name']=="lorinczorsolya"?"selected":"")?>>lorinczorsolya</option>
	<option value='beckgyuri' <?=($article['a_blog_name']=="beckgyuri"?"selected":"")?>>beckgyuri</option>
	<option value='psycruitment' <?=($article['a_blog_name']=="psycruitment"?"selected":"")?>>psycruitment</option>
	<option value='bencocoaching' <?=($article['a_blog_name']=="bencocoaching"?"selected":"")?>>bencocoaching</option>
	<option value='comline' <?=($article['a_blog_name']=="comline"?"selected":"")?>>comline</option>
	<option value='menekuljelore' <?=($article['a_blog_name']=="menekuljelore"?"selected":"")?>>menekuljelore</option>
	<option value='szervezetikreativitas' <?=($article['a_blog_name']=="szervezetikreativitas"?"selected":"")?>>szervezetikreativitas</option>
	<option value='multiculti' <?=($article['a_blog_name']=="multiculti"?"selected":"")?>>multiculti</option>
	<option value='vezetoimestermuhely' <?=($article['a_blog_name']=="vezetoimestermuhely"?"selected":"")?>>vezetoimestermuhely</option>
	<option value='carriercafe' <?=($article['a_blog_name']=="carriercafe"?"selected":"")?>>carriercafe</option>
	<option value='acoaching' <?=($article['a_blog_name']=="acoaching"?"selected":"")?>>acoaching</option>
	<option value='lelkieroforrasgazdalkodas' <?=($article['a_blog_name']=="lelkieroforrasgazdalkodas"?"selected":"")?>>SzervezetiLEG</option>
	<option value='ruzsadora' <?=($article['a_blog_name']=="ruzsadora"?"selected":"")?>>RuzsaDóra</option>
	<option value='youaremore' <?=($article['a_blog_name']=="youaremore"?"selected":"")?>>YouAreMore</option>
	<option value='elmenyalaputanulas' <?=($article['a_blog_name']=="elmenyalaputanulas"?"selected":"")?>>Élmény alapú Tanulás</option>
	<option value='adamsblog' <?=($article['a_blog_name']=="adamsblog"?"selected":"")?>>Adam blogja</option>
	<option value='konfliktologia' <?=($article['a_blog_name']=="konfliktologia"?"selected":"")?>>Konfliktológia</option>
	<option value='shapehr' <?=($article['a_blog_name']=="shapehr"?"selected":"")?>>shapehr</option>
	<option value='munkavallalovagyok' <?=($article['a_blog_name']=="munkavallalovagyok"?"selected":"")?>>munkavallalovagyok</option>
	<option value='munkahelyiwellness' <?=($article['a_blog_name']=="munkahelyiwellness"?"selected":"")?>>munkahelyiwellness</option>
	<option value='menedzsmentor' <?=($article['a_blog_name']=="menedzsmentor"?"selected":"")?>>menedzsmentor</option>
	<option value='megvaltozottmunkakepesseg' <?=($article['a_blog_name']=="megvaltozottmunkakepesseg"?"selected":"")?>>megvaltozottmunkakepesseg</option>
	<option value='payrollexpert' <?=($article['a_blog_name']=="payrollexpert"?"selected":"")?>>payrollexpert</option>
	<option value='onlinehr' <?=($article['a_blog_name']=="onlinehr"?"selected":"")?>>onlinehr</option>
	<option value='megoldasmost' <?=($article['a_blog_name']=="megoldasmost"?"selected":"")?>>megoldasmost</option>
	<option value='adozasrolerthetoen' <?=($article['a_blog_name']=="adozasrolerthetoen"?"selected":"")?>>adozasrolerthetoen</option>
	<option value='hrvilag' <?=($article['a_blog_name']=="hrvilag"?"selected":"")?>>hrvilag</option>
	<option value='humanfaktor' <?=($article['a_blog_name']=="humanfaktor"?"selected":"")?>>humanfaktor</option>
	<option value='diakmunka' <?=($article['a_blog_name']=="diakmunka"?"selected":"")?>>diakmunka</option>
	<option value='tavmunka' <?=($article['a_blog_name']=="tavmunka"?"selected":"")?>>tavmunka</option>
	<option value='karriermenedzsment' <?=($article['a_blog_name']=="karriermenedzsment"?"selected":"")?>>karriermenedzsment</option>
	<option value='kulfoldimunkavallalas' <?=($article['a_blog_name']=="kulfoldimunkavallalas"?"selected":"")?>>kulfoldimunkavallalas</option>
	<option value='vistaverde' <?=($article['a_blog_name']=="vistaverde"?"selected":"")?>>vistaverde</option>
	<option value='halozatkutatas' <?=($article['a_blog_name']=="halozatkutatas"?"selected":"")?>>halozatkutatas</option>
	<option value='kozvetlen-allasok' <?=($article['a_blog_name']=="kozvetlen-allasok"?"selected":"")?>>kozvetlen-allasok</option>
	<option value='humanmap' <?=($article['a_blog_name']=="humanmap"?"selected":"")?>>humanmap</option>
	<option value='emberbolalegjobbat' <?=($article['a_blog_name']=="emberbolalegjobbat"?"selected":"")?>>emberbolalegjobbat</option>
	<option value='travelessabbaticalcoaching' <?=($article['a_blog_name']=="travelessabbaticalcoaching"?"selected":"")?>>travelessabbaticalcoaching</option>
	<option value='jolfokuszaltfejlesztes' <?=($article['a_blog_name']=="jolfokuszaltfejlesztes"?"selected":"")?>>jolfokuszaltfejlesztes</option>
	<option value='munkahelyiegeszseg' <?=($article['a_blog_name']=="munkahelyiegeszseg"?"selected":"")?>>munkahelyiegeszseg</option>
	<option value='derrickesharry' <?=($article['a_blog_name']=="derrickesharry"?"selected":"")?>>derrickesharry</option>
	<option value='fogaskerek' <?=($article['a_blog_name']=="fogaskerek"?"selected":"")?>>fogaskerek</option>
	<option value='allasvadasz' <?=($article['a_blog_name']=="allasvadasz"?"selected":"")?>>allasvadasz</option>
	<option value='labor' <?=($article['a_blog_name']=="labor"?"selected":"")?>>labor</option>
	<option value='hlcoaching' <?=($article['a_blog_name']=="hlcoaching"?"selected":"")?>>hlcoaching</option>
	<option value='farkasdezso' <?=($article['a_blog_name']=="farkasdezso"?"selected":"")?>>farkasdezso</option>
	<option value='profitargyalo' <?=($article['a_blog_name']=="profitargyalo"?"selected":"")?>>profitargyalo</option>
	<option value='alommunkaprojekt' <?=($article['a_blog_name']=="alommunkaprojekt"?"selected":"")?>>alommunkaprojekt</option>
	<option value='coaching' <?=($article['a_blog_name']=="coaching"?"selected":"")?>>coaching</option>
	<option value='jogisztorik' <?=($article['a_blog_name']=="jogisztorik"?"selected":"")?>>jogisztorik</option>
	<option value='eletszervezo' <?=($article['a_blog_name']=="eletszervezo"?"selected":"")?>>eletszervezo</option>
	<option value='personalhungary' <?=($article['a_blog_name']=="personalhungary"?"selected":"")?>>personalhungary</option>
	<option value='noivezetok' <?=($article['a_blog_name']=="noivezetok"?"selected":"")?>>noivezetok</option>
	<option value='bangaadrienne' <?=($article['a_blog_name']=="bangaadrienne"?"selected":"")?>>bangaadrienne</option>
	<option value='morningcoachingbudapest' <?=($article['a_blog_name']=="morningcoachingbudapest"?"selected":"")?>>morningcoachingbudapest</option>
	<option value='humancafe' <?=($article['a_blog_name']=="humancafe"?"selected":"")?>>humancafe</option>
	<option value='shl' <?=($article['a_blog_name']=="shl"?"selected":"")?>>shl</option>
	<option value='coachleszek' <?=($article['a_blog_name']=="coachleszek"?"selected":"")?>>coachleszek</option>
	<option value='stresszm' <?=($article['a_blog_name']=="stresszm"?"selected":"")?>>stresszm</option>
	<option value='leadpartners' <?=($article['a_blog_name']=="leadpartners"?"selected":"")?>>leadpartners</option>
	<option value='horecakepzesek' <?=($article['a_blog_name']=="horecakepzesek"?"selected":"")?>>horecakepzesek</option>
	<option value='odkutato' <?=($article['a_blog_name']=="odkutato"?"selected":"")?>>odkutato</option>
	<option value='elintezzuk' <?=($article['a_blog_name']=="elintezzuk"?"selected":"")?>>elintezzuk</option>
	<option value='jobevolution' <?=($article['a_blog_name']=="jobevolution"?"selected":"")?>>jobevolution</option>
	<option value='humanpriority' <?=($article['a_blog_name']=="humanpriority"?"selected":"")?>>humanpriority</option>
	<option value='fejlodom' <?=($article['a_blog_name']=="fejlodom"?"selected":"")?>>fejlodom</option>
	<option value='gyermek-es-csaladpszichologia' <?=($article['a_blog_name']=="gyermek-es-csaladpszichologia"?"selected":"")?>>gyermek-es-csaladpszichologia</option>
	<option value='hrspecialista' <?=($article['a_blog_name']=="hrspecialista"?"selected":"")?>>hrspecialista</option>
	<option value='y2y' <?=($article['a_blog_name']=="y2y"?"selected":"")?>>y2y</option>
	<option value='cvmuhely' <?=($article['a_blog_name']=="cvmuhely"?"selected":"")?>>cvmuhely</option>
	<option value='human-aspect' <?=($article['a_blog_name']=="human-aspect"?"selected":"")?>>human-aspect</option>
	<option value='hrdoktor' <?=($article['a_blog_name']=="hrdoktor"?"selected":"")?>>hrdoktor</option>
   </select>
   &nbsp;HA blog oldalról van szó akkor válassza ki az adott blogot.
  </td>
 </tr>  
          
 <tr>
  <td align='right' width='200' bgcolor='#eeeeee'><b>Prioritás:</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#eeeeee'>
   <select name='edt_priority'>
    <option value='0' <?=($article['a_priority']=="0"?"selected":"")?>>normál</option>
    <option value='1' <?=($article['a_priority']=="1"?"selected":"")?>>kiemelt</option>
   </select>
   &nbsp;Ha kiemelt a cikk, akkor az adott kategóriában biztosan legfelül jelenik meg a listában. Ha "Z" kategóriás, azaz szakmai oldalról van szó, akkor ez lesz ott a főcikk. FONTOS: a korábbi kategória-főcikk prioritását vegyük normálra ekkor. Egy kategóriában mind CSAK EGY cikk lehet kiemelt.
   <br>Ha nincs kiemelt cikk, mindig a legújabb a főcikk. A kiemelt "Z"-s cikk a főoldalon is megjelenik időrendben, (a kis képpel).
  </td>
 </tr>      
 <tr>
  <td align='right' width='200'><b>Sortörés (nl2br):</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left'>
   <select name='edt_nl2br'>
    <option value='yes' <?=($article['a_nl2br']=="yes"?"selected":"")?>>van</option>
    <option value='no' <?=($article['a_nl2br']=="no"?"selected":"")?>>nincs</option>
   </select>
  </td>
 </tr>    
 <tr>
  <td align='right' width='200'><b>HRPortal saját cikk:</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left'>
   <select name='edt_is_hrparticle'>
    <option value='yes' <?=($article['a_is_hrparticle']=="yes"?"selected":"")?>>Igen</option>
    <option value='no' <?=($article['a_is_hrparticle']=="no"?"selected":"")?>>Nem</option>
   </select>
  </td>
 </tr>    
 <tr>
  <td align='right' width='200'><b>Listázható:</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left'>
   <select name='edt_is_visited'>
    <option value='1' <?=($article['a_is_visted']=="1"?"selected":"")?>>igen</option>
    <option value='0' <?=($article['a_is_visited']=="0"?"selected":"")?>>nem</option>
   </select>
  </td>
 </tr>    
 <!--<tr>
  <td align='right' width='200' bgcolor='#ace6ac'><b>Kulcsszavak:</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#ace6ac'>
   <textarea name='edt_keyword1' style="width:110px;height:25px;"><?=$article['a_keyword1']?></textarea> 
   <textarea name='edt_keyword2' style="width:110px;height:25px;"><?=$article['a_keyword2']?></textarea>
   <textarea name='edt_keyword3' style="width:110px;height:25px;"><?=$article['a_keyword3']?></textarea>
   <textarea name='edt_keyword4' style="width:110px;height:25px;"><?=$article['a_keyword4']?></textarea>
   <textarea name='edt_keyword5' style="width:110px;height:25px;"><?=$article['a_keyword5']?></textarea>
  </td>
 </tr>
 -->  
  <tr>
  <td align='right' width='200' bgcolor='#ace6ac'><b>Kulcsszavak:</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#ace6ac' >
	  <?
		echo"<div id=\"keywordplace\">&nbsp;</div>";
		echo"<div id=\"helpdiv\">&nbsp;</div>";
		echo"<div style=\"clear:both;height:10px;\"></div>";
		echo"<div><div style=\"width:100px;float:left;\">Új kulcsszó:</div>
		<div style=\"width:150px;float:left;\"><input type=\"text\" id=\"newkeyword\" /></div>
		<div style=\"width:100px;float:left;border:1px solid #000;text-align:center;cursor:pointer;background-color:#fff;height:17px;\" onclick=\"javascript:addtag(".$article['a_id'].");\">Hozzáad</div></div>";
	  ?>

  </td>
 </tr> 
  <tr>
  <td align='right' width='200' bgcolor='#ace6ac'><b>Kulcsszavakhoz kapcsolódó cikkek /a 30 legtöbbet olvasott az elmúlt 365 napról/</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#ace6ac' >
	  <?
		echo"<div id=\"keyarticle\">&nbsp;</div>";
		echo"<div id=\"helpkeydiv\">&nbsp;</div>";
		echo"<div style=\"clear:both;height:10px;\"></div>";
		
	  ?>

  </td>
 </tr> 
    
  <tr>
  <td align='right' width='200' bgcolor='#ace6ac'><b>Képek alternatív megjelenése:</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#ace6ac'>
   <textarea name='edt_picalttag' style="width:110px;height:25px;"><?=$article['a_picalttag']?></textarea> 
  </td>
 </tr> 
 <?php
 
   echo " <tr>
           <td align='right' width='200'><b>Szeretnék egy statikus fájlt is generálni a cikkről az alábbi könyvtárba:</b></td>
           <td width='2'><img src='../../images/pixel.gif'></td>
           <td align='left'>
            http://www.hrportal.hu/cikk/<input type='text' name='edt_static_dir' style='width: 100px;'>
            <br>(<b>Ékezet nélkül, csupa kisbetűvel, szóköz helyett aláhúzás!</b> Hagyd üresen, ha nem kívánsz élni a lehetőséggel!)
           </td>
          </tr>\n";    
           
 
  $res_editorial_q=mysql_query("SELECT start FROM articles_editorial_q WHERE article_id='".$article['a_id']."' ORDER BY start DESC") or die(mysql_error());
  if (mysql_num_rows($res_editorial_q)==0)
   {
    $def_editorial='no';
    $def_y=date("Y");
    $def_m=date("m");
    $def_d=date("d");
    $def_h=date("H");
   }
    else
   {
    $def_editorial='yes';
    $start=mysql_result($res_editorial_q,0,0); // 2004-05-07 06:00:00
    $def_y=substr($start,0,4);
    $def_m=substr($start,5,2);
    $def_d=substr($start,8,2);
    $def_h=substr($start,11,2);
   }
   
  $res_editorial_q=mysql_query("SELECT start FROM articles_editorial_q_index WHERE article_id='".$article['a_id']."' ORDER BY start DESC") or die(mysql_error());   
   if (mysql_num_rows($res_editorial_q)==0)
   {
    $def_editorial_i='no';
    $def_y_i=date("Y");
    $def_m_i=date("m");
    $def_d_i=date("d");
    $def_h_i=date("H");
   }
    else
   {
    $def_editorial_i='yes';
    $start_i=mysql_result($res_editorial_q,0,0); // 2004-05-07 06:00:00
    $def_y_i=substr($start_i,0,4);
    $def_m_i=substr($start_i,5,2);
    $def_d_i=substr($start_i,8,2);
    $def_h_i=substr($start_i,11,2);
   }
   
    $def_y_p=substr($article['a_date_publish'],0,4);
    $def_m_p=substr($article['a_date_publish'],5,2);
    $def_d_p=substr($article['a_date_publish'],8,2);
    $def_h_p=substr($article['a_date_publish'],11,2);
   
 ?>
 
  <tr>
   <td align='right' width='200'><b>Főcikk:</b></td>
   <td width='2'><img src='../../images/pixel.gif'></td>
   <td align='left'>
    <select name='edt_editorial'>
     <option value='no' <?=$def_editorial=='no'?'selected':''?>>ne legyen főcikk</option>
     <option value='yes' <?=$def_editorial=='yes'?'selected':''?>>legyen főcikk az alábbi időponttól:</option>
     <option value='nochange' <?=$def_editorial=='nochange'?'selected':''?>>nincs változás</option>
    </select>&nbsp;&nbsp;&nbsp;
    <select name='edt_e_year'>
     <?php
      for ($i=2003; $i<=date("Y")+1; $i++)
       {
        echo "<option value='$i'";
        if ($def_y==$i) echo " selected";
        echo ">$i</option>";
       }
     ?>
    </select>
   <select name='edt_e_month'>
    <option value='01' <?=($def_m==1?"selected":"")?>>január</option>
    <option value='02' <?=($def_m==2?"selected":"")?>>február</option>
    <option value='03' <?=($def_m==3?"selected":"")?>>március</option>
    <option value='04' <?=($def_m==4?"selected":"")?>>április</option>
    <option value='05' <?=($def_m==5?"selected":"")?>>május</option>
    <option value='06' <?=($def_m==6?"selected":"")?>>június</option>
    <option value='07' <?=($def_m==7?"selected":"")?>>július</option>
    <option value='08' <?=($def_m==8?"selected":"")?>>augusztus</option>
    <option value='09' <?=($def_m==9?"selected":"")?>>szeptember</option>
    <option value='10' <?=($def_m==10?"selected":"")?>>október</option>
    <option value='11' <?=($def_m==11?"selected":"")?>>november</option>
    <option value='12' <?=($def_m==12?"selected":"")?>>december</option>
   </select> 
   <select name='edt_e_day'>
    <?php
     for ($i=1; $i<=31; $i++)
      {
       $j=$i; if ($j<10) $j="0".$j;
       
       echo "    <option value='$j'";
       if ($i==$def_d) echo " selected";
       echo ">$j</option>\n";
      }
    ?>
   </select>. &nbsp;
   
   <select name='edt_e_hour'>
    <?php
     for ($i=0; $i<=23; $i++)
      {
       $j=$i; if ($j<10) $j="0".$j;
       
       echo "    <option value='$j'";
       if ($i==$def_h) echo " selected";
       echo ">$j</option>\n";
      }
    ?>   
   </select> óra 
             
   </td>
  </tr>  
 
 <tr>
   <td align='right' width='200'  bgcolor='#ace6ac'><b>Főcikk (Index Karrier):</b></td>
   <td width='2'><img src='../../images/pixel.gif'></td>
   <td align='left'  bgcolor='#ace6ac'>
    <select name='edt_editorial_i'>
     <option value='no' <?=$def_editorial_i=='no'?'selected':''?>>ne legyen főcikk</option>
     <option value='yes' <?=$def_editorial_i=='yes'?'selected':''?>>legyen főcikk az alábbi időponttól:</option>
     <option value='nochange' <?=$def_editorial_i=='nochange'?'selected':''?>>nincs változás</option>
    </select>&nbsp;&nbsp;&nbsp;
    <select name='edt_e_year_i'>
     <?php
      for ($i=2003; $i<=date("Y")+1; $i++)
       {
        echo "<option value='$i'";
        if ($def_y_i==$i) echo " selected";
        echo ">$i</option>";
       }
     ?>
    </select>
   <select name='edt_e_month_i'>
    <option value='01' <?=($def_m_i==1?"selected":"")?>>január</option>
    <option value='02' <?=($def_m_i==2?"selected":"")?>>február</option>
    <option value='03' <?=($def_m_i==3?"selected":"")?>>március</option>
    <option value='04' <?=($def_m_i==4?"selected":"")?>>április</option>
    <option value='05' <?=($def_m_i==5?"selected":"")?>>május</option>
    <option value='06' <?=($def_m_i==6?"selected":"")?>>június</option>
    <option value='07' <?=($def_m_i==7?"selected":"")?>>július</option>
    <option value='08' <?=($def_m_i==8?"selected":"")?>>augusztus</option>
    <option value='09' <?=($def_m_i==9?"selected":"")?>>szeptember</option>
    <option value='10' <?=($def_m_i==10?"selected":"")?>>október</option>
    <option value='11' <?=($def_m_i==11?"selected":"")?>>november</option>
    <option value='12' <?=($def_m_i==12?"selected":"")?>>december</option>
   </select> 
   <select name='edt_e_day_i'>
    <?php
     for ($i=1; $i<=31; $i++)
      {
       $j=$i; if ($j<10) $j="0".$j;
       
       echo "    <option value='$j'";
       if ($i==$def_d_i) echo " selected";
       echo ">$j</option>\n";
      }
    ?>
   </select>. &nbsp;
   
   <select name='edt_e_hour_i'>
    <?php
     for ($i=0; $i<=23; $i++)
      {
       $j=$i; if ($j<10) $j="0".$j;
       
       echo "    <option value='$j'";
       if ($i==$def_h_i) echo " selected";
       echo ">$j</option>\n";
      }
    ?>   
   </select> óra 
             
   </td>
  </tr>  
  
  <tr>
   <td align='right' width='200'><b>Cikk megjelenésének ideje:</b></td>
   <td width='2'><img src='../../images/pixel.gif'></td>
   <td align='left'>
       <select name='edt_p_year_i'>
     <?php
      for ($i=2003; $i<=date("Y")+1; $i++)
       {
        echo "<option value='$i'";
        if ($def_y_p==$i) echo " selected";
        echo ">$i</option>";
       }
     ?>
    </select>
   <select name='edt_p_month_i'>
    <option value='01' <?=($def_m_p==1?"selected":"")?>>január</option>
    <option value='02' <?=($def_m_p==2?"selected":"")?>>február</option>
    <option value='03' <?=($def_m_p==3?"selected":"")?>>március</option>
    <option value='04' <?=($def_m_p==4?"selected":"")?>>április</option>
    <option value='05' <?=($def_m_p==5?"selected":"")?>>május</option>
    <option value='06' <?=($def_m_p==6?"selected":"")?>>június</option>
    <option value='07' <?=($def_m_p==7?"selected":"")?>>július</option>
    <option value='08' <?=($def_m_p==8?"selected":"")?>>augusztus</option>
    <option value='09' <?=($def_m_p==9?"selected":"")?>>szeptember</option>
    <option value='10' <?=($def_m_p==10?"selected":"")?>>október</option>
    <option value='11' <?=($def_m_p==11?"selected":"")?>>november</option>
    <option value='12' <?=($def_m_p==12?"selected":"")?>>december</option>
   </select> 
   <select name='edt_p_day_i'>
    <?php
     for ($i=1; $i<=31; $i++)
      {
       $j=$i; if ($j<10) $j="0".$j;
       
       echo "    <option value='$j'";
       if ($i==$def_d_p) echo " selected";
       echo ">$j</option>\n";
      }
    ?>
   </select>. &nbsp;
   
   <select name='edt_p_hour_i'>
    <?php
     for ($i=0; $i<=23; $i++)
      {
       $j=$i; if ($j<10) $j="0".$j;
       
       echo "    <option value='$j'";
       if ($i==$def_h_p) echo " selected";
       echo ">$j</option>\n";
      }
    ?>   
   </select> óra 
             
   </td>
  </tr>  
  
  
  <tr>
   <td align='right' width='200' bgcolor='#eeeeee'><b>Cikk automatikus átadása:</b></td>
   <td width='2'><img src='../../images/pixel.gif'></td>
   <td align='left' bgcolor='#eeeeee'>
    jobinfo, képzésinfo, topjob (karrier jellegű): <input type='checkbox' name='edt_rss_karrier' <?=($article['a_rss_karrier']=="yes"?"checked":"")?>> <br>
	napi percek (HR jellegű): <input type='checkbox' name='edt_rss_hr_napipercek' <?=($article['a_rss_hr_napipercek']=="yes"?"checked":"")?>> <br>
	napi online (HR jellegű): <input type='checkbox' name='edt_rss_hr_napionline' <?=($article['a_rss_hr_napionline']=="yes"?"checked":"")?>>
	</td>
  </tr> 
 <tr>
  <td align='right' width='200' bgcolor='#eeeeee'><b>Rövid cím:</b><li>A címlapon a főcikk<br><font color=red>(max 40 kar., 20 / sor)</font>,<li>a mellette lévő három cikk címe <br><font color=green>(<strong>max 30 kar.</strong> = 1 sor)</font>, <li>valamint az RSS ikonok feletti címlapi és aloldali két hír címe <br><font color=red>(<strong>max 45 kar.</strong> = 2 sor)</font><div id="edt_s_teaser_szam">Hátralev&#x0151; karaktersz&aacute;m: <b>45</b></div></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#eeeeee'><textarea name='edt_s_teaser' id='edt_s_teaser' style='width: 280px;height:40px;' onkeyup="preszamol('edt_s_teaser','45')"><?=$article['a_s_teaser']?></textarea> <input type='button' onClick='add_s_teaser_url();' value='Linket vinnék be'></td>
 </tr>         
 <tr>
  <td align='right' width='200' valign='top' bgcolor='#eeeeee'><b>Közepes Lead:</b><li>A főcikk, illetve a címlapon és aloldalakon a 150x100px méretű képek melletti lead (12 sor, kb. 380 karakter)<div id="edt_m_lead_szam">Hátralev&#x0151; karaktersz&aacute;m: <b>380</b></div></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#eeeeee'><textarea name='edt_m_lead' id='edt_m_lead' style='width: 220px; height: 106px;' onfocus="GetLastEntry('edt_m_lead');"  onkeyup="preszamol('edt_m_lead','380')"><?=$article['a_m_lead']?></textarea></td>
 </tr> 
  <tr>
  <td align='right' width='200' valign='top' bgcolor='#eeeeee'><b>Rövid Lead:</b><li>A címlapon a főcikk melletti 3 cikk leadje, <li>valamint a címlapi és aloldali 150x100px méretű kép melletti cikktől jobbra eső 2 friss cikk leadje (4 sor, kb. 110 karakter)<div id="edt_s_lead_szam">Hátralev&#x0151; karaktersz&aacute;m: <b>110</b></div></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#eeeeee'><textarea name='edt_s_lead' id='edt_s_lead' style='width: 185px; height: 56px;' onfocus="GetLastEntry('edt_s_lead');" onkeyup="preszamol('edt_s_lead','110')"><?=$article['a_s_lead']?></textarea></td>
 </tr> 
 <tr>
  <td align='right' width='200' bgcolor='#eeeeee'><b>Ajánlott cikkek azonosítója / Pöttyök:</b><li>Ide a cikkek ID-ja kerül, ami 4-5-6 jegyű szám a cikklinkek végén</td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#eeeeee'>
   <input type='text' name='edt_spot1' id='edt_spot1' size='15' value='<?=$article['a_spot1']?>'> <input type='text' name='edt_spot2' id='edt_spot2' size='15' value='<?=$article['a_spot2']?>'> <input type='text' name='edt_spot3' id='edt_spot3' size='15' value='<?=$article['a_spot3']?>'> 
  </td>
 </tr>  
 
 <tr>
  <td align='right' width='200' bgcolor='#eeeeee'><b>Cikken belüli keretes írás képe (ajánlott: 120*60-200px):</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#eeeeee'>
   <select name='edt_frame_pic_action'>
    <option value='no_action'>nincs változás</option>
    <option value='del'>töröl</option>
    <option value='new'>újat visz fel</option>
   </select>
   <input type='hidden' name='edt_frame_pic_filename' value='<?=$article['a_frame_pic']?>'>   
   <input type='file' name='edt_frame_pic' value='<?=$article['a_frame_pic']?>'>
  </td>
 </tr>  

 <tr>
  <td align='right' width='200' valign='top' bgcolor='#eeeeee'><b>Cikken belüli keretes írás szövege:</b><br>Kb. 0-300 karakter</td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#eeeeee'><textarea name='edt_frame_text' style='width: 400px; height: 80px;' onfocus="GetLastEntry('edt_frame_text');"><?=$article['a_frame_text']?></textarea></td>
 </tr>     
 
  <tr>
  <td align='right' width='200' bgcolor='#b7c8e5'><b>Főcikk képe a címlapon (ajánlott: 200*140px):</b></td>
  <td width='2'><img src='../../images/pixel.gif'></td>
  <td align='left' bgcolor='#b7c8e5'>
   <select name='edt_main_pic_action'>
    <option value='no_action'>nincs változás</option>
    <option value='del'>töröl</option>
    <option value='new'>újat visz fel</option>
   </select>
   <input type='hidden' name='edt_main_pic_filename' value='<?=$article['a_main_pic']?>'>   
   <input type='file' name='edt_main_pic' value='<?=$article['a_main_pic']?>'>
   <?=$article['a_main_pic'];?>
  </td>
 </tr>  
 <tr>
  <td colspan='2' height='80'><b> <a href="http://www.hrportal.hu<?=$article['link'];?>" target="_blank">Előnézet</a></td></b></td>
  <td align='center' height='80'>
   <input type='button' value='          Mehet          ' onClick='submit_frm_input()'>
  </td>
 </tr>
</table>
</form>

  </td>
  <td valign='top'>
  
<table border="0" cellspacing="0"
cellpadding="0">
<form>
<tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Félkövér"
name="B1" 
onclick="InsertHtml('1');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Dőlt" name="B2"
onclick="InsertHtml('2');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Új bekezdés"
name="B3" 
onclick="InsertHtml('3');"></td></tr><tr>

<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Lista" name="B4"
onclick="InsertHtml('4');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Sortörés"
name="B5" 
onclick="InsertHtml('5');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Középre zárás"
name="B6" 
onclick="InsertHtml('6');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Sorkizárás"
name="B7" 
onclick="InsertHtml('7');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Jobbra zárás"
name="B8" 
onclick="InsertHtml('8');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Internet link"
name="B9" 
onclick="InsertHtml('9');"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="E-mail link"
name="B10" 
onclick="InsertHtml('10');"></td>
</tr><tr>
<td>&nbsp;</td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Kép"
name="B14" 
onclick="InsertHtml('14');"></td>
</tr><tr>
<td>&nbsp;</td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Visszavonás"
name="B11" onclick="Undo();"></td>
</tr><tr>
<td valign="top" align="center"><input
type="button" width="130" 
style="width: 130" value="Mégis"
name="B12" onclick="Redo();"></td>
</tr>
</form>
</table>

  </td>
 </tr>
</table>  
<script language="JavaScript" type="text/javascript">
 var activt="frst";
document.getElementById(activt).focus();
function doprev(){
	var	options = 'width=800,height=600,resizable=1,scrollbars=1';
		 window.open('../index.phtml?page=article_pre', 'prev', options);
		
}
var elemname;
var f;
function szamol(f,elemname){
	var ertek;
	if(f=="edt_lead"){
		if(document.getElementById(f).value.match("<") && szamoloka=='1'){
			alert("LEAD Mezőben nem lehet szövegformázóelem (Pl. félkövér)");
			return 0;
		}
	}
	if(f=="edt_m_lead"){
		if(document.getElementById(f).value.match("<") && szamoloka=='1'){
			alert("Közepes LEAD Mezőben nem lehet szövegformázóelem (Pl. félkövér)");
			return 0;
		}
	}
	if(f=="edt_s_lead"){
		if(document.getElementById(f).value.match("<") && szamoloka=='1'){
			alert("KIS LEAD Mezőben nem lehet szövegformázóelem (Pl. félkövér)");
			return 0;
		}
	}

	if(f=="edt_s_teaser"){
		//alert(f);
		var re= /<\S[^><]*>/g;
		var temp;
		temp=document.getElementById(f).value;
		temp=temp.replace(re, "");
		ertek=temp.length;
	}
	else{
		ertek=document.getElementById(f).value.length;
	}
	var formname;
	forname=f+'_szam';
	var myDiv = document.getElementById(forname);
	var belertek=elemname-ertek;
	if(belertek<=0){
		if(f=="edt_lead" && szamoloka=='1'){
			alert("LEADben túl hosszú a szöveg");
			return 0;
		}
		if(f=="edt_m_lead" && szamoloka=='1'){
			alert("Közepes LEADben túl hosszú a szöveg");
			return 0;
		}
		if(f=="edt_s_lead" && szamoloka=='1'){
			alert("Rövid LEADben túl hosszú a szöveg");
			return 0;
		}
		if(f=="edt_s_teaser" && szamoloka=='1'){
			alert("A rövid címben túl hosszú a szöveg");
			return 0;
		}
		
	}
	else{
		return 1;	
	}
    myDiv.innerHTML = 'Hátralev&#x0151; karaktersz&aacute;m: <b>'+(elemname-ertek)+'</b>';
   
}

function preszamol(f,elemname){
	var ertek;
	
	if(f=="edt_s_teaser"){
		//alert(f);
		var re= /<\S[^><]*>/g;
		var temp;
		temp=document.getElementById(f).value;
		temp=temp.replace(re, "");
		ertek=temp.length;
	}
	else{
	     	ertek=document.getElementById(f).value.length
	}
	var formname;
	forname=f+'_szam';
	var myDiv = document.getElementById(forname);
	var belertek=elemname-ertek;
    	
	if((elemname-ertek)<0 && szamoloka=='1'){
		myDiv.innerHTML = 'Hátralev&#x0151; karaktersz&aacute;m: <b><span style="color:#FF0000;">'+(elemname-ertek)+'</span></b>';
	}else{
		myDiv.innerHTML = 'Hátralev&#x0151; karaktersz&aacute;m: <b>'+(elemname-ertek)+'</b>';
	}
}

preszamol('edt_lead','320');
preszamol('edt_s_teaser','45');
preszamol('edt_m_lead','380');
preszamol('edt_s_lead','110');



</script>
</body>
<?php
 mysql_close($db);
?>
