<?php
session_start();
//print_r($_SESSION);
 include "functions.php";
 if (isset($_POST['adm_passwd']) || $_POST['adm_passwd'] != ""){
	
		$usrow=db_row("select * from ps_user where u_login='".$_POST['adm_login']."' and status=1");
  		$passwd=$usrow['u_pass'];
		$passwd=substr($passwd,7);
   		if (crypt($_POST['adm_passwd'], $passwd) == $passwd){
			$_SESSION['planet'] = array("uid" => $usrow['id'],"csid" => $usrow['jcs_id'],"email" => $usrow['u_mail'],"element" => array());	
			if(date("H",time())>18 || date("H",time())<8){
				db_execute("insert into user_activity (user_id,rdate,megjegyzes,ip) values ('".$usrow['id']."',NOW(),'login - ".$usrow['u_realname']."','".$_SERVER['REMOTE_ADDR']."')");
			}
			//gonaplo("0","login","ok","Sikeres belépés");
		}
		else{
			//gonaplo("0","login","error",$_SERVER['REMOTE_ADDR']);
		}
   	}


 //require_once("../config.inc.php");
 //require_once("../library.inc.php");
 
if(isset($_GET['startdate11'])){$startdate=$_GET['startdate11'];}
else{$startdate=date("Y-m-d",time());} 
if(isset($_GET['enddate22'])){$enddate=$_GET['enddate22'];}
else{$enddate=date("Y-m-d",time());}

 

 
 $orderby=$_GET['orderby'];
 $order=$_GET['order'];
 $limit=$_GET['limit'];
 $article_id=$_GET['article_id'];
 $show=$_GET['show'];
 $filter_article_date=$_GET['filter_article_date'];
 $search_string=$_GET['search_string'];
 $search_what=$_GET['search_what'];
 $filter_cw_login=$_GET['filter_cw_login'];
 $filter_c_id=$_GET['filter_c_id'];
 
 if ($limit=="") $limit=10;
 if ($orderby=="") $orderby="a_id";
 if ($order=="") $order="desc";
 if ($show=="") $show="all"; 
 
 $md=date("Y-m-d",time())." 04:00:00";
 $chc=db_one("select count(id) from checklogin where ldate>'".$md."'");
 if($chc=="0"){
		db_execute("insert into checklogin values('',NOW(),'".session_id()."')");
}

if(date("H",time())>18 || date("H",time())<8){
	mysql_query("insert into user_activity (user_id,rdate,megjegyzes,ip) values ('".$_SESSION['planet']['uid']."',NOW(),'article search -  ".json_encode()."','".$_SERVER['REMOTE_ADDR']."')");
}


?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
<?
 header("Content-Type: text/html; charset=utf-8");
 setlocale(LC_CTYPE, 'hu_HU');

?>
    <title>HRP Admin</title>
    <link rel="STYLESHEET" type="text/css" href="style.css">
     <script type="text/javascript"  src="js/ajax.js">;</script>
 <script type="text/javascript" language="JavaScript"  src="js/plajax.js">;</script>
 		<link type="text/css" href="css/custom-theme/jquery-ui-1.8.7.custom.css" rel="stylesheet" />	
		<script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.8.7.custom.min.js"></script>
			<script type="text/javascript">
			jQuery(function($){
	$.datepicker.regional['hu'] = {
		closeText: 'bezárás',
		prevText: '&laquo;&nbsp;vissza',
		nextText: 'elöre&nbsp;&raquo;',
		currentText: 'ma',
		monthNames: ['Január', 'Február', 'Március', 'Április', 'Május', 'Június',
		'Július', 'Augusztus', 'Szeptember', 'Október', 'November', 'December'],
		monthNamesShort: ['Jan', 'Feb', 'Már', 'Ápr', 'Máj', 'Jún',
		'Júl', 'Aug', 'Szep', 'Okt', 'Nov', 'Dec'],
		dayNames: ['Vasárnap', 'Hétfö', 'Kedd', 'Szerda', 'Csütörtök', 'Péntek', 'Szombat'],
		dayNamesShort: ['Vas', 'Hét', 'Ked', 'Sze', 'Csü', 'Pén', 'Szo'],
		dayNamesMin: ['V', 'H', 'K', 'Sze', 'Cs', 'P', 'Szo'],
		weekHeader: 'Hé',
		dateFormat: 'yy-mm-dd',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['hu']);
});
			
			
		  $(function() {$.datepicker.setDefaults($.datepicker.regional['hu']);var dates = $('#startdate,#startdate11,#enddate22').datepicker({defaultDate: "+1w",minDate:"-10y",changeMonth: true,changeYear: true,numberOfMonths: 1});});
	</script>
	
</head>
<body topmargin='0' leftmargin='0' marginheight='0' marginwidth='0' text='#000000' link='#000000' vlink='#000000' alink='#000000'>
<script language='Javascript'>
 function del(article_id)
  {
   if (confirm("Biztos, hogy törli a kijelölt cikket?"))
    {
     location.replace("do_delete.phtml?id="+article_id+"&limit=<?=$limit?>&show=<?=$show?>&search_string=<?=$search_string?>&search_what=<?=$search_what?>&filter_c_id=<?=$filter_c_id?>&filter_cw_login?>=<?=$filter_cw_login?>");
    }
  }
</script>
<div align='left'>

</div>
<div align='left'>
<?php
  /* id  category_id  teaser  lead  body  small_pic  small_pic_align  large_pic  large_pic_align
     date_added  date_last_modified  contentwriter_login  priority  click_counter  is_editorial  is_approved  */
?>
<form action='index.phtml' method='get' name='frm_index'>
 Rendezés <select name='orderby'>
  <option value='a_id' <?=($orderby=="a_id"?"selected":"")?>>sorszám</option>
  <option value='a_teaser' <?=($orderby=="a_teaser"?"selected":"")?>>cím</option>
  <option value='a_lead' <?=($orderby=="a_lead"?"selected":"")?>>lead</option>
  <option value='a_date_added' <?=($orderby=="a_date_added"?"selected":"")?>>dátum</option>
  <option value='a_date_last_modified' <?=($orderby=="a_date_last_modified"?"selected":"")?>>utolsó módosítás</option>
  <option value='a_priority' <?=($orderby=="a_priority"?"selected":"")?>>prioritás</option>
  <option value='a_click_counter' <?=($orderby=="a_click_counter"?"selected":"")?>>számláló (HRPortal.hu)</option>
  <option value='a_click_counter_telkes' <?=($orderby=="a_click_counter_telkes"?"selected":"")?>>számláló (Telkes)</option>
  <option value='a_click_counter_index' <?=($orderby=="a_click_counter_index"?"selected":"")?>>számláló (Index Karrier)</option>
  <option value='a_click_counter_toplist' <?=($orderby=="a_click_counter_toplist"?"selected":"")?>>heti számláló</option>
  <option value='c_name' <?=($orderby=="c_name"?"selected":"")?>>kategória</option>
  <option value='cw_shown_name' <?=($orderby=="cw_shown_name"?"selected":"")?>>cikk szerzőjének neve</option>
 </select> szerint, 
 <select name='order'>
  <option value='desc' <?=($order=="desc"?"selected":"")?>>csökkenő</option>
  <option value='asc' <?=($order=="asc"?"selected":"")?>>növekvő</option>
 </select> sorrendben, 
 <select name='limit'>
  <option value='5' <?=($limit=="5"?"selected":"")?>>5</option>
  <option value='10' <?=($limit=="10"?"selected":"")?>>10</option>
  <option value='20' <?=($limit=="20"?"selected":"")?>>20</option>
  <option value='50' <?=($limit=="50"?"selected":"")?>>50</option>
  <option value='100' <?=($limit=="100"?"selected":"")?>>100</option>
  <option value='5000' <?=($limit=="5000"?"selected":"")?>>5000</option>
 </select> db cikket megjelenítve, 
 <select name='show'>
  <option value='all' <?=$show=="all"?"selected":""?>>mindet</option>
  <option value='onlynotapproved' <?=$show=="onlynotapproved"?"selected":""?>>csak az újakat</option>
  <option value='onlyapproved' <?=$show=="onlyapproved"?"selected":""?>>csak a jóváhagyottakat</option>
 </select>
 <br>
 Keresés: <input type='text' name='search_string' value='<?=$search_string?>'> 
 <select name='search_what'>
  <option value='a_id' <?=($search_what=="a_id"?"selected":"")?>>sorszámot</option>
  <option value='a_teaser' <?=($search_what=="a_teaser"?"selected":"")?>>címben</option>
  <option value='a_lead' <?=($search_what=="a_lead"?"selected":"")?>>lead-ben</option>
  <option value='a_body' <?=($search_what=="a_body"?"selected":"")?>>body-ban</option>
 </select>
 &nbsp;&nbsp;
 Szűrés kategóriákra: 
 <select name='filter_c_id'>
  <option value='' <?=($filter_c_id==""?"selected":"")?>> - nincs - </option>
  <?php
   $res_opt=mysql_query("SELECT id, name FROM categories ORDER BY name") or die(mysql_error());
   while ($opt=mysql_fetch_array($res_opt))
    {
     echo "<option value='".$opt['id']."'";
     if ($opt['id']==$filter_c_id) echo " selected";
     echo ">".$opt['name']."</option>\n";
    }
  ?>
 </select>          
 &nbsp;&nbsp;
 Szűrés szerzőkre: 
 <select name='filter_cw_login'>
  <option value='' <?=($filter_cw_login==""?"selected":"")?>> - nincs - </option>
  <?php
   $res_opt=mysql_query("SELECT login, shown_name FROM contentwriters ORDER BY shown_name") or die(mysql_error());
   while ($opt=mysql_fetch_array($res_opt))
    {
     echo "<option value='".$opt['login']."'";
     if ($opt['login']==$filter_cw_login) echo " selected";     
     echo ">".$opt['shown_name']."</option>\n";
    }
  ?>  
 </select>
 <br />
<?

echo"<input type=\"text\" id=\"startdate11\" name=\"startdate11\" class=\"field\" value=\"".$startdate."\" style=\"width:100px;\" />-tól";

echo"<input type=\"text\" id=\"enddate22\" name=\"enddate22\" class=\"field\" value=\"".$enddate."\" style=\"width:100px;\" />-ig";
?>
 <select name='filter_article_date'>
  <option value='date_added' <?if ( $filter_article_date=="date_added"){echo " selected ";}?>> - Cikk hozzáadásának ideje - </option>
  <option value='date_modified' <?if ( $filter_article_date=="date_modified"){echo " selected ";}?>> - Cikk módosításának ideje - </option>
  
 </select>
 &nbsp;&nbsp;&nbsp;&nbsp;<input type='submit' value='        Mehet        '>      
</form>
</div>
<br>
<table width='100%' cellpadding='4' cellspacing='1' border='0'>
 <tr>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light' colspan='3'><b>Műveletek</b></td>  
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>#</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Státusz</b></td>  
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Kategória</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Cím</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Lead</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Cikktörzs</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Kis kép</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Nagy kép</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Dátum</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Utolsó módosítás</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Cikk megjelenése</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Cikk szerzője</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Prioritás</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Számláló</b></td>
  <td align='center' bgcolor='#547494' background='images/pixel.gif' class='light'><b>Heti számláló</b></td>
 </tr>

<?php

 $sql="SELECT
        a.id AS a_id,
        a.teaser AS a_teaser,
        a.lead AS a_lead,
        a.body AS a_body,
        a.small_pic AS a_small_pic,
        a.small_pic_align AS a_small_pic_align,
        a.large_pic AS a_large_pic,
        a.large_pic_align AS a_large_pic_align,
        a.date_added AS a_date_added,
        a.date_last_modified AS a_date_last_modified,
		a.date_publish AS a_date_publish,
        a.priority AS a_priority,
        ac.click_counter AS a_click_counter,
        ac.click_counter_telkes AS a_click_counter_telkes,
        ac.click_counter_index AS a_click_counter_index,
        ac.click_counter_toplist AS a_click_counter_toplist,
        a.is_editorial AS a_is_editorial,
        a.is_approved AS a_is_approved,
        c.name AS c_name,
        c.id AS c_id,
        cw.shown_name AS cw_shown_name,
        cw.login AS cw_login,
        l.link as link
       FROM
        (articles a LEFT JOIN categories c ON a.category_id=c.id)
       LEFT JOIN
        contentwriters cw ON a.contentwriter_login=cw.login
	   LEFT JOIN articles_counter ac on (a.id=ac.art_id) 
	   LEFT JOIN links l on (a.id=l.art_id)
	WHERE
        c.name<>'origo'
       AND
        c.name<>'fn'
       AND
        c.name<>'telkes'
       AND
        c.name<>'tnsz'
       AND
        c.name<>'tvg'
       AND
        c.name<>'tf'
       AND
        c.name<>'jf'
       AND
        l.def='1'
       AND
        c.name<>'pcs'
      
       ";
 
 if ($article_id!="")
  $sql.=" AND a.id='$article_id'";    
     
 if ($show=="onlynotapproved")
  $sql.=" AND a.is_approved='no' ";

 if ($show=="onlyapproved")
  $sql.=" AND a.is_approved='yes' ";
     
if ( $filter_article_date=="date_added"){
	if($startdate!=$enddate && strtotime($startdate)<strtotime($enddate)){
		$sql.=" AND a.date_added between '".$startdate." 00:00:00' and '".$enddate." 23:59:59' ";
	}
}
else{
	if($startdate!=$enddate && strtotime($startdate)<strtotime($enddate)){
		$sql.=" AND a.date_last_modified between '".$startdate." 00:00:00' and '".$enddate." 23:59:59' ";
	}
}
     
 if ($search_string!="")
  {
   switch ($search_what)
    {
     case "a_id": $sql.=" AND a.id='$search_string'"; break;
     case "a_teaser": $sql.=" AND a.teaser LIKE '%$search_string%'"; break;
     case "a_lead": $sql.=" AND a.lead LIKE '%$search_string%'"; break;
     case "a_body": $sql.=" AND a.body LIKE '%$search_string%'"; break;
     default: die("Error: invalid search_what value: ".$search_what);
    }
  }
  
 if ($filter_cw_login!="")
  $sql.=" AND cw.login='$filter_cw_login'";

 if ($filter_c_id!="")
  $sql.=" AND c.id='$filter_c_id'";
 

   
     
 $sql.=" group by a.id ORDER BY $orderby $order
       LIMIT $limit";

   //echo $sql;
 $res_article=db_execute($sql);

 while ($article=mysql_fetch_array($res_article))
  {
   if ($article['a_is_approved']=='yes')
    $status="jóváhagyva";
   else
    $status="";
   
   if ($article['a_small_pic_align']=='left') $article['a_small_pic_align']='bal'; else $article['a_small_pic_align']='jobb';
   if ($article['a_large_pic_align']=='left') $article['a_large_pic_align']='bal'; else $article['a_large_pic_align']='jobb';
   
   if ($article['a_is_editorial']=='yes')
    $bgcolor="#E0E0E0";
   else
    $bgcolor="#F0F0F0";
   
   if ($article['cw_login']=="hrportal")
    $bgcolor="#D6EBB5"; 
   if ($article['cw_login']=="hrportal" and $article['a_is_editorial']=='yes')
    $bgcolor="#C6DBA5";
    
	if($article['a_is_editorial']=="yes")	{
		$bgcolor="#ECCFB5";
	}
    
   echo "<tr>";
   if ($article['a_is_approved']=='yes')
    echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'><a href='do_approve.phtml?id=".$article['a_id']."&undo=yes&limit=$limit&orderby=$orderby&order=$order&show=$show&search_string=$search_string&search_what=$search_what&filter_c_id=$filter_c_id&filter_cw_login=$filter_cw_login' class='td'>Engedélyt<br>visszavon</a></td>";
   else
    echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'><a href='do_approve.phtml?id=".$article['a_id']."&limit=$limit&orderby=$orderby&order=$order&show=$show&search_string=$search_string&search_what=$search_what&filter_c_id=$filter_c_id&filter_cw_login=$filter_cw_login' class='td'>Engedélyez</a></td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'><a href='javascript:del(".$article['a_id'].");' class='td'>Töröl</a></td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>
   <a href='edit.phtml?id=".$article['a_id']."&limit=$limit&orderby=$orderby&order=$order&show=$show&search_string=$search_string&search_what=$search_what&filter_c_id=$filter_c_id&filter_cw_login=$filter_cw_login' class='td'>Módosít</a><br>
   <a href='do_editorial.phtml?edt_editorial_id=".$article['a_id']."' class='td' >Főcikk</a><br />
   <a href='http://www.hrportal.hu".$article['link']."' target=\"_blank\" >Előnézet - Link a cikkhez</a><br />
   
 
   </td>"; 
           
   
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_id']."</td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$status."</td>";   
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['c_name']."</td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='left' valign='top'>"./*substr(*/$article['a_teaser']/*,0,150)*/."</td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='left' valign='top'>".substr(strip_tags($article['a_lead']),0,150)."</td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='left' valign='top'>".substr(strip_tags($article['a_body']),0,150)."</td>";            
   if ($article['a_small_pic']!="")
    echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_small_pic']." (".$article['a_small_pic_align'].")</td>";            
   else
    echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>-</td>";
   if ($article['a_large_pic']!="")
    echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_large_pic']." (".$article['a_large_pic_align'].")</td>";            
   else
    echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>-</td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_date_added']."</td>";            
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_date_last_modified']."</td>";
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_date_publish']."</td>";             
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['cw_shown_name']."</td>";            
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_priority']."</td>";            
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'> HRP:".$article['a_click_counter']."<br> Telkes:".$article['a_click_counter_telkes']."<br> Index:".$article['a_click_counter_index']."<br></td>";            
   echo "<td bgcolor='$bgcolor' background='images/pixel.gif' align='center' valign='top'>".$article['a_click_counter_toplist']."</td>";            
   
   echo "</tr>";
  }                              
?> 
 
</table>
</body>
</html>
<?php
	if(!isset($_SESSION['listnez'])){
		include("check_articletime.php");
	}

 mysql_close($db);
?>
