#main_top_left
	{
	background-image: url(./images/focus_logo.gif);
	background-position: right bottom;
	background-repeat: no-repeat;
	}

#main_top_center
	{
	background-position: right bottom;
	background-repeat: no-repeat;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	}

#main_top_right
	{
	background-position: left bottom;
	background-repeat: no-repeat;
	}

#main_middle_left
	{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	}

#main_middle_center
	{
	background-position: right top;
	background-repeat: no-repeat;
	}

#main_middle_right
	{
	background-position: left top;
	background-repeat: no-repeat;
	}
