BODY 
	{
    color: #000000;
    font-size: 12px;
    font-family: Trebuchet MS;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
	}

TABLE {
    color: #000000;
    font-size: 12px;
    font-family: Trebuchet MS;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
	}
TABLE.JSep {
	margin: 20 0 10 0;
}

TABLE.JSep TH {
	padding: 3px;
	font-size: 8pt;
	font-weight: bold;
	background-color: #E0E0E0;
	color: #445566;

}

FORM
	{
	margin: 0px;
    color: #000000;
	font-size: 11px;
    font-family: Trebuchet MS;
	}

INPUT, SELECT, TEXTAREA
	{
    color: #000000;
	font-size: 11px;
    font-family: Trebuchet MS;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	}
	
.opciotska
	{
	background-color: #FFFFFF;
    color: #000000;
	font-size: 9px;
    font-family: Trebuchet MS;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	cursor:pointer;
	}

.text
	{
    color: #000000;
	font-size: 12px;
    font-family: Trebuchet MS;
	}

.textop
	{
    color: #003366;
	font-size: 12px;
    font-family: Trebuchet MS;
	}
	
.textupdate
	{
    color: #811D01;
	font-size: 12px;
    font-family: Trebuchet MS;
	}

#textupdate
	{
    color: #811D01;
	}

.border
	{
	border-width: 0px;
	border-style: solid;
	border-color: #CCCCCC;
	}

#line	
	{
	margin: 0px;
	color: #FFFFFF;
	height: 10px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #CCCCCC;
	}
	
#brline	
	{
	margin: 0px;
	color: #FFFFFF;
	height: 0px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #CCCCCC;
	}
.balmenu {
	font-family: Trebuchet MS; 
	font-size: 11px; 
	color: #ffffff; 
	text-decoration: none;
}
.balmenu:hover {
	font-family: Trebuchet MS; 
	font-size: 11px; 
	color: #f0f0f0; 
	text-decoration: none
}
.balalmenu {
	font-family: Trebuchet MS; 
	font-size: 11px; 
	color: #993300; 
	text-decoration: none;
	font-weight: normal;
}
.balalmenu:hover {
	font-family: Trebuchet MS; 
	font-size: 11px; 
	color: #909090; 
	text-decoration: none;
	font-weight: normal;
}
.balmenuaktiv {
	font-family: Trebuchet MS; 
	font-size: 11px; 
	color: #ffffff;
	font-weight: bold; 
	text-decoration: none;
}
a {
	color: #2065B4; 
	text-decoration: none;
}
a:hover {
	color: #2065B4; 
	text-decoration: none;
}

a.fooldal {
	font-family : Trebuchet MS;
	font-size : 12px;
	font-weight : bold;
	text-decoration : underline;
	color : #2065B4;
}
a.fooldal:hover {
	font-family : Trebuchet MS;
	font-size : 12px;
	font-weight : bold;
	text-decoration : underline;
	color : #2065B4;
}
a.fooldal:visited {
	font-family : Trebuchet MS;
	font-size : 12px;
	font-weight : bold;
	text-decoration : underline;
	color : #0E3A4D;
}

a.szelso {
	font-family : Trebuchet MS;
	font-size : 11px;
	font-weight : bold;
	text-decoration : none;
	color : #0E3A4D;
}
a.szelso:hover {
	font-family : Trebuchet MS;
	font-size : 11px;
	font-weight : bold;
	text-decoration : none;
	color : #2065B4;
}
