body, div, blockquote, table, tr, th, td, textarea, form, input, p, a {
  font-family: "Verdana";
  font-size: 11px;
  }

body {
  margin: 0;
  padding: 0;
  }

div {
  margin: 0;
  padding: 0;
  }

p.head {
  margin: 0;
  padding: 36px 0 0 40px;
  font-size: 11px;
  }
.foot {
  margin: 0;
  padding: 3px 0 0 40px;
  font-size: 11px;
  }  
#hirblock {
  background: #dedede;
  margin: 10px 10px 10px 30px;
  padding: 10px;
  font-size: 10px;
  }
  
#hirblock a{
	 color: #000000;
  text-decoration: none;
  }

  
#block {
  background: #dedede;
  margin: 10 10 10 60;
  padding: 10;
  font-size: 10px;
  }
#kimondta {
  margin: 10 0 0 0;
  text-align: right;
  }
#mitmondott {
  margin: 0;
  color: #444444;
  }
#szovegblock {
  margin: 10 10 10 60;
  padding: 10;
  font-size: 10px;
  }
#szoveg {
  margin: 10 0 0 0;
  }
#ps {
  background: #dedede;
  }
#ptl {
  background: #eeeeee;
  }

/* menu */
  .menu {
    background: #fa7800;
    margin: 0;
    padding: 0;
  }
  .menupont {
    background: #fa7800;
    color: #000000;
    height: 30px;
    width: 170px;
  }
  #amenu {
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
  }
  #smenu {
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: #848484;
  }
  #line {
    height: 2px;
  }
  #tdspace {
    background: #fdbd80;
    width: 10px;
  }
  #tdmarkeron {
    background-image: url('images/menumarker.bmp');
    width: 30px;
  }
  #tdcontenton {
    background: #fdbd80;
    width: 130px;
  }
  #tdmarkeroff {
    background: #fb9d45;
    width: 30px;
  }
  #tdcontentoff {
    background: #fb9d45;
    width: 130px;
  }

/* header */
  .header {
    background: #535353;
    color: #ffffff;
    text-align: center;
  }
  a.header {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
  }

/* content */
  .content {
    margin: 6 0 6 0;
    padding: 0;
    background: #eae9e7;
    color: #000000;
  }

/* footer */
  .footer {
    background: #535353;
    height: 38px;
    color: #ffffff;
    text-align: center;
  }

/* tags */

