.mainkeret {
  background-image: url(images/maintop.gif);
  background-repeat: repeat-x;
  width: 476px;
  padding: 0;
}

.mainbelul {
  width: 468px;
  padding: 8;
}

.maintext {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 10px;
  color: #442D18;
  text-decoration: none;
}

.DefaultText {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #442D18;
}

.redtext {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 10px;
  color: #E60000;
}

.maintextbold {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #442D18;
  font-weight: bold;
}

.mainfocim {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #442D18;
  font-weight: bold;
}

.mainalcim {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #442D18;
  font-weight: bold;
}

.modul {
  font-weight: bold;
}

.menubuttonline {
  color: #bead75;
  font-size: 11px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-weight: bold;
}

.hr {
  color: #996633;
  background-color: #996633;
  height: 1px;
}

